Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Import from core when std is not available
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Import from core when std is not available
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Return error instead of default value
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Return error instead of default value
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Pass SizeLength by value
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Pass SizeLength by value
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use `size_length` instead of the removed `map_size_length`
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Minor correction in docs
  src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Minor correction in docs
  smart-contracts/contracts-common/src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Output randomness used in commitments when creating credentials.
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Store commitment randomness.
  mobile_wallet/src/lib.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-src/id/src/account_holder.rs
  rust-src/pedersen_scheme/src/randomness.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  CHANGELOG.md
Due: none

Update changelog.
  CHANGELOG.md
Due: none

A bit of documentation.
  rust-src/id/src/account_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/id/src/account_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove obsolete comments.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

added accountinfo and bakerino types to queries
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Remove obsolete comments. (#51)
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

refactor accountinfo and bakerinfo into accounts.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

moved accountinfo and bakerinfo from types.hs to types.accounts
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Accounts/Releases.hs
Due: stack:build-and-test

cleaning up dead code/imports
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

cleaning up imports
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

updated cabal
  concordium-base.cabal
Due: none

Add derive Debug for the Address type
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add derive Debug for the Address type
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments on PR.
  CHANGELOG.md
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/create_credential-input.json
  rust-bins/wallet-notes/files/create_credential-input2.json
  rust-bins/wallet-notes/files/create_credential-output.json
  rust-bins/wallet-notes/files/create_credential-output2.json
  rust-bins/wallet-notes/files/create_encrypted_amount-input2.json
  rust-bins/wallet-notes/files/create_encrypted_amount-output2.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-output2.json
  rust-src/id/src/account_holder.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removed commented out imports
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

types in queries made strict
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add schematype and partial order for addresses
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/src/schema.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add schematype and partial order for addresses
  CHANGELOG.md
  src/schema.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support hashmaps using fnv hasher
  CHANGELOG.md
  Cargo.toml
  src/impls.rs
  src/schema.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support hashmaps using fnv hasher
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/schema.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a few trait implementations and a bit of type safety.
  rust-src/aggregate_sig/Cargo.toml
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/lib.rs
  rust-src/crypto_common/src/lib.rs
  rust-src/crypto_common/src/types.rs
  rust-src/crypto_common_derive/src/lib.rs
  rust-src/encrypted_transfers/benches/enc_trans_benchmarks.rs
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/encrypted_transfers/src/lib.rs
  rust-src/encrypted_transfers/src/proofs/generate_proofs.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix an inadequate check in the idp library.
  idiss/CHANGES.md
  idiss/Cargo.toml
  idiss/ChangeLog.md
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move Concordium.Types.Instance from Concordium.GlobalState.Instance. Add some Eq and Show instances. Cabal file now generated with stack 2.7.1.
  concordium-base.cabal
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Instance.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add a few trait implementations and a bit of type safety. (#52)
  rust-src/aggregate_sig/Cargo.toml
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/lib.rs
  rust-src/crypto_common/src/lib.rs
  rust-src/crypto_common/src/types.rs
  rust-src/crypto_common_derive/src/lib.rs
  rust-src/encrypted_transfers/benches/enc_trans_benchmarks.rs
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/encrypted_transfers/src/lib.rs
  rust-src/encrypted_transfers/src/proofs/generate_proofs.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix an inadequate check in the idp library. (#53)
  idiss/CHANGES.md
  idiss/Cargo.toml
  idiss/ChangeLog.md
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust version to 1.53.
  .github/workflows/build-test.yaml
  README.md
  idiss/Cargo.lock
  idiss/README.md
  rust-bins/Cargo.toml
  rust-bins/src/bin/keygen.rs
  rust-src/crypto_common/Cargo.toml
  rust-src/keygen_bls/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Appease clippy.
  identity-provider-service/src/bin/main.rs
  mobile_wallet/src/lib.rs
  rust-src/curve_arithmetic/src/curve_arithmetic.rs
  rust-src/ecvrf/src/proof.rs
  rust-src/elgamal/src/secret.rs
  rust-src/encrypted_transfers/src/proofs/generate_proofs.rs
  rustfmt.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Provide only the necessary JSON fields for contexts (#9)
  smart-contracts/.github/workflows/ci.yaml
  smart-contracts/cargo-concordium/CHANGELOG.md
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
