Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Addressed new comments
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Handle get_random call; add RNG to TestHost; add quickcheck flag to Reported
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update comments
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Increase cost of exchange the rate query.
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

Tests and bugfixes.
  concordium-consensus/testdata/contracts/v1/upgrading-cases-target.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-cases-target.wat
  concordium-consensus/testdata/contracts/v1/upgrading-cases.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-cases.wat
Due: none

More tests.
  concordium-consensus/testdata/contracts/v1/transfer-cases.wasm
  concordium-consensus/testdata/contracts/v1/transfer-cases.wat
  concordium-consensus/testdata/contracts/v1/upgrading-cases-target.wat
  concordium-consensus/testdata/contracts/v1/upgrading-cases.wasm
Due: none

Improve documentation.
  concordium-consensus/testdata/contracts/v1/transfer-cases.wat
  concordium-consensus/testdata/contracts/v1/upgrading-cases.wat
Due: none

Add unit test to make sure balance queries preserve state.
  concordium-consensus/testdata/contracts/v1/queries-cases.wasm
  concordium-consensus/testdata/contracts/v1/queries-cases.wat
Due: none

Add fourmolu config and CI workflow
  .github/workflows/fourmolu.yaml
  README.md
  fourmolu.yaml
Due: stack:build-and-test

Fix code issues related to formatter
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Address review comments
  .github/workflows/fourmolu.yaml
  README.md
Due: stack:build-and-test

Address comments from code review and update mobile wallet libs.
  mobile_wallet/CHANGELOG.md
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/prove-id-statement-input.json
  rust-bins/wallet-notes/files/prove-id-statement-output.json
  rust-src/id/src/id_proof_types.rs
  rust-src/id/src/id_prover.rs
  rust-src/id/src/id_verifier.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  mobile_wallet/src/lib.rs
  rust-src/id/src/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Don't check for formatter idempotence in CI
  .github/workflows/fourmolu.yaml
  README.md
Due: stack:build-and-test

Make CI build run after formatting
  .github/workflows/build-test-sources.yaml
  .github/workflows/fourmolu.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build-and-test

Make CI fail on warnings during build of haskell sources
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Fix haskell build warnings
  haskell-src/Concordium/Utils/Serialization/Put.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Moving versioned smart contract functions to contracts-common
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update readme with the move `rustfmt` job
  README.md
Due: none

Support chrono 4.23.
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support chrono 4.23.
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove account from statement context.
  mobile_wallet/src/lib.rs
  rust-src/id/src/id_proof_types.rs
  rust-src/id/src/id_prover.rs
  rust-src/id/src/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Increase mobile wallet lib version.
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments from code review.
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/prove-id-statement-input.json
  rust-bins/wallet-notes/files/prove-id-statement-output.json
  rust-src/id/src/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Build mobile lib .lock file.
  mobile_wallet/Cargo.lock
Due: none

Adjust domain seperation string for ID proofs and add global context to transcript.
  rust-src/id/src/id_prover.rs
  rust-src/id/src/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use hex encoding to display contract events and parameters.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Bump contract-common.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: none

Add helpers for checking types of addresses.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helpers for checking types of addresses.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Typo
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use flag to track RNG usage
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add TestHost constructors; fix benches
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change u32 to u16.
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change u32 to u16.
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  concordium-contracts-common/CHANGELOG.md
Due: none

Changelog.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
