Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

test
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/id/test.rs
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/id/constants.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-bins/src/bin/identity_provider_cli.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/id/identity_attributes_credentials.rs
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/wallet_library/src/default_wallet_config.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

todo
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

attrkind
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply feedback from PR review
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Fix build
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Update haskell-src/Concordium/Genesis/Data/P10.hs
  haskell-src/Concordium/Genesis/Data/P10.hs
Due: stack:build-and-test

Make value in AttributeKind non-public (#782)
  rust-bins/src/bin/identity_provider_cli.rs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/id/constants.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
  rust-src/concordium_base/src/id/id_verifier.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/wallet_library/src/default_wallet_config.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move prover and verifier to submodule (#778)
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed concordium_test macro
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removed ProtocolUpdateData
  haskell-src/Concordium/Genesis/Data/P10.hs
Due: stack:build-and-test

Convert sign hash to lazy
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Lint
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `Eq` and `PartialEq` instances to types
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

make attribute tags public
  rust-src/concordium_base/src/id/identity_attributes_credentials.rs
  rust-src/concordium_base/src/id/identity_attributes_credentials_stable_proof.hex
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

remove unnessary import
  haskell-src/Concordium/Genesis/Data/P10.hs
Due: stack:build-and-test

Fail when deserializing extended transaction block items prior to p10
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
Due: stack:build-and-test

Update changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

test
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change notion of sponsor signature optionality to empty map instead
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
Due: stack:build-and-test

Only change the serialized version of optional transaction signature
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

fix: add copy
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
