Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Move Instances and Wasm to concordium-node to prepare for view functions.
  concordium-base.cabal
  haskell-src/Concordium/Types/Instance.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Restructure wasm-chain-integration to be explicit about version number.
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/resumption.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/validation_tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Version exported names.
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Be extra careful to not leak memory.
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refactor how the host functions are shared to enable some of them to be used in v1 contracts
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename symbols and comments
  src/impls.rs
  src/schema.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename symbols and comments
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/schema.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

bump major version due to public API change
  Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

bump major version due to public API change
  smart-contracts/contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

renamed gtu to ccd
  smart-contracts/README.md
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/rust-contracts/example-contracts/counter/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/fib/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/lockup/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/rate-limited/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/src/lib.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/fuzz.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move UrlText and small updates
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

align examples dendency structure, update versions across the board
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/every-example/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/fuzz/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

Parameterize data structures by chain parameter versions and update tests.
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/ParametersSpec.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Revise account structures to support delegation.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Revert references to std lib to github
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removed commented relative paths to lib src
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

addded description to readme as alternative to commented relative paths to lib in smart contract examples.
  smart-contracts/README.md
Due: none

Fix warnings and code polish
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/ParametersSpec.hs
Due: stack:build-and-test

Add test cases for P4.
  haskell-tests/Spec.hs
  haskell-tests/Types/ParametersSpec.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Describe keys that are generated by user_cli
  rust-bins/docs/user-cli.md
Due: none

Add clarification of intent for keys.
  rust-bins/docs/user-cli.md
Due: none

Introduce types for parameters and entrypoints.
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce types for parameters and entrypoints.
  src/impls.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce v1 version of the host.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/resumption.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation link
  rust-bins/docs/user-cli.md
Due: none

Fix typo.
  rust-bins/docs/user-cli.md
Due: none

Re-structure update payload a little bit and adjust tests accordingly.
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Fix warnings.
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Fix test warnings.
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Spec.hs
Due: stack:build-and-test

Pop stashed changes
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Fixed merge
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Added type JustForCPV1
  concordium-base.cabal
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolVersion/JustForCPV1.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

`AccountStakingInfo` related changes.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test
