Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

fix
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

fix
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  scripts/identity-provider-service.Dockerfile
Due: stack:build-and-test

fix
  .github/workflows/build-test-sources.yaml
  Cargo.toml
  identity-provider-service/README.md
  identity-provider-service/generate-testdata.sh
  idiss/README.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  idiss/Cargo.toml
  rust-src/concordium_base/src/id/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

fmt
  rust-src/concordium_base/src/id/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/benches/aggregate_signatures.rs
  rust-src/concordium_base/benches/compute_message.rs
  rust-src/concordium_base/benches/multiexp_bench.rs
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_non_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/utils.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/encrypted_transfers/mod.rs
  rust-src/concordium_base/src/id/id_verifier.rs
  rust-src/concordium_base/src/id/secret_sharing.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/random_oracle/mod.rs
  rust-src/concordium_base/src/sigma_protocols/vcom_eq.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/key_derivation/src/lib.rs
  rust-src/keygen_bls/src/lib.rs
  smart-contracts/contracts-common/Cargo.lock
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add token-unpause to token-operations union
  cbor-schema/plt.cddl
Due: none

Updated plt operations with revised pause/unpause operations
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make pause field in TokenModuleState optional
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Make pause field in TokenModuleState optional (#705)
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Fixed token pause/unpause CBOR
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Align unit tests to operation changes
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Adapt token pause/unpause events to changes representation
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Align token module state representation
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

golden tests for cbor encoding of events and ops
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

CBOR encode/decode roundtrip tests for events and operations
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

split tests into CBOR/JSON specific serialization tests.
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

golden tests for cbor encoding of events and ops (#707)
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

add pause/unpause encoding/decoding tests
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Update haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

format
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

improve error message for decodeTokenEventDetails
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Change pause/unpause encoding (empty map)
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

updated comment
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Add costs for pause/unpause.
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

add pause operation and event
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

update CBOR tests
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

extension of golden tests to pause/unpause
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Plt token pause operations/events (#703)
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Work on TokenId.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/InvokeContract.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  haskell-src/Concordium/Types/Tokens.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Types/Updates.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
