Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Consistent versioning.
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make the AR keygen tool interactive.
  rust-bins/docs/keygen.md
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Retry word entry on failure.
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Allow using the AR generator only with the system generator.
  rust-bins/docs/keygen.md
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document the genesis tool.
  haskell-src/Concordium/Genesis/Data/P1.hs
  rust-bins/docs/genesis-tool.md
  rust-bins/src/bin/genesis_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add small utility to combine credentials from the destkop wallet into a genesis account structure.
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix serialization of addresses.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Fix a serialization bug in passing the sender to smart contracts.
  concordium-consensus/testdata/contracts/send/src/lib.rs
  concordium-consensus/testdata/contracts/send/target/concordium/wasm32-unknown-unknown/release/send.wasm
  concordium-consensus/testdata/contracts/send/target/concordium/wasm32-unknown-unknown/release/send.wat
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rustfmt
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/curve_arithmetic/src/bls12_381_g1hash.rs
  rust-src/curve_arithmetic/src/bls12_381_g2hash.rs
  rust-src/dodis_yampolskiy_prf/src/secret.rs
  rust-src/elgamal/src/elgamal.rs
  rust-src/elgamal/src/message.rs
  rust-src/elgamal/src/public.rs
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/encrypted_transfers/src/lib.rs
  rust-src/encrypted_transfers/src/proofs/dlogaggequal.rs
  rust-src/encrypted_transfers/src/proofs/dlogeq.rs
  rust-src/encrypted_transfers/src/proofs/enc_trans.rs
  rust-src/encrypted_transfers/src/proofs/generate_proofs.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/benches/verify_cdi.rs
  rust-src/pedersen_scheme/src/key.rs
  rust-src/pedersen_scheme/src/randomness.rs
  rust-src/ps_sig/src/known_message.rs
  rust-src/ps_sig/src/public.rs
  rust-src/ps_sig/src/secret.rs
  rust-src/ps_sig/src/signature.rs
  rust-src/ps_sig/src/unknown_message.rs
  rust-src/random_oracle/src/lib.rs
  rust-src/sha_2/src/sha_2.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added use for ParseResult
  rust-src/crypto_common/src/encryption.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removed failure crate from rust-bins/
  rust-bins/Cargo.toml
  rust-bins/src/bin/trace_account.rs
  rust-bins/src/bin/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

updated the rust-embed dep in the identity provider Cargo.toml
  identity-provider-service/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changes according to review comments.
  rust-bins/src/bin/trace_account.rs
  rust-src/crypto_common/src/encryption.rs
  rust-src/crypto_common/src/serialize.rs
  rust-src/crypto_common/src/types.rs
  rust-src/crypto_common_derive/src/lib.rs
  rust-src/curve_arithmetic/src/curve_arithmetic.rs
  rust-src/dodis_yampolskiy_prf/src/errors.rs
  rust-src/ecvrf/src/errors.rs
  rust-src/ecvrf/src/proof.rs
  rust-src/ecvrf/src/public.rs
  rust-src/ecvrf/src/secret.rs
  rust-src/elgamal/src/cipher.rs
  rust-src/pedersen_scheme/src/errors.rs
  rust-src/ps_sig/src/errors.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed some compilation errors and a warning.
  rust-src/crypto_common/Cargo.toml
  rust-src/crypto_common/src/encryption.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CHANGELOG.md
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Prepare new release.
  CHANGELOG.md
  Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Prepare new release.
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix wrt. review comments.
  rust-src/curve_arithmetic/src/bls12_381_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update concordium-contracts-common dependency after release.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/fuzz/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix how IPS are queried to not rely on them being in order starting at 0.
  rust-bins/src/bin/client.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Verify that keys which are part of the keypair are mutually consistent.
  haskell-src/Concordium/Crypto/BlockSignature.hs
  haskell-src/Concordium/Crypto/VRF.hs
Due: stack:build-and-test

Add threshold parameter.
  rust-bins/src/bin/anonymity_revocation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Typo.
  rust-bins/src/bin/anonymity_revocation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Assume number of shares are at least threshold if no credential is provided, or if credential is initial.
  rust-bins/src/bin/anonymity_revocation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a few lines of explanation.
  rust-bins/src/bin/anonymity_revocation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add threshold parameter to anonymity revocation tool. (#41)
  rust-bins/src/bin/anonymity_revocation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add revocation threshold to the anonymity revocation record.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/main.rs
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/src/lib.rs
  rust-bins/src/bin/anonymity_revocation.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixing fuzzing scripts and README.
  smart-contracts/README.md
  smart-contracts/wasm-chain-integration/fuzz/scripts/generate-coverage.py
  smart-contracts/wasm-chain-integration/fuzz/scripts/wrapper.py
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
