Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

CBOR encoding/decoding for token-holder transaction.
  concordium-base.cabal
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Memo.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Update haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Expose the update sequence number for PLTs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Base support for P9 in concordium_base rust crate
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move PLT types from rust sdk to base
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/protocol_level_tokens/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_ref.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move function for building NextUpdateSequenceNumbers to node repo
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add CBOR-coding for transaction-holder reject reasons.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Add `RejectReason`: `TokenHolderTransactionFailed`
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Temporary fix for clippy
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update deps
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/common/encryption.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Implement remaining todos
  rust-src/concordium_base/src/protocol_level_tokens/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update ToProto instances for AccountInfo.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

feat(identity-provider-service): implement a rudimentary auth gate for the identity verifier form
  identity-provider-service/README.md
  identity-provider-service/html/attribute_form_with_login.html
  identity-provider-service/src/bin/identity_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support for GetTokenInfo.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

feat(identity-provider-service): Bump version to 0.6.0
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_ref.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add token holder reject reason
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

generate Cargo.lock
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
Due: cargo:test-idiss

fix
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

CBOR and schema for module state.
  cbor-schema/plt.cddl
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Update plt cddl with module specific event details
  cbor-schema/plt.cddl
Due: none

tokenModuleStateToBytes
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Address review comments
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move all events to the end of the file, remove obsolete unions
  cbor-schema/plt.cddl
Due: none

Add toJSON and fromJSON instances for AccountInfo
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Reduce iterations of slow property tests. Improve generators.
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/Crypto/VRF.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/AccountEncryptedAmountSpec.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
Due: stack:build-and-test

Generator optimization and iteration reduction.
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
Due: stack:build-and-test

Lint
  haskell-tests/Types/TransactionSerializationSpec.hs
Due: stack:build-and-test

Address comments.
  cbor-schema/plt.cddl
Due: none

Add toJson and fromJson instances for TokenInfo and TokenState
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Address review comments
  haskell-src/Concordium/Crypto/BlockSignature.hs
  haskell-src/Concordium/Crypto/ByteStringHelpers.hs
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/Crypto/SignatureScheme.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Memo.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  haskell-src/Concordium/Types/Tokens.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Address review comments
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Remove events related to balance changes
  cbor-schema/plt.cddl
Due: none

Update cddl decriptions
  cbor-schema/plt.cddl
Due: none

Add token governance transactions CBOR encoding/decoding.
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

json encode plt token holder operation
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

remove
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test
