Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

update grpc pointer and correct finalizerrounds field in tc def.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

Renaming in dlogaggequal.rs.
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogaggequal.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Renaming in enc_trans.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogaggequal.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogeq.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/encrypted_transfers/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename witness in types.rs.
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename witness more.
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Renaming in com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Renaming in identity_provider.rs and chain.rs
  rust-src/concordium_base/src/id/chain.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename in dlog_ed25519.rs.
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

ToJSON instance for BlockCertificates and revise types a bit.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

Cleanup some toProto and type definitions.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

Add missing Serialize instance for SuccessorProof.
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

Renaming in dlog_ed25519.rs
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add references to the bluepaper
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a 'CommissionRates' field to 'CurrentPaydayBakerPoolStatus'.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Undo some unecessary change.
  haskell-src/Concordium/Crypto/BlsSignature.hs
Due: stack:build-and-test

Update grpc module and clearify a comment.
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

update bluepaper references to use section titles
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogaggequal.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rename bench
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/aggr_dlog_commit_message.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo fmt
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

addressing comments
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/common.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/id/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

resolve comment
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support for epoch winning bakers and first block queries.
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Utils/InterpolationSearch.hs
Due: stack:build-and-test

Address review comments.
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries/KonsensusV1.hs
Due: stack:build-and-test

Small addition to the identity-provider-cli and user-cli docs
  rust-bins/docs/identity-provider-cli.md
  rust-bins/docs/user-cli.md
Due: none

Move sigma protocols out of ID folder.
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogaggequal.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogeq.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/generate_proofs.rs
  rust-src/concordium_base/src/encrypted_transfers/types.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/chain.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
  rust-src/concordium_base/src/id/id_prover.rs
  rust-src/concordium_base/src/id/id_verifier.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/mod.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/sigma_protocols/common.rs
  rust-src/concordium_base/src/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/sigma_protocols/mod.rs
  rust-src/concordium_base/src/sigma_protocols/sigma_test.rs
  rust-src/concordium_base/src/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix reference in benches.
  rust-src/concordium_base/benches/aggr_dlog_commit_message.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move sigma protocols out of encrypted transfers.
  rust-src/concordium_base/src/encrypted_transfers/proofs/generate_proofs.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/mod.rs
  rust-src/concordium_base/src/encrypted_transfers/types.rs
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
  rust-src/concordium_base/src/sigma_protocols/enc_trans.rs
  rust-src/concordium_base/src/sigma_protocols/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move range proof helper functions to range_proofs.rs.
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/id/id_prover.rs
  rust-src/concordium_base/src/id/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix variable name.
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
