Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Update concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Update concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/CHANGELOG.md
Due: none

Add helper function for checking contract chain query support in pv
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

add set padding to sm proof
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added Q to implicit generators.
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed comment in test.
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed markup.
  rust-src/bulletproofs/src/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduced txoutcome hash v1 and some type stuff.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Changed vec to slice.
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changed sets to contain scalars instead of u64s.
  rust-src/bulletproofs/benches/smp_bench.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change event has its own schema
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change event has its own schema
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduced TransactionSummaryV1 with an HashableTo instance which omits the exact reject reason.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Deriving some instances.
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Show
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Add doc comments to ReceiveInvocation
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

mention scalars in description
  rust-src/bulletproofs/src/lib.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Type plumbing.
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Fixed formatting.
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Relax restrictions on parameter/return value size and log count
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Wasm.hs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Enable support of queries in smart contract benchmarks
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement two simple account balance query unit tests
  concordium-consensus/testdata/contracts/v1/queries-account-balance.wasm
  concordium-consensus/testdata/contracts/v1/queries-account-balance.wat
Due: none

Add costs for smart contract queries
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

add blinding polynomial functions
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo fmt
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Range proof verifier uses modular IP verifier; naive verifier removed.
  rust-src/bulletproofs/benches/benches.rs
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

modularize range prover
  rust-src/bulletproofs/src/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address PR comments
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Wasm.hs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Some helper implementations.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Hashable instance for special outcomes.
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Documentation
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

A few docs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Simplified inner product verification and improved comments.
  rust-src/bulletproofs/src/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move outcomes version definitions where they should be.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Addressing comments.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Update smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Removed the more efficient range proof verification.
  rust-src/bulletproofs/benches/benches.rs
  rust-src/bulletproofs/src/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused imports
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Cleanup
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
