Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Make base64 optional
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update docs
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Simplify imports rested to std
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/traits.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document features
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Comments on features
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Allow not specifying state type param
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Allow not specifying low-level state type in derive macros if default type is used
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Smart contract workspace
  .github/workflows/build-test-smart-contracts.yaml
  smart-contracts/Cargo.toml
  smart-contracts/README.md
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/rust-toolchain.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-test/Cargo.toml
  smart-contracts/wasm-test/src/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Smart contracts build scripts
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

Use default parameter for state parameter
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: none

Exclude testdata/contracts from workspace
  smart-contracts/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add reject reason for lock creation with duration exceeding chain param
  CHANGELOG.md
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Changelog
  CHANGELOG.md
Due: none

Type constraints for rust managed ecp support
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Remove WASM quickcheck support
  smart-contracts/Cargo.lock
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

prevent the library from accepting degenerate PS signatures
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/id/identity_attributes_credentials.rs
  rust-src/concordium_base/src/id/test.rs
  rust-src/concordium_base/src/ps_sig/public.rs
  rust-src/concordium_base/src/ps_sig/secret.rs
  rust-src/concordium_base/src/ps_sig/signature.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/sigma_protocols/ps_sig_known.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix cargo doc compilation
  rust-src/concordium_base/src/id/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

prevent panics in IDP functions
  rust-src/concordium_base/src/id/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

harden inner product verification
  rust-src/concordium_base/src/bulletproofs/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

prevent IP verification from panicing due to truncated lr_vec
  rust-src/concordium_base/src/bulletproofs/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add ffi panic wrapper
  rust-src/concordium_base/src/id/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add regression test to verify_cdi
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/id/chain.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Verify that ar map is not empty
  rust-src/concordium_base/src/id/chain.rs
  rust-src/concordium_base/src/id/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix test
  rust-src/concordium_base/src/id/chain.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

remove unnecessary tests.
  rust-src/concordium_base/src/id/identity_attributes_credentials.rs
  rust-src/concordium_base/src/id/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add step deleting unused tools from CI ubuntu runner image
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Optimize V1 entry-size queries and extend backing-store FFI
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Optimize persisted V1 state entry reads
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-chain-integration/test-data/code/v1/state-entry-read-energy.wasm
  smart-contracts/wasm-chain-integration/test-data/code/v1/state-entry-read-energy.wat
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expand tests for recent read and size changes
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-chain-integration/test-data/code/v1/state-entry-read-energy.wasm
  smart-contracts/wasm-chain-integration/test-data/code/v1/state-entry-read-energy.wat
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add nested CBOR limit
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refactor nesting tracking
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add cbor tag decoder
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use tag decoder in cbor derive macros
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

don't assert error messages
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
