Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Doc
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

extra bench
  rust-src/aggregate_sig/benches/bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix test documentation to not mislead future readers.
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
Due: none

Bench fix
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose BakerKeysAdded and BakerKeysEvent from GRPC2.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Fix encrypted amount ToProto instance to include incoming amounts.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Move credIfFromRaw to Types.hs. [no ci]
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Fix errors which stemmed from upgrading grpc dep
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Name imported definitions.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Documentation
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Formatting
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

New couple of generators for timeoutIncrease and timeoutDecrease
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Fix another misleading comment in the tests. Add assertion.
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
Due: none

Addressing review comments in Updates.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Address review comments UpdateQueues
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Add documentation.
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation.
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Mostly complete documentation of V0 part. Hiding a lot of internal definitions.
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/resumption.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove some more unused code.
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Remove unnecessary comments and newlines.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Make the Get instance for ChainParameters more readable.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

IDP test data: change fail request idCredPub to avoid duplicate error
  identity-provider-service/data/fail_validation_request.json
Due: none

More doc.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Return null pointers on invalid input.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove pragma.
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Comments [no ci]
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Mention return of null pointers on failure. [no ci]
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Comment layoyt. [no ci]
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Change *mut to *const.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

TimeoutIncrease and Decrease endianness and coprime check.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Documentation and renaming of whenSupported functions.
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Documentation of V1 parts.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add README.
  smart-contracts/wasm-chain-integration/README.md
Due: none

Add CHANGELOG.
  smart-contracts/wasm-chain-integration/CHANGELOG.md
Due: none

Remove unused dependencies and bump bumpalo version.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/id/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix conversion error.
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Splice documentation
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Refer to splice doc in Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test
