Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

remove issuer from TokenState
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  rm_issuer_from_state.patch
Due: stack:build-and-test

minor changes resulting from grpc update
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

rename TOKEN -> TOKEN_UPDATE
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

use unsigned decimal fraction for token amount (#675)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor/composites.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update tests
  haskell-tests/Generators.hs
  haskell-tests/Types/CBOR.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

extend FromJSON instance
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

readd concordium-grpc-api
  concordium-grpc-api/.github/workflows/docs.yaml
  concordium-grpc-api/CHANGELOG.md
  concordium-grpc-api/LICENSE
  concordium-grpc-api/README.md
  concordium-grpc-api/google/protobuf/wrappers.proto
  concordium-grpc-api/grpc/health/v1/health.proto
  concordium-grpc-api/v2/concordium/health.proto
  concordium-grpc-api/v2/concordium/service.proto
  concordium-grpc-api/v2/concordium/types.proto
Due: stack:build-and-test

Address review comments.
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Genesis tool shows Create PLT authorizations (where present).
  haskell-bins/genesis/Genesis.hs
Due: stack:build-and-test

Revise the serialization of `AuthorizationsV1` for compatibility.
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Forward compatible PLT events
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

token amount decimals (#668)
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Cleanups in CBOR functionality (#676)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/contracts_common_types.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add governance account to init params of module
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  merge_tx.patch
  rm_issuer_from_state.patch
Due: stack:build-and-test

fix tests after rebase
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

add governanceAccount to cddl schema of init paramterers
  cbor-schema/plt.cddl
Due: none

add governance account to TokenModuleState
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

tokenHolderEffect -> tokenEffect
  haskell-src/Concordium/GRPC2.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

add account decoder
  base.patch
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Align naming
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Align JSON serialization of CborTokenHolder type
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add PG key functionality testing
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

appease clippy
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add tokenAccountAddressToBytes
  base.patch
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

code changes according to grpc changes
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Update changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

Address review comments
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump grpc and update rust-src accordingly.
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none
