Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

fix
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-bins/Cargo.lock
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor array
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

token amount cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Renaming
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/Tokens.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base_derive/src/cbor.rs
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor
  rust-src/Cargo.lock
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base_derive/Cargo.toml
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

tokenamount
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add token metadata url type
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

txn
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

txn
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  idiss/Cargo.lock
Due: cargo:test-idiss

fix
  rust-bins/Cargo.lock
Due: none

fix
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  mobile_wallet/Cargo.lock
Due: none

fix
  identity-provider-service/Cargo.lock
Due: none

fix
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

`TokenCreated` and ToProto definitions.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

COR-709: transfer/mint/burn costs
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

skip data item
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

tokens
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

tokens
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor/json encode/decode for `TokenMetadataUrl`
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

FMT
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

fix
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

COR-709: transfer/mint/burn costs (#656)
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

fix token amount display
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
Due: cargo:test-idiss
