Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

extending ProtocolVersion
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog edit
  rust-src/concordium_base/CHANGELOG.md
Due: none

changelog
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Serialize on TokenModuleCborTypeDiscriminator (#871)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Deserializtion that fails if bytes are remaining
  rust-src/concordium_base/src/common/serialize.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rename
  rust-src/concordium_base/src/common/serialize.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Deserialization that fails if bytes are remaining (#878)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/serialize.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Serialize implementation on FailureKind
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Implement serialize in FailureKind (#879)
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

pv
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Merkle proof schema parametrised by protocol version.
  haskell-src/Concordium/MerkleProofs.hs
  haskell-tests/ConcordiumTests/MerkleProofs.hs
Due: stack:build-and-test

compiles
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

new
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

fmt
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Ar/psr 43 use the rust maintained plt block state in the p11 block state (#882)
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Rust managed PLT constraint
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add CDDL for CIS-7 spec
  cddl/cis-7.cddl
Due: none

Rust maintained PLT state constraint
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Log method unlifted to IO
  haskell-src/Concordium/Logger.hs
Due: stack:build-and-test

fix
  haskell-src/Concordium/Logger.hs
Due: stack:build-and-test

Ar/psr 57 plt list query (#884)
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Log method unlifted to IO (#885)
  haskell-src/Concordium/Logger.hs
Due: stack:build-and-test

implementing Data.Serialize for query types
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Add RBAC structure to token state
  cddl/cis-7.cddl
Due: none

Add metadata update operation
  cddl/cis-7.cddl
Due: none

Add operations for updating access control and corresponding events
  cddl/cis-7.cddl
Due: none

review comment edits
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Add more structure to access control state
  cddl/cis-7.cddl
Due: none

Revise update role details
  cddl/cis-7.cddl
Due: none

fixcddl
  cddl/cis-7.cddl
Due: none

fix
  cddl/cis-7.cddl
Due: none

Fix ref
  cddl/cis-7.cddl
Due: none

Add revoke event
  cddl/cis-7.cddl
Due: none
