Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Add empty deserial implementation for `()`
  rust-src/concordium_base/src/common/serialize.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document token transfer policy for each lock operation
  cddl/cis-7.cddl
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Temporary fix for checkpointing-2 smart contract wasm test
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
Due: none

Extend token update with lock ops and optional token id for token ops
  cddl/README.md
  cddl/cis-7.cddl
  cddl/fixtures/lock-cancel.cbor
  cddl/fixtures/multi-token-update.cbor
  cddl/fixtures/single-token-update.cbor
Due: none

Rename meta-update
  cddl/cis-7.cddl
Due: none

Remove meta update, extend token update with tokenless
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/CBOR.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CDDL
  cddl/cis-7.cddl
Due: none

another cddl revision
  cddl/cis-7.cddl
Due: none

PR feedback
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Temporary fix for upgrading-inspect-module0 testdata
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module0.wasm
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module0.wat
Due: none

..
  cddl/cis-7.cddl
Due: none

Haskell/rust removal of meta update + name alignment
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Generators.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/CBOR.hs
  haskell-tests/Types/GRPC2Spec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Cleanup
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix metadata update representation
  rust-src/concordium_base/src/protocol_level_tokens/operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix discrepancies + readability
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

..
  rust-src/concordium_base/src/protocol_level_tokens/operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `operations` helper function to `transactions::send`
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: normalize line endings to LF
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: normalize line endings to LF
  rust-src/concordium_base/src/elgamal/secret.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: normalize line endings to LF
  rust-src/key_derivation/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: normalize line endings to LF
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

release
  smart-contracts/Cargo.lock
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release workflows
  .github/workflows/release-contracts-common-derive.yaml
  .github/workflows/release-contracts-common.yaml
  .github/workflows/release-wasm-chain-integration.yaml
  .github/workflows/release-wasm-transform.yaml
Due: stack:build-and-test

Release
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release
  .github/workflows/release-concordium-base-derive.yaml
  .github/workflows/release-concordium-base.yaml
  .github/workflows/release-contracts-common-derive.yaml
  .github/workflows/release-contracts-common.yaml
  .github/workflows/release-wasm-chain-integration.yaml
  .github/workflows/release-wasm-transform.yaml
Due: stack:build-and-test

Release
  rust-bins/Cargo.lock
Due: none

release
  .github/workflows/release-concordium-base-derive.yaml
  .github/workflows/release-concordium-base.yaml
  .github/workflows/release-contracts-common-derive.yaml
  .github/workflows/release-contracts-common.yaml
  .github/workflows/release-wasm-chain-integration.yaml
  .github/workflows/release-wasm-transform.yaml
Due: stack:build-and-test

Fix tags
  .github/workflows/release-wasm-chain-integration.yaml
  .github/workflows/release-wasm-transform.yaml
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
