Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Path conditions:
  init: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, rust-bins/wallet-notes/files/global.json, rust-bins/wallet-notes/id-request.json, idiss/*
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  stack:test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Addressed comments on MR.
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Added one assertion regarding verification of a credential with an existing RegId.
  rust-src/id/src/chain.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Format.
  rust-src/id/src/chain.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Minor change and format.
  rust-src/id/src/identity_provider.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fix type error that is generated by metering transformation of br_if instruction (CB-1177)
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add JSONKey instances for AccountAddress
  haskell-src/Concordium/ID/Types.hs
Due: init, stack:build, stack:test

Adding test for and fixing metering of br_if
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Formatting
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Implement instances manually
  haskell-src/Concordium/ID/Types.hs
Due: init, stack:build, stack:test

Not erroring on fromJSONKey
  haskell-src/Concordium/ID/Types.hs
Due: init, stack:build, stack:test

Fixing metering transformation for br_if instructions
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add a MonadPut for efficient serialization in a monadic context.
  concordium-base.cabal
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Utils/Serialization/Put.hs
Due: init, stack:build, stack:test

Fixing metering transformation for br_if instructions and adding test
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fixing test_block_br_if_2
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Deal with removed genesis parameters better in JSON deserialization.
  haskell-src/Concordium/Types/Parameters.hs
Due: init, stack:build, stack:test

Began on Haskell side of the credential changes, and some ffi on the Rust side.
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Concordium/ID/DummyData.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
  rust-src/id/src/ffi.rs
  rust-src/wallet/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

More ffi.
  rust-src/crypto_common/src/impls.rs
  rust-src/id/src/ffi.rs
  rust-src/wallet/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Make load_state consistent with get_parameter_section.
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fix benchmark program.
  smart-contracts/wasm-chain-integration/benches/code/instruction.wasm
Due: none

Minor change.
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: init, stack:build, stack:test

Add jenkinsfile for building cargo-concordium on Windows
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
Due: none

Add jenkinsjob for macos dist
  smart-contracts/cargo-concordium/macos-cargo-concordium.Jenkinsfile
Due: none

Minor changes.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

ADD jenkinsfile for linux build
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/macos-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
Due: none

Add equality implementation for the error type, useful for testing.
  smart-contracts/contracts-common/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add equality implementation for the error type, useful for testing.
  src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Introduce `ProtocolVersion`
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/DummyData.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
  package.yaml
Due: init, stack:build, stack:test
