Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Path conditions:
  init: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, rust-bins/wallet-notes/files/global.json, rust-bins/wallet-notes/id-request.json, idiss/*
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  stack:test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Cleanup various notes and provide a usable README.
  CONTRIBUTING.md
  NOTES.md
  README.md
  shell.nix
  stack
Due: none

Include link.
  README.md
Due: none

Add /lib to .gitignore.
  smart-contracts/.gitignore
Due: none

Update docker images to new syntax
  .gitlab-ci.yml
  scripts/identity-provider-service.Dockerfile
Due: none

Move SQL schema definition from concordium-node.
  concordium-base.cabal
  haskell-src/Concordium/Common/Time.hs
  haskell-src/Concordium/Crypto/ByteStringHelpers.hs
  haskell-src/Concordium/ID/DummyData.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/SQL/AccountTransactionIndex.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/DummyData.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/SmartContracts.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-src/Concordium/Utils/Serialization.hs
  haskell-src/Concordium/Wasm.hs
  haskell-src/Data/FixedByteString.hs
  haskell-tests/Types/TransactionGen.hs
  package.yaml
Due: init, stack:build, stack:test

Address code review comments.
  concordium-base.cabal
  haskell-src/Concordium/Crypto/ByteStringHelpers.hs
  haskell-src/Concordium/SQL/AccountTransactionIndex.hs
  haskell-src/Concordium/SQL/Helpers.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/DummyData.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Utils/Serialization.hs
  haskell-src/Data/FixedByteString.hs
Due: init, stack:build, stack:test

Make the more expensive FFI calls "safe".
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/Crypto/FFIDataTypes.hs
  haskell-src/Concordium/Crypto/Proofs.hs
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: init, stack:build, stack:test

Remove most uses of unsafeDupablePerformIO since they are likely unsafe.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-src/Concordium/Crypto/DummyData.hs
  haskell-src/Concordium/Crypto/Ed25519Signature.hs
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/Crypto/FFIDataTypes.hs
  haskell-src/Concordium/Crypto/FFIHelpers.hs
  haskell-src/Concordium/Crypto/Proofs.hs
  haskell-src/Concordium/Crypto/SHA256.hs
  haskell-src/Concordium/Crypto/VRF.hs
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Data/FixedByteString.hs
Due: init, stack:build, stack:test

feature: add more transaction types to `trace_account`
  rust-bins/src/bin/trace_account.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

README typo: wasm-interp -> wasm transform
  smart-contracts/README.md
Due: none

Move genesis tool to concordium-base
  concordium-base.cabal
  haskell-bins/generate-update-keys/Main.hs
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/AnonymityRevokers.hs
  haskell-src/Concordium/Types/IdentityProviders.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/SeedState.hs
  package.yaml
Due: init, stack:build, stack:test

Update README.md
  README.md
Due: none

Changed source of identity provider's public file
  scripts/identity-provider-service.Dockerfile
Due: none

Remove legacy finalization parameters
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: init, stack:build, stack:test

Support for multiple credentials on genesis accounts
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data.hs
Due: init, stack:build, stack:test

Make the amount delta parsing a bit clearer.
  rust-bins/src/bin/trace_account.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Limiting initial memory allocation to 2 pages.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/constants.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fixing out-of-bound slice accesses.
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Spacing
  smart-contracts/wasm-transform/src/artifact.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Moving initial-size-of-memory check to validator
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Move the initial memory size check to the earlies possible point.
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

One more out-of bounds fix
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Restructured credential deployment proofs and verification according to blue paper to cover the case of multi-credentials.
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Minor changes.
  rust-src/crypto_common/src/impls.rs
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test
