Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Use stack 2.7.5.
  concordium-base.cabal
Due: none

P6
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

undo
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Undo comment
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

Bump dependency to remove warning about security advisory.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Provide fourmolu with fixities to allow for running without cabal
  fourmolu.yaml
Due: stack:build-and-test

Towards support for new chain parameters.
  concordium-base.cabal
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  package.yaml
Due: stack:build-and-test

Address compiler errors.
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/Types/ProtocolVersion/TH.hs
  stack.yaml
Due: stack:build-and-test

Fix warnings.
  haskell-src/Concordium/Common/Version.hs
  haskell-src/Concordium/Utils.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Support aggregated signatures on messages that might be different.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of contracts-common for release.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of contracts-common for release.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix verification on the haskell side.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clippy.
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Appease fourmolu.
  haskell-src/Concordium/Common/Version.hs
  haskell-src/Concordium/Types/ProtocolVersion/TH.hs
Due: stack:build-and-test

Fourmolu
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
Due: stack:build-and-test

Make the serialization of JSON values according to the schema more ergonomic.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make the serialization of JSON values according to the schema more ergonomic.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix warnings in tests.
  haskell-tests/Types/AddressesSpec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Appease fourmolu.
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Update workflow to specify ghc 9.2.5
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Add conversions between ModuleReference and ModuleRef.
  rust-src/concordium_base/src/hashes.rs
  rust-src/concordium_base/src/smart_contracts.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump the contracts-common dependency.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-src/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helpers for update_credentials and update_credential_keys.
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revising chain parameters.
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Fix documentation.
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revisions
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Remove JustForCPV1 and some work on authorizations.
  concordium-base.cabal
  haskell-bins/generate-update-keys/Main.hs
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion/JustForCPV1.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  stack.yaml
Due: stack:build-and-test

Revise protocol version definition and fix some tests.
  haskell-bins/generate-update-keys/Main.hs
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Types/ParametersSpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Add 'transactionOutcomesVersion'.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Fix deployment configuration documentation for the identity provider service.
  identity-provider-service/deployment.md
  scripts/docker-compose.identity-provider-service.yaml
Due: stack:build-and-test

Formatting and add missing ToJSON instance for cpv2
  haskell-bins/generate-update-keys/Main.hs
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Make it clear that the verifier url must be public.
  identity-provider-service/deployment.md
  scripts/docker-compose.identity-provider-service.yaml
Due: stack:build-and-test

Use public image.
  scripts/docker-compose.identity-provider-service.yaml
Due: stack:build-and-test

Improve comments.
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Fix loading the project with HLS 9.2.5.
  haskell-src/Concordium/Utils/Serialization/Put.hs
Due: stack:build-and-test

Fix schema's to_json for contract addresses.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix schema's to_json for contract addresses.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix schema's to_json for contract addresses.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-src/Cargo.lock
Due: cargo:test-idiss

Fix Haskell formatting.
  haskell-src/Concordium/Utils/Serialization/Put.hs
Due: stack:build-and-test
