Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Clean up
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

UPDATE build artifacts should not be public in S3
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/macos-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
Due: none

Propagate changes to cargo-concordium.
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ensure valid names in new and add unchecked_new
  src/impls.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ensure valid names in new and add unchecked_new
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests for contract and receive names
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests for contract and receive names
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Propagate context changes to the binaries and update metering tests.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/counter/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/counter.wasm
  smart-contracts/wasm-chain-integration/benches/simple_game.wasm
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix clippy errors
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix clippy errors
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fix serialization of String, Contract- and ReceiveName
  smart-contracts/cargo-concordium/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serialization support for i/u128.
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serialization support for i/u128.
  src/impls.rs
  src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add i128 to schema types.
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add i128 to schema types.
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Output genesis hash
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

Documentation of Template Haskell functions.
  haskell-src/Concordium/Types/ProtocolVersion/TH.hs
Due: stack:build-and-test

Documentation. Remove dependency on singletons library.
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  package.yaml
Due: stack:build-and-test

Name, parameter, and contract address in contract reject info.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Drop DataKinds as a default extension.
  concordium-base.cabal
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  package.yaml
Due: stack:build-and-test

Updating examples according to latest concordium-std changes.
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add support for U128 and I128
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/src/schema_json.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expanding information passed into contract rejects.
  concordium-consensus/testdata/contracts/error_code/src/lib.rs
  concordium-consensus/testdata/contracts/error_code/target/concordium/wasm32-unknown-unknown/release/error_code.wasm
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add to changelog.
  CHANGELOG.md
Due: none

ADD ecr login stage
  mobile_wallet/scripts/android.Jenkinsfile
Due: none

Update examples to use the logger return value.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/counter/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/erc20/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/src/lib.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use U16 for Contract and ReceiveName schema types
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use U16 for Contract and ReceiveName schema types
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Serial for &str and simplify implementations
  src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Serial for &str and simplify implementations
  smart-contracts/contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
