Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Factored out dst for hashing to curve.
  rust-src/curve_arithmetic/src/bls12_381_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

BLS12381G2_XMD:SHA-256_SSWU_RO_ hash_to_field and map_to_curve
  rust-src/curve_arithmetic/src/bls12_381_g2hash.rs
  rust-src/curve_arithmetic/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Delete old README
  rust-src/curve_arithmetic/README_G1Hash.md
Due: none

Actually use 1000 digits of pi instead of 9999.
  rust-src/id/data/pi-1000-digits.dat
Due: none

Add AR and IP update types
  CHANGELOG.md
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Fix tests
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Undo changes to existing tags
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Fixed clear cofactor
  rust-src/curve_arithmetic/src/bls12_381_g2hash.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More test vectors and documentation
  rust-src/curve_arithmetic/src/bls12_381_g2hash.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt + clippy
  rust-src/curve_arithmetic/src/bls12_381_g2hash.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add hash to G2 to curve instance
  rust-src/curve_arithmetic/src/bls12_381_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix domain string
  rust-src/curve_arithmetic/src/bls12_381_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more options via command-line for easier scripting.
  rust-bins/src/bin/client.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make decodeMaybeEncrypted also tell if input was encrypted.
  haskell-src/Concordium/Utils/Encryption.hs
Due: stack:build-and-test

Ask for password twice in keygen and utils binaries. Cleanup anonymity revocation. Relates to issue 19 on GitHub.
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/anonymity_revocation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Adressed comments on PR.
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/utils.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refine the type and add documentation.
  haskell-src/Concordium/Utils/Encryption.hs
Due: stack:build-and-test
