Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Ar/cor 1781 clean up haskell cbor model to match cis 7 spec feature (#745)
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Additional CBOR test vectors.
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

COR-1863: Move BakerPoolInfo to rust-sdk
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update CHANGELOG
  rust-src/concordium_base/CHANGELOG.md
Due: none

COR-1863: Move BakerPoolInfo to rust-sdk (#749)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixtest
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

tag
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

map
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

move upward
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/mod.rs
  rust-src/concordium_base/src/common/upward.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cleanup
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  rust-src/concordium_base/src/common/upward.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Typo.
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: create release git action for concordium base derive
  .github/workflows/release-concordium-base-derive.yaml
  .gitignore
Due: stack:build-and-test

fix: add trigger for push to branch for now
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: remove release env
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: show current path
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: try to fix path
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: find out the right place
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: set working directory
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: set matching version
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: cleanup PR
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: revert version in base derive cargo
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: remove trailing pwd from testing
  .github/workflows/release-concordium-base-derive.yaml
Due: stack:build-and-test

fix: bump cargo version for concordium base derive to test release git action
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: bump version of base derive in other places
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add test for current account creation and account credential proof
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/identity_proofs.rs
  rust-src/concordium_base/src/id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

prover
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/credential_attribute_commitment.rs
  rust-src/concordium_base/src/id/mod.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

verifier
  rust-src/concordium_base/src/id/credential_attribute_commitment.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/id/credential_attribute_commitment.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix test case
  rust-src/concordium_base/src/id/identity_proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

prepare
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/mod.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

simplify
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

make copy of com_eq_sig
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig_pub.rs
  rust-src/concordium_base/src/sigma_protocols/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

attributes
  rust-src/concordium_base/src/id/identity_attributes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

attributes
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

attributes
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/identity_attributes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

adding release yaml
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test
