Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

feat: add event and operation for token metadata update
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixclippy
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Feature/plt scheduler port (#869)
  haskell-src/Concordium/Logger.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/composites.rs
  rust-src/concordium_base/src/common/cbor/contracts_common_types.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/common/cbor/serde.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/common/mod.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/common/upward.rs
  rust-src/concordium_base/src/protocol_level_tokens/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/web3id/v1/anchor.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

dump
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/state_dump.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/state_dump/shared.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/state_dump.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

dump
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

dump
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/state_dump.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/state_dump/shared.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo update -p bytes
  identity-provider-service/Cargo.lock
Due: none

cargo update -p bytes
  rust-bins/Cargo.lock
Due: none

Add RBAC operations in Haskell CBOR.
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Support RBAC events in CBOR encoding/decoding.
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

TokenAuthorizations
  cddl/cis-7.cddl
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Additional testing.
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

TokenAuthorizationsMap and tests
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Remove weird functions from Buffer trait
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/concordium_base/src/random_oracle/mod.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Mark TokenAdminRole as Copy
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: dead code flagedd by node release pipeline. Adding deadcode tag for now
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Relax Put/Get function signature
  rust-src/concordium_base/src/common/serialize.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revert "fix: dead code flagedd by node release pipeline. Adding deadcode tag …"
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add RBAC costs
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

Update schema.
  cddl/locks.cddl
Due: none

Changes to CBOR schema.
  cddl/locks.cddl
Due: none

Add type TokenAuthorizations with CBOR encoding
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_authorizations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fail if we use musl platform target
  Setup.hs
Due: stack:build-and-test

Allow missing role fields in CBOR encoding of TokenAuthorizations
  rust-src/concordium_base/src/protocol_level_tokens/token_authorizations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove musl build variant
  Setup.hs
Due: stack:build-and-test

Address review comments
  rust-src/concordium_base/src/protocol_level_tokens/token_authorizations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

upgrading to 1.88 rust version
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

print toolchain
  Setup.hs
Due: stack:build-and-test

Meta-update transaction types.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix fmt and doc.
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Protobuf support.
  haskell-src/Concordium/GRPC2.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Add TODOs.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Define internal serialization for TokenAuthorizations
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

UpdateMetada -> UpdateMetadata and fix CBOR encoding of TokenUpdateMetadataEventDetails
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Helpers for constructing meta operations and transactions.
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixrelease (#916)
  Setup.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
