Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Run cargo update
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: none

ToJSON instances for BakerRewardPeriodInfo and BakerInfo.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Formatting BakerInfo ToJSON
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

added a note about the interface
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

typo
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo fmt
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add benchmarks comparing PS and BBS signatures.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/fancy_sigs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address more review comments.
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_non_membership_proof.rs
  rust-src/concordium_base/src/id/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add Group trait with a blanket implementation Curve; use Group trait instead of Curve for sigma protocols, bulletproofs, etc.; add a sketch of implementing Group for dalek's ristretto
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/bulletproofs/inner_product_proof.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_non_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/utils.rs
  rust-src/concordium_base/src/curve_arithmetic/akrworks_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/curve25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
  rust-src/concordium_base/src/curve_arithmetic/secret_value.rs
  rust-src/concordium_base/src/ecvrf/mod.rs
  rust-src/concordium_base/src/ecvrf/secret.rs
  rust-src/concordium_base/src/elgamal/cipher.rs
  rust-src/concordium_base/src/elgamal/message.rs
  rust-src/concordium_base/src/elgamal/mod.rs
  rust-src/concordium_base/src/elgamal/public.rs
  rust-src/concordium_base/src/elgamal/secret.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
  rust-src/concordium_base/src/pedersen_commitment/commitment.rs
  rust-src/concordium_base/src/pedersen_commitment/key.rs
  rust-src/concordium_base/src/pedersen_commitment/randomness.rs
  rust-src/concordium_base/src/random_oracle/mod.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove the (de)`compressed` functions from the Curve trait.
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed bug where the user_cli tool could not accept the account flag
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added a changelog and bumped version
  rust-bins/CHANGELOG.md
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added lock file
  rust-bins/Cargo.lock
Due: none

Introduce some consensus v1 types in base (that are exposed by the api)
  concordium-base.cabal
  haskell-src/Concordium/Types/ConsensusV1.hs
Due: stack:build-and-test

Formatting
  haskell-src/Concordium/Types/ConsensusV1.hs
Due: stack:build-and-test

Rename things in sigma protocl trait.
  rust-src/concordium_base/benches/aggr_dlog_commit_point.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogaggequal.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogeq.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/chain.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/sigma_protocols/common.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

swap order of commit and challenge functions
  rust-src/concordium_base/src/id/sigma_protocols/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move some additional helper functions to base.
  concordium-base.cabal
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

Work on GetBlockCertificates.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

move back some unecessary types.
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

Update haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Define types and ToProto instances related to GetBlockCertificates query.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/KonsensusV1.hs
Due: stack:build-and-test

More renaming.
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/chain.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename extract_point to extract_commit_message.
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogaggequal.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogeq.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/sigma_protocols/common.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename in dlog.
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/encrypted_transfers/proofs/dlogeq.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
  rust-src/concordium_base/src/id/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename in vcom_eq.
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Renaming in com_eq* proofs.
  rust-src/concordium_base/src/encrypted_transfers/proofs/enc_trans.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change order of get_challenge and compute_commit_message.
  rust-src/concordium_base/src/id/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/id/sigma_protocols/com_ineq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix formatting.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Fix derivation macros with where clauses on types.
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix derivation macros with where clauses on types.
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add to changelog.
  concordium-contracts-common-derive/CHANGELOG.md
Due: none

Add to changelog.
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: none

Fix ToJSON instance for BakerRewardPeriodInfo.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

More complete fix.
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More complete fix.
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
