Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Address review comments
  rust-src/concordium_base/src/web3id/sdk/protocol.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Threshold deserialization (#799)
  rust-src/concordium_base/src/id/secret_sharing.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

simplify
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add supporting functionality around PLT-related types.
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

parametrize of TransactionSummaryVersion
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

new statement type
  rust-src/concordium_base/src/id/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

statement
  rust-src/concordium_base/src/id/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

proof
  rust-src/concordium_base/src/id/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Update haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

fix ToProto instance for SupplementedTransactionSummary
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

drop TransactionSummary0
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

move SupplementedTransactionSummary to Queries.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

update comments
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

cosmetics
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

explicitly export TOV3Sym0
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add `FailureKind`s for sponsored transactions.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

adding benchmark for attributes from identity credential
  rust-src/concordium_base/benches/verify_cdi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ar/cor 1973 web3id pr 3 (#796)
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/ps_sig/unknown_message.rs
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

docs
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rename
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

reset
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

move
  rust-src/concordium_base/src/web3id/sdk/mod.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

ar/cor 1973 Verifiable presentations V1 (#794)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/ps_sig/unknown_message.rs
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/proofs.rs
  rust-src/concordium_base/src/web3id/test.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
  rust-src/wallet_library/resources/web3_id_request_v1challenge.json
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/test_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rename
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

serial
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixes
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce types and compute anchor logic used in the verifiable presentation v1 protocol (RUN-49) (#789)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/anchor.rs
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/sigma_protocols/ps_sig_known.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

derive
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serde for cbor values (hex representation) to support serde for anchors
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
