Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Add mode unit tests for contract queries
  concordium-consensus/testdata/contracts/v1/queries-account-balance-missing-account.wasm
  concordium-consensus/testdata/contracts/v1/queries-account-balance-missing-account.wat
  concordium-consensus/testdata/contracts/v1/queries-account-balance-transfer.wasm
  concordium-consensus/testdata/contracts/v1/queries-account-balance-transfer.wat
  concordium-consensus/testdata/contracts/v1/queries-account-balance.wasm
Due: none

Moved functions into this repo for reusability
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/lib.rs
  concordium-contracts-common/src/schema_json.rs
  concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Moved functions into this repo for reusability
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added v3 schemas
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added v3 schemas
  concordium-contracts-common/src/schema_json.rs
  concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

modularize blinded inner product proof
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helper to serialize amounts in little endian.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Add unit test for smart contract query a contract balance
  concordium-consensus/testdata/contracts/v1/queries-contract-balance.wasm
  concordium-consensus/testdata/contracts/v1/queries-contract-balance.wat
Due: none

adjust evaluate_lx_rx_tx description
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

spell checking
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helper for serializing exchange rates for smart contracts
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Add more unit tests for queries
  concordium-consensus/testdata/contracts/v1/queries-contract-balance-missing-contract.wasm
  concordium-consensus/testdata/contracts/v1/queries-contract-balance-missing-contract.wat
  concordium-consensus/testdata/contracts/v1/queries-contract-balance-transfer.wasm
  concordium-consensus/testdata/contracts/v1/queries-contract-balance-transfer.wat
  concordium-consensus/testdata/contracts/v1/queries-contract-exchange-rates.wasm
  concordium-consensus/testdata/contracts/v1/queries-exchange-rates.wasm
  concordium-consensus/testdata/contracts/v1/queries-exchange-rates.wat
Due: none

Fixed comments.
  rust-src/bulletproofs/src/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add unit test ensuring queries fail prior to PV5
  concordium-consensus/testdata/contracts/v1/queries-all.wasm
  concordium-consensus/testdata/contracts/v1/queries-all.wat
Due: none

Improved comments for P' calculation.
  rust-src/bulletproofs/src/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests for relaxed sc restrictions
  concordium-consensus/testdata/contracts/v1/relaxed-restrictions.wasm
  concordium-consensus/testdata/contracts/v1/relaxed-restrictions.wat
Due: none

Add structs to reduce arg amount and make clippy happy
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce a helper struct to group configuration parameters.
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix typo in documentation.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Add constant for empty transaction outcomes.
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Use extend_from_slice instead of extend.
  rust-src/bulletproofs/src/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added tests for supplying many generators.
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Adjusted verifier.
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revisted comment.
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

replace transaction_to_json with parameters_to_json in mobile library
  mobile_wallet/CHANGELOG.md
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/parameters_to_json-input.json
  rust-bins/wallet-notes/files/parameters_to_json-output.json
  rust-bins/wallet-notes/files/transaction_to_json-output.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Removed unused error type.
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed typo.
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added functions for getting errors
  concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added functions for getting errors
  smart-contracts/contracts-common/concordium-contracts-common/src/versioned_schema_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixed benches.
  rust-src/bulletproofs/benches/set_proof_bench.rs
  rust-src/bulletproofs/benches/smp_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move V0 contract tests and add relaxed restrictions test
  concordium-consensus/testdata/contracts/relaxed-restrictions.wasm
  concordium-consensus/testdata/contracts/relaxed-restrictions.wat
Due: none

adapt prover to new interface
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

adapt prover comments
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

adapt tests
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo fmt
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix typo
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add create_unsigned_transaction to mobile library
  mobile_wallet/CHANGELOG.md
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/create_unsigned_transaction-input.json
  rust-bins/wallet-notes/files/create_unsigned_transaction-output.json
  rust-bins/wallet-notes/files/parameters_to_json-input.json
  rust-bins/wallet-notes/files/parameters_to_json-output.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add type for exchange rates
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add type for exchange rates
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
