Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Move `MonadProtocolVersion` into base.
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Bump changelog for release.
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add ToProto instances.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Use Either for credIdFromRaw.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Release contracts-common 5.2.0
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release contracts-common 5.2.0
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix date in changelog
  concordium-contracts-common/CHANGELOG.md
Due: none

Fix date in changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Allow duplicate requests as long as identities are not issued yet.
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `getGenesisConfigurationFlat`.
  haskell-src/Concordium/Genesis/Data/Base.hs
Due: stack:build-and-test

Add checked_sub
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add checked_sub
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Testnet variant.
  rust-bins/docs/user-cli.md
Due: none

Clarify and improve assertions in checkpointing test
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
Due: none

Add read and show instances.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Add instances.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/InvokeContract.hs
Due: stack:build-and-test

Remove ContractContext Show instance.
  haskell-src/Concordium/Types/InvokeContract.hs
Due: stack:build-and-test

Update rust-bins/docs/user-cli.md
  rust-bins/docs/user-cli.md
Due: none

Update user-cli.md
  rust-bins/docs/user-cli.md
Due: none

New parameters for deciding finalization committe eligibility
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

json renaming
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

fix doc
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Finalization parameters renaming and added a generator for it.
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

update grpc api
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Updates and grpc2
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

update grpc api
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Use BareBlockItem instead of SendBlockItemInput, delete the latter.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Fixup changes to the grpc2 and updates for finalization comm. params.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Cleanup
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Derive ToJSON for IpAddress.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Mobile wallet lib: Add support for parameter schema in parameter_to_json
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/parameter_to_json-legacy-input.json
  rust-bins/wallet-notes/files/parameter_to_json-module-input.json
  rust-bins/wallet-notes/files/parameter_to_json-parameter-input.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise core genesis parameters for new consensus protocol.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Genesis/Data/P5.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Conditionally.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Revise core genesis parameters for new consensus protocol.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Genesis/Data/P5.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Conditionally.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Update grpc dep
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Move FinalizationCommitteeParameters to root of cpv(from cpv2).
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Address review comments.
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Conditionally.hs
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
