Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Clippy.
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update to GHC 9.8.4 (lts-23.27)
  .github/workflows/build-test-sources.yaml
  .github/workflows/release-identity-provider-service.yaml
  concordium-base.cabal
  haskell-src/Concordium/Common/Amount.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Utils/Encryption.hs
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Types/AddressesSpec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  package.yaml
  stack.yaml
Due: stack:build-and-test

Re-introduce Eq for TokenId.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/InvokeContract.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  haskell-src/Concordium/Types/Tokens.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Fix tests.
  haskell-tests/Generators.hs
Due: stack:build-and-test

Update cbor-schema/plt.cddl
  cbor-schema/plt.cddl
Due: none

Update haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

implement encode/decodeEmptyMap
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

update golden tests
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Test format of TokenIds.
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Address review comments.
  haskell-src/Concordium/Types/Tokens.hs
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Add Rust tests.
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add one more test case.
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Proper cbor holder account in test
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Address comments.
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

emptyEventDetails
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

address review comments
  rust-bins/src/bin/identity_disclosure.rs
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update order in changelog
  rust-bins/CHANGELOG.md
Due: none

deduplicate
  rust-bins/src/bin/identity_disclosure.rs
  rust-bins/src/bin/pg_test_tool.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor drive empty structs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

indefinite length array;
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor drive empty structs (#712)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

indef length map
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

indef length map
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

use anyhow::Result
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add documentation
  rust-bins/docs/pg-test-tool.md
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

use existing encryption function
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

more context less die
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

docs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add toBytes and fromBytes to CBOR types
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

tokeninitparams
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
