Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Update edition to `2021` and set minimum rust version to `1.60`
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common-derive/src/lib.rs
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update edition to `2021` and set minimum rust version to `1.60`
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Rust versions in CI and add contributor section to README
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Rust versions in CI and add contributor section to README
  .github/workflows/linter.yml
  README.md
  concordium-contracts-common/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove the `sdk` feature
  .github/workflows/linter.yml
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common-derive/src/lib.rs
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove the `sdk` feature
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Stop using the `sdk` feature
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/concordium_base/src/id/id_prover.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Hide documentation
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Hide documentation
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions.
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions.
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-fuzz/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions of base, wasm, engine libraries to prepare for release.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump changelogs in preparation for release.
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Bump changelogs in preparation for release.
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common/CHANGELOG.md
Due: none

Remove no-longer-existing feature from the README.
  README.md
Due: none

Remove no-longer-existing feature from the README.
  smart-contracts/contracts-common/README.md
Due: none

Work.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
  rust-src/concordium_base/src/id/id_prover.rs
  rust-src/concordium_base/src/id/id_verifier.rs
  rust-src/concordium_base/src/id/sigma_protocols/vcom_eq.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/pedersen_commitment/key.rs
  rust-src/concordium_base/src/pedersen_commitment/randomness.rs
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serialization of ID credentials as well.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Rust fmt to `2023-04-01`
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Rust fmt to `2023-04-01` (#369)
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support GenesisData P6
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Explicit endianness for signature threshold (core genesis params v1)
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
Due: stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Adjust GasRewardsV1 name to GasRewardCPV2 to follow convention
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `toAccountStakingInfoP4`.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Removed Loggable.
  haskell-src/Concordium/Logger.hs
Due: stack:build-and-test

Address review comments
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add verifiable credential key derivation
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support verifiable credential keys in mobile
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump key_derivation dependency
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement serde for Duration using FromStr and Display
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement serde for Duration using FromStr and Display
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix doc comments
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove patch version of chrono to align with version used in concordium-base (js-sdk cannot compile otherwise due to base using newer features)
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove patch version of chrono to align with version used in concordium-base (js-sdk cannot compile otherwise due to base using newer features)
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move encryption key to index 1
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
