Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Path conditions:
  init: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, rust-bins/wallet-notes/files/global.json, rust-bins/wallet-notes/id-request.json, idiss/*
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  stack:test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Make serialization according to schema more efficient and robust against malformed input.
  src/impls.rs
  src/schema.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Make serialization according to schema more efficient and robust against malformed input.
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/schema.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add String type to schema
  smart-contracts/contracts-common/src/schema.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add String type to schema
  src/schema.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Start a changelog.
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/Cargo.toml
Due: init, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Start a changelog.
  CHANGELOG.md
  Cargo.toml
Due: init, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Update contract-common version
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: init, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add benchmark executing an empty loop.
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wasm
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

ADD jenkinsfiles for mobile wallet library
  mobile_wallet/scripts/android.Jenkinsfile
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

Fix genesis data serialization.
  haskell-src/Concordium/Genesis/Account.hs
Due: init, stack:build, stack:test

Increase the cost of a JUMP so that the cost is in-line with energy assignments.
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wasm
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Introduce P1 protocol version
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P0.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/ProtocolVersion/TH.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Utils/Serialization/Put.hs
  stack.yaml
Due: init, stack:build, stack:test

Add benchmarks for host functions
  smart-contracts/wasm-chain-integration/benches/code/host-functions.wasm
  smart-contracts/wasm-chain-integration/benches/code/host-functions.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

More HasMessageExpiry instances.
  haskell-src/Concordium/Types/Transactions.hs
Due: init, stack:build, stack:test

Fix benchmarks as well.
  haskell-bench/VerifyCredentialPerf.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: init, stack:build, stack:test

Generate full credential messages.
  haskell-src/Concordium/Types/DummyData.hs
  rust-bins/src/bin/generate_testdata.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Minor improvements to the tools.
  rust-bins/src/bin/client.rs
  rust-src/crypto_common/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Integrate credential expiry into block item.
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/ConcordiumTests/Crypto/FFIVerify.hs
  haskell-tests/Types/TransactionGen.hs
  rust-src/id/src/types.rs
  testdata/cdi-coms.bin
  testdata/cdi.bin
  testdata/cdi.json
  testdata/icdi.bin
  testdata/icdi.json
  testdata/testdata.bin
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Format.
  identity-provider-service/src/bin/main.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

WIP: Add credential deployment message expiry.
  CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/main.rs
  idiss/src/lib.rs
  idiss/src/nodejs_exports.rs
  rust-bins/Cargo.toml
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-src/crypto_common/src/types.rs
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
  rust-src/wallet/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fix genesis tool to output accountThreshold correctly.
  rust-bins/src/bin/genesis_tool.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Update wallet example files and add some documentation.
  .gitlab-ci.yml
  haskell-src/Concordium/Types/Transactions.hs
  identity-provider-service/data/identity_provider.pub.json
  identity-provider-service/generate-testdata.sh
  idiss/example.js
  idiss/files/anonymity_revokers.json
  idiss/files/ip_info.json
  rust-bins/wallet-notes/files/create_credential-input.json
  rust-bins/wallet-notes/files/create_credential-output.json
  rust-bins/wallet-notes/files/create_encrypted_transfer-output.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-output.json
  rust-bins/wallet-notes/files/create_sec_to_pub_transfer-output.json
  rust-bins/wallet-notes/id-request.json
  rust-src/crypto_common/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Use the appropriate type alias.
  haskell-src/Concordium/Types/Transactions.hs
Due: init, stack:build, stack:test

Make P0 backwards compatible
  .gitlab-ci.yml
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Wasm.hs
Due: init, stack:build, stack:test

Changing type of reject reasons from Word32 to Int32.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Wasm.hs
Due: init, stack:build, stack:test
