Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

init:
  stage: print-env
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  script:
  - rustc --version && cargo --version
  ...

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

stack:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

Introduce `ProtocolVersion`
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/DummyData.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
  package.yaml
Due: init, stack:build, stack:test

Adjusted things according to changes in concodium-consensus
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: init, stack:build, stack:test

New failure options.
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

Refine credentials event.
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

Allow global.get in offset expressions as allowed by the Wasm spec.
  smart-contracts/wasm-chain-integration/src/types.rs
  smart-contracts/wasm-transform/src/artifact_input.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/utils.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Signing account address instead of regid in credential deployment
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Concordium/Types/Execution.hs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
  rust-src/wallet/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Replace assertion with an ordinary error.
  rust-src/id/src/account_holder.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

clearer literals
  src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

clearer literals
  smart-contracts/contracts-common/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Minor change
  haskell-src/Concordium/ID/Types.hs
Due: init, stack:build, stack:test

Add wasm-chain-integration tests to CI
  smart-contracts/.gitlab-ci.yml
Due: none

Adjusted things according to comments on MR
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: init, stack:build, stack:test

Minor change
  haskell-src/Concordium/Genesis/Account.hs
Due: init, stack:build, stack:test

Another minor change
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

Remove unnecessary module scope and format
  smart-contracts/wasm-chain-integration/src/validation_tests.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Added payload and event types for doing credential key updates
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

Use little-endian serialization for SC addresses in encoding receive contexts
  haskell-src/Concordium/Wasm.hs
Due: init, stack:build, stack:test

Test correctness of receive contexts within smart contracts.
  concordium-consensus/testdata/contracts/send/Cargo.toml
  concordium-consensus/testdata/contracts/send/src/lib.rs
  concordium-consensus/testdata/contracts/send/target/concordium/wasm32-unknown-unknown/release/send.wasm
  concordium-consensus/testdata/contracts/send/target/concordium/wasm32-unknown-unknown/release/send.wat
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Introduced a few more trasaction reject reasons
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

Update haskell to LTS-17.4 (ghc 8.10.4)
  concordium-base.cabal
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
  package.yaml
  stack.yaml
Due: init, stack:build, stack:test

Documentation, serialization, and cleanup.
  CHANGELOG.md
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
  rust-bins/src/bin/client.rs
  rust-bins/wallet-notes/README.md
  rust-src/crypto_common/src/impls.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
  rust-src/wallet/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Make tools compile again. They need updating.
  rust-bins/Cargo.toml
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-src/id/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fix benchmarks.
  haskell-bench/VerifyCredentialPerf.hs
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/ID/Account.hs
Due: init, stack:build, stack:test

Path conditions:
  init: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, rust-bins/wallet-notes/files/global.json, rust-bins/wallet-notes/id-request.json, idiss/*
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  stack:test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
