Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Fix .lock file.
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: none

Use library function for random scalars.
  rust-src/eddsa_ed25519/src/dlog_ed25519.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/crypto_common/src/encryption.rs
  rust-src/ecvrf/src/public.rs
  rust-src/ecvrf/src/secret.rs
  rust-src/random_oracle/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce types for querying update sequence numbers and pending updates
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Update lock files to record the correct contracts-common version.
  identity-provider-service/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: none

Introduce concordium-base rust crate.
  rust-src/Cargo.lock
  rust-src/Cargo.toml
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/constants.rs
  rust-src/concordium_base/src/hashes.rs
  rust-src/concordium_base/src/internal.rs
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/smart_contracts.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
  rust-src/crypto_common/src/types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove duplicate definitions from the mobile wallet library.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused dependencies.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-src/Cargo.lock
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/bulletproofs/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/eddsa_ed25519/Cargo.toml
  rust-src/elgamal/Cargo.toml
  rust-src/id/Cargo.toml
  rust-src/ps_sig/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Be explicit about the purpose of the "free" function.
  rust-src/ffi_helpers/src/ffi_macros.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation.
  rust-src/concordium_base/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cleanup idiss as well.
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A bit more documentation, mark newtype wrappers as #[repr(transparent)]
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a TryFrom instance for EncodedPayload to safely construct it.
  rust-src/concordium_base/src/constants.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a few helper functions.
  rust-src/concordium_base/src/smart_contracts.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Unify versions of itertools.
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/encrypted_transfers/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update .lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: cargo:test-idiss

Take csprng as a parameter of the prove_dlog_ed25519 function.
  mobile_wallet/src/lib.rs
  rust-src/eddsa_ed25519/src/dlog_ed25519.rs
  rust-src/eddsa_ed25519/src/eddsa_ed25519.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation.
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/smart_contracts.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
  rust-src/crypto_common/src/serialize.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix the lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-src/Cargo.lock
Due: cargo:test-idiss

Introduce account version AccountV2 and protocol version P5.
  concordium-base.cabal
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P5.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  rust-src/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: stack:build-and-test

Add a helpful Into implementation.
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Return an address, and not the account index.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Expose some smart constructors.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused import.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Account version handling tweaks.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add wrapper type for all versions of chain parameters.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Add must_use to prevent common mistakes.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Feature gate the FFI exports.
  mobile_wallet/Cargo.lock
  rust-src/aggregate_sig/Cargo.toml
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
  rust-src/concordium_base/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/ecvrf/src/ecvrf.rs
  rust-src/eddsa_ed25519/Cargo.toml
  rust-src/eddsa_ed25519/src/eddsa_ed25519.rs
  rust-src/eddsa_ed25519/src/lib.rs
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/encrypted_transfers/src/lib.rs
  rust-src/id/Cargo.toml
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add signing and to_json to mobile library
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update documentation and add missing files
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/get_account_keys_and_randomness-input.json
  rust-bins/wallet-notes/files/get_account_keys_and_randomness-output.json
  rust-bins/wallet-notes/files/get_identity_keys_and_randomness-input.json
  rust-bins/wallet-notes/files/get_identity_keys_and_randomness-output.json
  rust-bins/wallet-notes/files/sign_transaction-input.json
  rust-bins/wallet-notes/files/sign_transaction-output.json
  rust-bins/wallet-notes/files/transaction_to_json-input.json
  rust-bins/wallet-notes/files/transaction_to_json-output.json
Due: none

Revert mistake in documentation
  rust-bins/wallet-notes/README.md
Due: none

format
  rust-src/bulletproofs/src/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add sign_message function
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/sign_message-input.json
  rust-bins/wallet-notes/files/sign_message-output.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add either adapter
  rust-src/id/src/sigma_protocols/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments.
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P5.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add simple interpreter
  rust-src/id/src/sigma_protocols/sigma_test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

host function for upgrade
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reject reasons
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

some values supporting the reject reasons.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test
