Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Test refactoring and finish tests for proticol version 4
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/ConcordiumTests/ID/Types.hs
  haskell-tests/Types/AccountEncryptedAmountSpec.hs
  haskell-tests/Types/AddressesSpec.hs
  haskell-tests/Types/Generators.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/RewardTypes.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Implement partial eq manually since hash is implemented manually.
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Just derive hash for account address for improved safety.
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Negative tests for payload serializationcon
  haskell-tests/Types/Generators.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Add minor helper types and functions. (#97)
  rust-src/Cargo.lock
  rust-src/crypto_common/Cargo.toml
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make seperate binaries meant for user and identity provider.
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement suggestions from review
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Make identity provider binary output anonymity revocation record.
  rust-bins/src/bin/identity_provider_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Output initial account keys.
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add readmes.
  rust-bins/docs/identity-provider-cli.md
  rust-bins/docs/user-cli.md
Due: none

Minor adjustment of readmes.
  rust-bins/docs/identity-provider-cli.md
  rust-bins/docs/user-cli.md
Due: none

Simplify generation of invalid payload
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Refine the tools to streamline the user experience.
  rust-bins/docs/identity-provider-cli.md
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More streamlining of the user tool, and user documentation.
  rust-bins/docs/user-cli.md
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce name for a tag.
  rust-bins/src/bin/identity_provider_cli.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  rust-bins/docs/user-cli.md
Due: none

Start redefining parameters for delegation.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Update user-cli.md
  rust-bins/docs/user-cli.md
Due: none

Polish the identity provider and user tools after feedback.
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Consistency.
  rust-bins/src/bin/identity_provider_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add lei to Haskell list as well.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Fix stupid typo.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Added to readme
  rust-bins/docs/identity-provider-cli.md
Due: none

Decrypt id-use-data if necessary.
  rust-bins/Cargo.lock
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Parameterize chain parameters by protocol version.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Support interruptable and resumable execution.
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Finish genesis data print functionality and some documentation
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Improve performance to previous levels.
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Hashable for AccountInformation
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

ChainParameter unit tests and bug fixes
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-tests/ConcordiumTests/ID/Types.hs
  haskell-tests/Generators.hs
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/AccountEncryptedAmountSpec.hs
  haskell-tests/Types/AddressesSpec.hs
  haskell-tests/Types/AmountSpec.hs
  haskell-tests/Types/ParametersSpec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/RewardTypes.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Parametrize additional types to support storing the entire artifact and config.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/resumption.rs
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/Cargo.toml
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make BlockSummary existential.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Fixed type checking
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Apply suggestions from code review
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Shorter BlockSummary parseJSON
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add explanation of adding commitments to idclient account-keys, so they can be imported into concordium-client
  rust-bins/id-client-notes/instructions.md
Due: none

Revise FFI in wasm_chain_integration to no longer use serialized artifacts.
  smart-contracts/wasm-chain-integration/src/ffi.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
