Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Update ref to concordium-contracts-common
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revert version bump
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revert version bump
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revert contracts-common bump
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

ToJsonErrorData with named fields
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

ToJsonErrorData with named fields
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

PR feedback
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

PR feedback
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove lifetime from errors
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove lifetime from errors
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add JSON serialization for ed255519<Role>.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Include reason for `ToJsonError::DeserialError`
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Include reason for `ToJsonError::DeserialError`
  concordium-contracts-common/src/schema_json.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document added code
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document added code
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Create abstraction for folding recursive error types into a single message
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Create abstraction for folding recursive error types into a single message
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document trait functions
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document trait functions
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Work on p5->p6 protocol update.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Fix recursion for nested errors
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix recursion for nested errors
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

P6 migration and definition.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Missing cases.
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Rename Identity -> Account for credential types to align terminology.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Comment on suppressing warning
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

SeedState migration for new consensus protocol.
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Fix formatting.
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Fix tag for serializing p6.
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

Make credential type a set instead of a list to conform with spec.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Auxiliary definitions.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement signer for secret keys only.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Verification returns a request.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

PR feedback
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

PR feedback
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Resolve TODOs.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
