Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Documentation and minor changes.
  smart-contracts/README.md
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/fuzz/fuzz_targets/interpreter.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Simplifying public use of `types` module.
  smart-contracts/wasm-chain-integration/fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Restoring lifetime uses in context-deserialization functions.
  smart-contracts/wasm-chain-integration/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Test vectors for expand message
  rust-src/curve_arithmetic/src/bls12_381_g1hash.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update genesis dockerfile build for github sources.
  scripts/genesis-tools.Dockerfile
Due: none

Test vectors for hash to field
  rust-src/curve_arithmetic/src/bls12_381_g1hash.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add jenkins pipeline for genesis-tools
  genesis-tools.Jenkinsfiles
Due: none

Update dockerfile
  genesis-tools.Jenkinsfiles
  scripts/genesis-tools.Dockerfile
Due: none

Pass base_ref from parameter
  genesis-tools.Jenkinsfiles
Due: none

Add comment
  genesis-tools.Jenkinsfiles
Due: none

Fix indentation
  genesis-tools.Jenkinsfiles
Due: none

Add jenkins pipeline for genesis-tools (#6)
  genesis-tools.Jenkinsfiles
  scripts/genesis-tools.Dockerfile
Due: none

Fix jenkinsfile name
  genesis-tools.Jenkinsfile
Due: none

Add docker buildkit
  genesis-tools.Jenkinsfile
Due: none

Copy source instead of re-cloning
  genesis-tools.Jenkinsfile
  scripts/genesis-tools.Dockerfile
Due: none

Fix copy paths
  genesis-tools.Jenkinsfile
  scripts/genesis-tools.Dockerfile
Due: none

Delete commented out lines
  scripts/genesis-tools.Dockerfile
Due: none

Fix genesis tools build process (#7)
  genesis-tools.Jenkinsfile
  scripts/genesis-tools.Dockerfile
Due: none

Add credentials to genesis-tools pipeline
  genesis-tools.Jenkinsfile
Due: none

Changed durationToNominalDiffTime
  haskell-src/Concordium/Common/Time.hs
Due: stack:build-and-test

Bounded instance for Duration
  haskell-src/Concordium/Common/Time.hs
Due: stack:build-and-test

Run workflows when switching status from draft to ready for review.
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build-and-test

Encrypt generated keys and support encrypted keys in the anonymity revocation tool.
  rust-bins/Cargo.toml
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/keygen.rs
  rust-src/crypto_common/src/encryption.rs
  rust-src/keygen_bls/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation of the key generation tool.
  rust-bins/docs/keygen.md
Due: none

Add a utility file to be able to encrypt and decrypt files.
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
