Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

setup xcframework build script
  mobile_wallet/.gitignore
  mobile_wallet/README.md
  mobile_wallet/ios/build-ios.sh
  mobile_wallet/ios/module.modulemap
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

Fix renaming in id
  rust-src/id/src/chain.rs
  rust-src/id/src/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

corrected the xcframework name in the readme
  mobile_wallet/README.md
Due: none

pull request corrections
  mobile_wallet/README.md
  mobile_wallet/ios/build-ios.sh
  mobile_wallet/scripts/build-ios.sh
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

Add thiserror for derive-serde
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add thiserror for derive-serde
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add missing functions from crypto_common
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add missing functions from crypto_common
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add test for create_failed_identity
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove From<u64> for Amount and add micro_ccd getter
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove From<u64> for Amount and add micro_ccd getter
  concordium-contracts-common/src/schema.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use from_micro_ccd instead of from
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-bins/src/bin/trace_account.rs
  rust-src/Cargo.lock
  rust-src/crypto_common/src/types.rs
  rust-src/encrypted_transfers/benches/enc_trans_benchmarks.rs
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/encrypted_transfers/src/lib.rs
  rust-src/encrypted_transfers/src/proofs/generate_proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Some additions to id client and cleanup. Add function for generating seed from words.
  rust-bins/Cargo.lock
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/Cargo.lock
  rust-src/crypto_common/src/serialize.rs
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Match serde implementation for Address with the one used by the node
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Match serde implementation for Address with the one used by the node
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of the derive, prepare for release.
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common-derive/README.md
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of the derive, prepare for release.
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/README.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of contracts-common to 3.1.
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of contracts-common to 3.1.
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix linting, bump MSRV to 1.56.
  .github/workflows/linter.yml
  README.md
  concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix linting, bump MSRV to 1.56.
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Correct the location of the README.
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Correct the location of the README.
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump the Rust version to 1.62, resolve clippy issues.
  smart-contracts/.github/workflows/ci.yaml
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/output.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Rust to 1.62, address new clippy warnings.
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
  README.md
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
  rust-src/bulletproofs/benches/benches.rs
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/crypto_common/src/serialize.rs
  rust-src/crypto_common/src/types.rs
  rust-src/crypto_common_derive/src/lib.rs
  rust-src/curve_arithmetic/benches/hash_bench.rs
  rust-src/curve_arithmetic/src/bls12_381_g1hash.rs
  rust-src/curve_arithmetic/src/secret_value.rs
  rust-src/ecvrf/src/public.rs
  rust-src/ecvrf/src/secret.rs
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/eddsa_ed25519/benches/eddsa_benchmarks.rs
  rust-src/elgamal/src/public.rs
  rust-src/elgamal/src/secret.rs
  rust-src/id/src/id_verifier.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/secret_sharing.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_enc_eq.rs
  rust-src/id/src/sigma_protocols/com_eq.rs
  rust-src/id/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/id/src/sigma_protocols/com_eq_sig.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/id/src/sigma_protocols/common.rs
  rust-src/id/src/sigma_protocols/dlog.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
  rust-src/keygen_bls/src/lib.rs
  rust-src/ps_sig/src/public.rs
  rust-src/random_oracle/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix documentation.
  smart-contracts/wasm-transform/src/output.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose AccountAddressParseError
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose AccountAddressParseError
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Serial and Deserial for ContractAddress
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix leftover Rust version number.
  idiss/README.md
Due: cargo:test-idiss

Fix windows build with Rust 1.62.
  concordium-base.cabal
  package.yaml
Due: stack:build-and-test

Impl more for OwnedContractName
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Impl more for OwnedContractName
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Serial and Deserial for ReceiveName and ContractName
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove patch version of quote and syn for derive crate
  concordium-contracts-common-derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove patch version of quote and syn for derive crate
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add get_alias for account address
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add get_alias for account address
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
