Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

P10 submodule update (#834)
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/DummyData.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

create alpha version
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update Cargo.lock
  rust-bins/Cargo.lock
Due: none

update Cargo.lock
  idiss/Cargo.lock
Due: cargo:test-idiss

update Cargo.lock
  mobile_wallet/Cargo.lock
Due: none

update Cargo.lock
  identity-provider-service/Cargo.lock
Due: none

change version
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

create 10.0.0-alpha.0 version (#835)
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Small fix
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add some formatting to trace
  rust-src/concordium_base/src/random_oracle/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

more formatting
  rust-src/concordium_base/src/random_oracle/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make context string optional
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/web3id/v1/anchor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo deny config
  deny.toml
Due: none

Add JSON instances for TransactionSignaturesV1
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Add JSON instances for TransactionSignaturesV1 (#838)
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

enable generic P10 tests
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

fix: cargo fmt & clippy recommendations
  identity-provider-service/Cargo.lock
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/aggregate_sig/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Dt/cor 2017 add trip wirestability tests to our aggregate signature proofs (#819)
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/common/helpers.rs
  rust-src/concordium_base/src/common/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix(identity-provider-service): Namespace env vars for simple auth
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/identity_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

create flag
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/README.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

apply refactor
  rust-src/concordium_base/README.md
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/encrypted_transfers/types.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/smart_contracts.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

appease clippy
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/common/cbor/serde.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/elgamal/errors.rs
  rust-src/concordium_base/src/encrypted_transfers/mod.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/constants.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/pedersen_commitment/errors.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

remove Upward from PLT types
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rejectreason
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rejectreason
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

event
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rejectreason
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

infallibleserialization
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

discr
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

infallible
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

bytesser
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Infallible CBOR serialization
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/composites.rs
  rust-src/concordium_base/src/common/cbor/contracts_common_types.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/common/cbor/serde.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/common/upward.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/common/cbor/encoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixes
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
