Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Fix wrong call
  idiss/src/cs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update version of concordium-base for release.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Updated changelog
  idiss/CHANGELOG.md
  idiss/Cargo.lock
  idiss/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changed pointers and updated changelog
  idiss/src/cs_exports.rs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/ffi_helpers/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Idiss.cs
  idiss-csharp/IdissLib/Idiss.cs
Due: none

Fix uint -> ulong
  idiss-csharp/IdissLib/Idiss.cs
Due: none

Fix comment
  rust-src/concordium_base/src/ffi_helpers/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change to minor bump
  idiss/CHANGELOG.md
  idiss/Cargo.lock
  idiss/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

better naming
  rust-src/concordium_base/src/ffi_helpers/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Merkle proof support for LFMBTrees
  haskell-src/Concordium/MerkleProofs.hs
Due: stack:build-and-test

Change MultiExp interface a bit; GenericMultiExp::new takes window_size
  rust-src/Cargo.lock
  rust-src/concordium_base/benches/msm_bench.rs
  rust-src/concordium_base/benches/multiexp_bench.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_non_membership_proof.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_ng_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More consistent naming.
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve benchmarks.
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/benches/encrypted_transfers_benchmarks.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Arkworks integration WIP
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix clippy warnings
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_ng_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clean-up: remove experimental code; fix imports; constants and comments
  rust-src/concordium_base/benches/msm_bench.rs
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_ng_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use RistrettoMultiExpNoPrecompute as multiexp for ristretto
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused import and redundant comment
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cleanup
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CHANGELOG
  rust-src/concordium_base/CHANGELOG.md
Due: none

Cleanup; set GROUP_ELEMENT_LENGTH to 32 for curve25519
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More ArkWorks stuff
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_ng_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove ArkWorks stuff
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove pprof profiling dependency; add curve25519-dalek-ng to dev dependencies
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Dependencies in Cargo.lock
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
Due: cargo:test-idiss

Introduce BlockStateHash which corresponds to StateHash prior to P7
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Avoid Rust warnings
  rust-src/Cargo.toml
  rust-src/concordium_base/src/common/mod.rs
  rust-src/concordium_base/src/common/serialize.rs
  smart-contracts/contracts-common/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose node tree statistics.
  rust-src/concordium_base/src/smart_contracts.rs
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add debug instance to sizecollector.
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

BlockHashVersion. Move TransactionOutcomes out of base.
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Format.
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Upgrade dalek to V2.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/user_cli.rs
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/common/impls.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/common/types.rs
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/concordium_base/src/id/id_prover.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/ed25519_hd_key_derivation/Cargo.toml
  rust-src/key_derivation/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support for P7 in Rust base module.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use BlockStateHash in RegenesisData and add a blockStateHashInMetadata predicate
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

removed dalek range bench
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

minor
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Done with ArkWorks integration
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

msm_bench clean-up
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/msm_bench.rs
  rust-src/concordium_base/benches/multiexp_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

range_proof_bench clean-up
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/bulletproofs.rs
  rust-src/concordium_base/benches/range_proof_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Validate mnemonic word length
  rust-src/Cargo.lock
  rust-src/key_derivation/CHANGELOG.md
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
