Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Rename `bieAccountIsSuspended` -> `bieIsSuspended`
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Rename `bieAccountIsSuspended` -> `bieIsSuspended` (#584)
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

add doc string to bieIsSuspended
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

add doc string to bieIsSuspended (#585)
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

implementation of chain parameters migration
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P8.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

implementation of chain parameters migration (#586)
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P8.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Add token address constructor
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

extension of PoolCurrentPaydayInfo/PoolInfoResponse
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

add ToJSON instance
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Extension of PoolCurrentPaydayInfo/PoolInfoResponse (#587)
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Rust support for new chain parameters version.
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move isSuspended from BakerPoolStatus to ActiveBakerPoolStatus.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Serialize to the correct chain parameters version.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Add `Default` instance for `UpdateSequenceNumber`.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

Fix JSON serialization of SpeicalTransacationOutcome
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Add getter function
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `FinalizationCommitteeHash` type.
  rust-src/concordium_base/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version and release concordium_base.
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused mobile-wallet-static-library build
  mobile_wallet/scripts/android.Jenkinsfile
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

Delete identity-provider-service Jenkins pipeline, it was migrated to a Github action.
  identity-provider-service.Jenkinsfile
Due: none

Remove unused Jenkins pipelines
  identity-provider-service.Jenkinsfile
  mobile_wallet/scripts/android.Jenkinsfile
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

Remove unused Jenkins pipelines (#598)
  identity-provider-service.Jenkinsfile
  mobile_wallet/scripts/android.Jenkinsfile
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

fix canonical address
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update smart contracts
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixed issues with cargo.lock
  identity-provider-service.Jenkinsfile
  mobile_wallet/scripts/android.Jenkinsfile
  mobile_wallet/scripts/ios.Jenkinsfile
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

update readme
  rust-src/concordium_base/CHANGELOG.md
Due: none

updated comments
  rust-src/concordium_base/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix fmt
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

updated base version
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
Due: cargo:test-idiss

Update smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
