Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

update terminology
  rust-bins/CHANGELOG.md
  rust-bins/Cargo.toml
  rust-bins/src/bin/identity_disclosure.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update lock file
  rust-bins/Cargo.lock
Due: none

remove tags from TokenOperation
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

change module token state
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Add documentation for freeing memory when using FFI state lookup
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Apply suggestions from code review
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

update terminology in keygen
  rust-bins/CHANGELOG.md
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump alpha version of concordium_base rust lib
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump alpha version of base derive crate
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update identity disclosure terminology
  rust-bins/src/bin/identity_disclosure.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add token-pause operation to plt.cddl
  cbor-schema/plt.cddl
Due: none

Add token "pause" event
  cbor-schema/plt.cddl
Due: none

Make "paused" on token-module-state non-optional
  cbor-schema/plt.cddl
Due: none

Add token-pause to token-operation union
  cbor-schema/plt.cddl
Due: none

add paused flag to TokenModuleState
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Adapt CBOR tests for the new flag
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Plt token pause token module state (#693)
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Extend TokenInitializationParameters in tests
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Add `pause` flag to initialization parameters.
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Add token pause operation
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add "paused" state to `TokenModuleState`
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add new token module event variant
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Align serde of `TokenModuleEvent` with the implementation in other languages
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

FMT
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

change pause module state as discussed
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

adjust cost of mint/burn
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

adjust cost of mint/burn
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Added function to `operations` mod for constructing pause/unpause operations
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Adjust mint/burn energy costs (#698)
  haskell-src/Concordium/Cost.hs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Error case for invalid token module ref.
  cbor-schema/plt.cddl
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Revise token pause cddl types
  cbor-schema/plt.cddl
Due: none

Align pause types under the premise that only balance changing operations will ever be affected.
  cbor-schema/plt.cddl
Due: none

build
  .github/workflows/build-test-sources.yaml
  .gitignore
  Cargo.lock
Due: stack:build-and-test

build
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

fix
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
