Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Appease clippy
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions for release.
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions for release.
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions to prepare for release.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-fuzz/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support repr attribute on enums
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support repr attribute on enums
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Block.hs
Due: stack:build-and-test

Update changelog and documentation
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog and documentation
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make sure the right iterators are available after calls.
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
Due: none

Revise the consensus info response slightly.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update lock file for idiss.
  idiss/Cargo.lock
  idiss/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose computing the message as a separate function.
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add epoch duration to protocol update data for P6.
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

Address review comments.
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Reuse epoch duration from previous protocol.
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

Revise checkpointing test.
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
Due: none

Documentation.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Disallow globals in protocol 6.
  smart-contracts/testdata/contracts/global-data-section-test.wasm
  smart-contracts/testdata/contracts/global-data-section-test.wat
  smart-contracts/testdata/contracts/global-element-section-test.wasm
  smart-contracts/testdata/contracts/global-element-section-test.wat
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/validation_tests.rs
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/utils.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Display trait line out
  concordium-contracts-common/src/hashes.rs
  concordium-contracts-common/src/lib.rs
  concordium-contracts-common/src/schema.rs
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Display trait line out
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix pipeline
  concordium-contracts-common/src/hashes.rs
  concordium-contracts-common/src/lib.rs
  concordium-contracts-common/src/schema.rs
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix pipeline
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more display schema types
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more display schema types
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add enum display types
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add enum display types
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve documentation.
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve assertion text.
  smart-contracts/wasm-chain-integration/src/validation_tests.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  smart-contracts/wasm-chain-integration/CHANGELOG.md
Due: none

Fix changelog
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: none

Fix changelog
  concordium-contracts-common-derive/CHANGELOG.md
Due: none

Rephrase doc comment for deriving SchemaType
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rephrase doc comment for deriving SchemaType
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve documentation.
  smart-contracts/testdata/contracts/global-data-section-test.wat
  smart-contracts/testdata/contracts/global-element-section-test.wat
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use --no-check for the new test wasm files.
  .diff-wat-wasm.sh
Due: none

Fix wasm-spec test.
  smart-contracts/wasm-test/src/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
