Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Remove needless ids.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add examples for errors
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add examples for errors
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document display of errors with examples
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document display of errors with examples
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove alias for result with ToJsonError
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove alias for result with ToJsonError
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update minimum rust version
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update minimum rust version
  .github/workflows/linter.yml
  README.md
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Compromise for verbose documentation of ToJsonError display method.
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Compromise for verbose documentation of ToJsonError display method.
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove obsolete comments.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: cargo:test-idiss

Return raw public key in web3id signer since we use it for different roles.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Work on PU to P6.
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

Appease clippy.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add macros from concordium-std-derive and internal restructuring
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/smart_contract.rs
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add macros from concordium-std-derive and internal restructuring
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
  concordium-contracts-common-derive/src/smart_contract.rs
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Update changelog
  README.md
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common/CHANGELOG.md
Due: none

Add short module description
  concordium-contracts-common-derive/src/attribute.rs
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add short module description
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  .github/workflows/linter.yml
  concordium-contracts-common-derive/src/attribute.rs
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common/CHANGELOG.md
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add bounds to type parameters when deriving Serialize and SchemaType
  .github/workflows/linter.yml
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add bounds to type parameters when deriving Serialize and SchemaType
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix issue with deriving DeserialWithState and generics
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix issue with deriving DeserialWithState and generics
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a few serde instances.
  rust-src/concordium_base/src/cis2_types.rs
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise tagging of cis4 events.
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add FromStr instance for simplifying use.
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose additional types.
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix register cis4 event.
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Resolve review comments P6 PU.
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

Update comment.
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

Revise events to correspond to the current version of the CIS4 standard.
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix doc comment.
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: none
