Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Add a number of equality instances for types in rust-src.
  rust-src/concordium_base/src/base.rs
  rust-src/crypto_common/src/version.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More Eq instances.
  rust-src/concordium_base/src/smart_contracts.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Mark Test::uninitialized as const; remove quickcheck flag from ReportError, use rng_used for TestHost instead
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting and comments
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  concordium-contracts-common/CHANGELOG.md
Due: none

Changelog.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Factor the type of test results after clippy complains about too complex type
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Correct typo in changelog.
  concordium-contracts-common/CHANGELOG.md
Due: none

Correct typo in changelog.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Add a few helpers to get the election difficulty in a reasonable format.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove the dockerfile to build a collection of genesis tools.
  genesis-tools.Jenkinsfile
  scripts/genesis-tools.Dockerfile
Due: none

Mark functions that only apply to sending p1-p3 transactions as deprecated.
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release contracts-common 4.1.0.
  concordium-contracts-common/CHANGELOG.md
Due: none

Release contracts-common 4.1.0.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Bump contracts-common to 5.0.0 to avoid versioning issues in macros.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump contracts-common to 5.0.0 to avoid versioning issues in macros.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix print bug in genesis tool.
  haskell-bins/genesis/Genesis.hs
Due: stack:build-and-test

Fix documentation links.
  rust-src/concordium_base/src/constants.rs
  rust-src/concordium_base/src/updates.rs
  rust-src/id/src/id_prover.rs
  rust-src/id/src/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix typo.
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Quickcheck (#37)
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Quickcheck (#37)
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add quickcheck to the list of tested features.
  .github/workflows/linter.yml
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add quickcheck to the list of tested features.
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support `maxEnergy` in the mobile wallet library.
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/2-create_account_transaction-input.json
  rust-bins/wallet-notes/files/2-create_account_transaction-output.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix android build.
  mobile_wallet/src/android.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add android target check to CI.
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Helpers for constructing and printing various values.
  rust-src/concordium_base/src/base.rs
  rust-src/id/src/id_proof_types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a verify function Statement.
  rust-src/id/src/id_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Versioned should be clonable if inner value is.
  rust-src/crypto_common/src/version.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Mobile wallet lib change expected encoding for schema in parameter_to_json to base64
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/parameter_to_json-input.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix output key format.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `to_owned` method on EntrypointName and ContractName
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `to_owned` method on EntrypointName and ContractName
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add nationality set statements.
  rust-src/id/src/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Correct the age_in helper.
  rust-src/id/src/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix nationality_not_in helper.
  rust-src/id/src/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix document issuer helper.
  rust-src/id/src/id_proof_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

0.4.0 IDP removes empty attributes
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/identity_verifier.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce P6
  concordium-base.cabal
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test
