Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

More documentation
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Doc fix
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

More doc
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Remove foreign as a separate module to simplify.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/foreign.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Hide Counter trait since it's only used internally.
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

More doc
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Fix wrong documentation to being good documentation.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add HasTimeoutParamers type class and instance for TimeoutParameters.. for consistency.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Fix generators
  haskell-tests/Generators.hs
Due: stack:build-and-test

Better comments. Code style changes.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Typo.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
Due: stack:build-and-test

Fix more typos in comments.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Prepend first line of comments with pipes.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Prepend first line of comments with pipes (again).
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

More consistent terminology.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

More consistent terminology (again).
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Remove unused code
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve comments.
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use CommitmentKey in docs.
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Add token address string format.
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add FFI functions for creating `ArInfo`, `IpInfo` and `GlobalContext` instances. (#307)
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation
  haskell-src/Concordium/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bench
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bench
  rust-src/aggregate_sig/benches/bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

formatting
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reformat
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rework benchmark and remove empty message test.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version, update changelog.
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Decide on parallel signature verification version.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add doc for test.
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove some markdown annotation
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation of the most important entrypoints in v1/mod and v0/mod.
  smart-contracts/README.md
  smart-contracts/wasm-chain-integration/README.md
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-fuzz/Cargo.toml
  smart-contracts/wasm-fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-transform/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Explicit precondition for verify_aggregate_sig_hybrid.
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve test assertion.
  mobile_wallet/Cargo.lock
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use proper error type for parse failure.
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
