Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Fix identity provider docker image build to use the public base image.
  .dockerignore
  scripts/identity-provider-service.Dockerfile
Due: none

Separate the redirect URL and query URL that the idp uses.
  identity-provider-service/deployment.md
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  identity-provider-service/deployment.md
  scripts/identity-provider-service.Dockerfile
Due: none

Make built binaries public.
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/macos-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
Due: none

Release version 1, and update build scripts with new locations.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/macos-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add additional checks for contract and receive names and refactor
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Explain name validation and move MAX_FUNC_NAME_SIZE from wasm-transform
  src/constants.rs
  src/lib.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Explain name validation and move MAX_FUNC_NAME_SIZE from wasm-transform
  smart-contracts/contracts-common/src/constants.rs
  smart-contracts/contracts-common/src/lib.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add additional checks for contract and receive names and refactor
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move validation to contracts-common
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-transform/Cargo.toml
  smart-contracts/wasm-transform/src/constants.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust fmt to nightly-2021-02-11.
  .github/workflows/rustfmt.yaml
  identity-provider-service/Cargo.lock
  identity-provider-service/src/bin/main.rs
  idiss/Cargo.lock
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/trace_account.rs
  rust-bins/src/bin/utils.rs
  rust-src/aggregate_sig/Cargo.toml
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/crypto_common/src/encryption.rs
  rust-src/crypto_common/src/version.rs
  rust-src/elgamal/src/secret.rs
  rust-src/encrypted_transfers/src/proofs/dlogaggequal.rs
  rust-src/encrypted_transfers/src/proofs/enc_trans.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/secret_sharing.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_eq.rs
  rust-src/id/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/id/src/sigma_protocols/com_eq_sig.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/id/src/sigma_protocols/dlog.rs
  rust-src/id/src/types.rs
  rust-src/pedersen_scheme/src/errors.rs
  rust-src/ps_sig/src/errors.rs
  rust-src/ps_sig/src/public.rs
  rust-src/ps_sig/src/secret.rs
  rust-src/wallet/src/lib.rs
  rustfmt.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Create a changelog
  smart-contracts/wasm-transform/Changelog.md
Due: none

Use concordium-contracts-common from this branch
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

added new types updates and query responses
  concordium-base.cabal
  haskell-src/Concordium/Common/Time.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/BSUpdates.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

integrating accountreleaseschedule into types.hs
  concordium-base.cabal
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

fixed dependency for accountreleaseschedule in types.hs
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Fix compilation with rust 1.46+.
  mobile_wallet/Cargo.toml
  mobile_wallet/build.rs
  mobile_wallet/src/android.rs
  mobile_wallet/src/ios.rs
  mobile_wallet/src/lib.rs
  rust-src/Cargo.toml
  rust-src/wallet/Cargo.toml
  rust-src/wallet/src/lib.rs
  rustfmt.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove renamings for iOS.
  mobile_wallet/src/android.rs
  mobile_wallet/src/ios.rs
  mobile_wallet/src/lib.rs
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address new clippy suggestions.
  identity-provider-service/src/bin/main.rs
  idiss/src/lib.rs
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/keygen.rs
  rust-src/crypto_common/src/encryption.rs
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/secret_sharing.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust formatter.
  .github/workflows/linter.yml
  rustfmt.toml
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust formatter.
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/rustfmt.toml
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump to 0.4.1
  Cargo.toml
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump to 0.4.1
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add concordium-contracts-common as submodule
  smart-contracts/.gitmodules
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Enable 'submodules: recursive' for CI
  smart-contracts/.github/workflows/ci.yaml
Due: stack:build-and-test

Update rustfmt.
  smart-contracts/.github/workflows/ci.yaml
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/fmt.sh
  smart-contracts/rust-contracts/example-contracts/erc20/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/rate-limited/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
  smart-contracts/rustfmt.toml
  smart-contracts/wasm-chain-integration/fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/types.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use relative path for submodule
  smart-contracts/.gitmodules
Due: none

Optional arThreshold field added in create_id_request
  CHANGELOG.md
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Optional arThreshold field added in create_id_request (#48)
  CHANGELOG.md
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helpers for serializing lengths of specific sizes
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helpers for serializing lengths of specific sizes
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Eq, Show instances for ProtocolVersion, and promotion/demotion between ProtocolVersion and SProtocolVersion.
  concordium-base.cabal
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
