Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Add rust version bump to changelog
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Add rust version bump to changelog
  CHANGELOG.md
Due: none

Return early in case of no coefficients
  rust-src/id/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Shorten Deserial for Memo type according to code review.
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog.
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused legacy functions.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Update haskell-bins/genesis/README.md
  haskell-bins/genesis/README.md
Due: none

Add missing FromJSON instances.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Introduce AbsoluteBlockHeight for use in queries and the transaction index.
  haskell-src/Concordium/SQL/AccountTransactionIndex.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

BlockInfo for re-genesis block returns terminal block of previous chain.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Remove unused and misleading types.
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused and misleading types.
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add genesis index and local block height to BlockInfo.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Address review comments.
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

concordium/base image was moved to dockerhub
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
Due: none

Benchmarking compute_message in identity_providers
  rust-src/id/Cargo.toml
  rust-src/id/benches/compute_message.rs
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Included optional attributes in benchmark of compute_message
  rust-src/id/benches/compute_message.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Using multiexp cuts 66% of compute_message runtime
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

clippy
  rust-src/id/benches/compute_message.rs
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add checks for RO challenge prefix collision in soundness tests
  rust-src/encrypted_transfers/src/proofs/enc_trans.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_enc_eq.rs
  rust-src/id/src/sigma_protocols/com_eq.rs
  rust-src/id/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/id/src/sigma_protocols/com_eq_sig.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/id/src/sigma_protocols/dlog.rs
  rust-src/random_oracle/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix ToJSON instance of transaction status.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Fail quickly when the initial account transaction goes missing.
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce more locking to handle concurrent identity creation requests better.
  identity-provider-service/html/attribute_form.html
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

unused deps
  rust-src/Cargo.lock
  rust-src/aggregate_sig/Cargo.toml
  rust-src/curve_arithmetic/Cargo.toml
  rust-src/dodis_yampolskiy_prf/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/elgamal/Cargo.toml
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/id/Cargo.toml
  rust-src/pedersen_scheme/Cargo.toml
  rust-src/random_oracle/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

updating Cargo.lock files
  idiss/Cargo.lock
  rust-bins/Cargo.lock
Due: cargo:test-idiss

unused deps (#75)
  idiss/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/aggregate_sig/Cargo.toml
  rust-src/curve_arithmetic/Cargo.toml
  rust-src/dodis_yampolskiy_prf/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/elgamal/Cargo.toml
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/id/Cargo.toml
  rust-src/pedersen_scheme/Cargo.toml
  rust-src/random_oracle/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

impl Eq for RandomOracle
  rust-src/random_oracle/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Check of pk length, required 2 more than needed.
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix documentation requested in PR comments
  rust-src/id/benches/aggr_dlog_commit_point.rs
  rust-src/id/benches/compute_message.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Benchmark sign_identity_object + validate_request
  .github/workflows/build-test.yaml
  rust-src/id/Cargo.toml
  rust-src/id/benches/compute_message.rs
  rust-src/id/src/lib.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/id/Cargo.toml
  rust-src/id/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix bug in CI file.
  .github/workflows/build-test.yaml
Due: stack:build-and-test

Clarify that energy is interpreter energy everywhere in cargo-concordium and wasm-chain-integration.
  smart-contracts/cargo-concordium/CHANGELOG.md
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make prove_dlog_ed25519 more generic to support ecvrf keys
  rust-src/eddsa_ed25519/src/dlog_ed25519.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ad fn doc comment explaining generics for prove_dlog_ed25519
  rust-src/eddsa_ed25519/src/dlog_ed25519.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Trace account tool supports all tx types (with cost/rewards), does not fail when outcome is reject
  mobile_wallet/Cargo.lock
  rust-bins/src/bin/trace_account.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove option from required fields `total` and `outcome`
  rust-bins/src/bin/trace_account.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add output for most cases of outcome=reject
  rust-bins/src/bin/trace_account.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
