Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Ar/cor 1647 support cbor bignums rust (#726)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor/composites.rs
  rust-src/concordium_base/src/common/cbor/contracts_common_types.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  Cargo.toml
  src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove CDDL schema - superseded by CIS-7 standard.
  cbor-schema/plt.cddl
Due: none

map
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cbor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

optional
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

token init params additional (#729)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

indefinitelength
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

test
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Delay the deserialization of UpdateInstruction in Rust
  rust-src/concordium_base/src/common/encoded.rs
  rust-src/concordium_base/src/common/mod.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

handle utf8 two byte code points
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix Clippy
  rust-src/concordium_base/src/common/encoded.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

error
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Build libmobile_wallet with 16 KB alignment
  mobile_wallet/.cargo/config.toml
Due: none

Build for 64-bit Android targets with 16 KB align
  mobile_wallet/.cargo/config.toml
  rust-src/.cargo/config.toml
Due: none

Remove CborTokenHolder.
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

Format.
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix target in configuration
  rust-src/.cargo/config.toml
Due: none

Update mobile lib version to 0.25.4
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ar/cor 1646 support decoding indefinite length cbor character strings (#733)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Build for 64-bit Android targets with 16 KB alignment (#736)
  mobile_wallet/.cargo/config.toml
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add some unit tests for Encoded
  rust-src/concordium_base/src/common/encoded.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update Rust formatter.
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  rustfmt.toml
  smart-contracts/rustfmt.toml
Due: stack:build-and-test

Format smart contracts.
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/traits.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  smart-contracts/rust-contracts/example-contracts/counter/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
