Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Better naming for FlatLoadable/FlatStorable.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/foreign.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A bit more type safety around entry ids.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support for PoolStatus query. BinarySearch utility functions.
  concordium-base.cabal
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Utils/BinarySearch.hs
Due: stack:build-and-test

Revision and documentation of instance state implementation.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Amount monoid. Projection functions.
  haskell-src/Concordium/Common/Amount.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Charge energy when advancing the iterator.
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise the host API, fix types in validation.
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refine return values, moving runtime errors into "error" responses for
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Hashed' type allows hashing to different types.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Introduce an auxiliary trie to check for prefixes efficiently.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v1/trie/foreign.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Iterator locking with a separate trie.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Be more defensive with resizing entries.
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation, additional tests, and minor tweaks.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Enable cargo-concordium to use the new contract state.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove values from the values list when invalidating entries.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix remaining scheduler tests for V1 contracts.
  concordium-consensus/testdata/contracts/v1/self-balance.wasm
  concordium-consensus/testdata/contracts/v1/self-balance.wat
  concordium-consensus/testdata/contracts/v1/transfer.wasm
  concordium-consensus/testdata/contracts/v1/transfer.wat
Due: none

Add a lookup method via FFI. Fix serialization of host functions.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a more complex test exercising new state and re-entrancy.
  concordium-consensus/testdata/contracts/v1/record-parameters.wasm
  concordium-consensus/testdata/contracts/v1/record-parameters.wat
Due: none

Invalid case for incorrect protocol version
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Expose via FFI a method for generating test states.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Keep track of state modifications and report this back through the FFI.
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise semantics of the iterator get_key method.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise cooldowns to use real time duration (rather than number of reward periods).
  haskell-src/Concordium/Common/Time.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Introduce fallback entrypoints.
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce fallback entrypoints for V1 contracts.
  concordium-consensus/testdata/contracts/v1/fallback.wasm
  concordium-consensus/testdata/contracts/v1/fallback.wat
Due: none

Update binaries to support protocol version 4
  haskell-bins/generate-update-keys/Main.hs
  haskell-bins/genesis/Genesis.hs
  haskell-bins/genesis/README.md
Due: stack:build-and-test

Revised RewardStatus to include additional information for P4.
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Update dependencies to more recent versions.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reduce visual noise with a helper function.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove some obsolete todos.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A bit of optimization.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise node branching to only use 4 bits for branching.
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduced iterator smart contract tests.
  concordium-consensus/testdata/contracts/v1/iterator.wasm
  concordium-consensus/testdata/contracts/v1/iterator.wat
Due: none

Introduced tests for InstanceState.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add configure baker function to mobile wallet library.
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/2-create_configure_delegation_transaction-input.json
  rust-bins/wallet-notes/files/create_configure_delegation_transaction-input.json
  rust-bins/wallet-notes/files/create_configure_delegation_transaction-output.json
  rust-bins/wallet-notes/files/create_transfer-input.json
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helper to construct fallback name.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Fix bug in iterator's get_key method, and more extensive test for it.
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix test suite.
  haskell-tests/Generators.hs
Due: stack:build-and-test

Fixes the formatting problems found by `cargo fmt`
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
