Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Amend tests
  haskell-tests/Types/CBOR.hs
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Lock events.
  concordium-base.cabal
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Event support.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Move `MetaUpdateOperationKind` to plt module
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply PR suggestions
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Align meta update construction with other transaction wrt. energy
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add str repr for lock ID
  haskell-src/Concordium/Types/Locks.hs
  haskell-tests/Types/TokensSpec.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add reject reasons for lock operations.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Align str representation
  haskell-src/Concordium/Types/Locks.hs
  haskell-tests/Types/TokensSpec.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

base58check strin representation for lock id
  concordium-base.cabal
  haskell-src/Concordium/Types/Locks.hs
  haskell-src/Data/ULEB128.hs
  haskell-tests/ConcordiumTests/Data/ULEB128.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/TokensSpec.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  haskell-src/Concordium/Types/Locks.hs
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Fix. Add expiry check.
  haskell-tests/Generators.hs
  rust-src/concordium_base/src/common/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix build error
  haskell-tests/Generators.hs
Due: stack:build-and-test

Remove dupl. definition
  haskell-tests/Generators.hs
Due: stack:build-and-test

Drop initial trim of base58check string when decoding
  rust-src/concordium_base/src/protocol_level_locks/lock_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixes the serde::from implementation for minimal metadata url
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add to and from lock to `TokenTransfer` event.
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Review comment
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Impermissible -> NotPermitted
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

add missing to/from_lock fields in token transfer event
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

`serde` skip `None`
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add lock "any" recipients variant
  haskell-src/Concordium/Types/Locks/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update cddl with lock recipients variants
  cddl/cis-7.cddl
Due: none

Haskell lock reject reason alignment
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Add lock "metadata" field
  haskell-src/Concordium/Types/Locks/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Represent metadata in config/info as raw cbor instead of actual type
  haskell-src/Concordium/Types/Locks/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
  rust-src/concordium_base/src/protocol_level_tokens/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix duplicate field names
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Fix duplicate record field names
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Remove migration code from base lib
  concordium-base.cabal
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Add token parameter related fields to chain update structures
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add amend update structs with token parameter + max lock duration
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Add new chain update proto conversion
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Amend p11 update data with new access structure + chain parameter data
  haskell-src/Concordium/Genesis/Data/P11.hs
Due: stack:build-and-test

Add max lock duration update in rust code
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add remaining mappings
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add chain update + queue
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
