Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Typos.
  idiss/README.md
Due: cargo:test-idiss

Update description of recovery validation function.
  idiss/README.md
Due: cargo:test-idiss

Add commands for creating identities and accounts from seed in client.
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add or_adapter for sigma protocols
  rust-src/encrypted_transfers/src/proofs/dlogaggequal.rs
  rust-src/encrypted_transfers/src/proofs/dlogeq.rs
  rust-src/encrypted_transfers/src/proofs/enc_trans.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_enc_eq.rs
  rust-src/id/src/sigma_protocols/com_eq.rs
  rust-src/id/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/id/src/sigma_protocols/com_eq_sig.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/id/src/sigma_protocols/common.rs
  rust-src/id/src/sigma_protocols/dlog.rs
  rust-src/random_oracle/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update user_cli and identity_provider_cli tools.
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/crypto_common/src/serialize.rs
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

move OR knowledge into secret for OrAdapter
  rust-src/encrypted_transfers/src/proofs/dlogaggequal.rs
  rust-src/encrypted_transfers/src/proofs/dlogeq.rs
  rust-src/encrypted_transfers/src/proofs/enc_trans.rs
  rust-src/id/benches/aggr_dlog_commit_point.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_enc_eq.rs
  rust-src/id/src/sigma_protocols/com_eq.rs
  rust-src/id/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/id/src/sigma_protocols/com_eq_sig.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/id/src/sigma_protocols/common.rs
  rust-src/id/src/sigma_protocols/dlog.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add basic or test
  rust-src/id/src/sigma_protocols/sigma_test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

typo
  rust-src/id/src/sigma_protocols/sigma_test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rust fmt
  rust-src/encrypted_transfers/src/proofs/dlogaggequal.rs
  rust-src/encrypted_transfers/src/proofs/dlogeq.rs
  rust-src/encrypted_transfers/src/proofs/enc_trans.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_enc_eq.rs
  rust-src/id/src/sigma_protocols/com_eq.rs
  rust-src/id/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/id/src/sigma_protocols/com_eq_sig.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/id/src/sigma_protocols/common.rs
  rust-src/id/src/sigma_protocols/dlog.rs
  rust-src/id/src/sigma_protocols/sigma_test.rs
  rust-src/random_oracle/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

IdentityProviderService: Add option to fail identities
  identity-provider-service/README.md
  identity-provider-service/html/attribute_form.html
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make expiry configurable
  identity-provider-service/html/attribute_form.html
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add docs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Restructure to include a derive crate for serialization
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common/src/constants.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/traits.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Restructure to include a derive crate for serialization
  Cargo.toml
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common-derive/src/lib.rs
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/README.md
  concordium-contracts-common/src/constants.rs
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/lib.rs
  concordium-contracts-common/src/schema.rs
  concordium-contracts-common/src/traits.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog and move readme to project root
  Cargo.toml
  README.md
  concordium-contracts-common/CHANGELOG.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog and move readme to project root
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix the dummy `makeTransferTransaction` to have the correct cost and use the maximum transaction time to avoid being expired.
  haskell-src/Concordium/Types/DummyData.hs
Due: stack:build-and-test

Actually fix the dummy `makeTransferTransaction` to have the correct cost, accounting for the header size.
  haskell-src/Concordium/Types/DummyData.hs
Due: stack:build-and-test

Implement Error for error types when std is enabled
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Error for error types when std is enabled
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add derive feature
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add derive feature
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Import new functions.
  mobile_wallet/src/android.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format
  mobile_wallet/src/android.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove derive feature
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove derive feature
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix small errors
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update readme
  README.md
Due: none

Update readme
  smart-contracts/contracts-common/README.md
Due: none

Add endpoint that immediately returns an error + improve text
  identity-provider-service/README.md
  identity-provider-service/html/attribute_form.html
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose newly introduced functions on Android.
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/src/android.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CI
  .github/workflows/linter.yml
Due: none

Update CI
  smart-contracts/contracts-common/.github/workflows/linter.yml
Due: none

Add concordium-contracts-common submodule, reexport Amounts in crypto_common
  .gitmodules
  rust-src/Cargo.lock
  rust-src/crypto_common/Cargo.toml
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixes based on review
  identity-provider-service/README.md
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Prepare for release 2.0.2 of cargo-concordium.
  smart-contracts/cargo-concordium/CHANGELOG.md
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use write_str instead of write!
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use write_str instead of write!
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reexport AccountAddress from contracts-common in both crypto_common and id
  rust-src/Cargo.lock
  rust-src/crypto_common/src/types.rs
  rust-src/id/Cargo.toml
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix renaming in mobile_wallet and ip-service
  identity-provider-service/Cargo.lock
  identity-provider-service/src/bin/main.rs
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
