Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

fix
  rust-src/concordium_base/src/web3id/did.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use real PresentationV1 type
  rust-src/concordium_base/src/web3id/sdk/protocol.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

implement protobuf serialization
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

set sender costs to zero if sponsor is present
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

extend tests
  haskell-tests/Generators.hs
Due: stack:build-and-test

format
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Enable JSON serialization and deserialization on VerificationAuditRecord type
  rust-src/concordium_base/src/web3id/sdk/protocol.rs
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/web3id/sdk/protocol.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement serialize on anchor
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/sdk/protocol.rs
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

introduce SponsorDetails into TransactionSummary'
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

did
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rollback
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/proofs.rs
  rust-src/concordium_base/src/web3id/test.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/proofs.rs
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

revert
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  rust-src/concordium_base/src/web3id/v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rng etc
  rust-src/concordium_base/src/bulletproofs/inner_product_proof.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_non_membership_proof.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/chain.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
  rust-src/concordium_base/src/id/identity_attributes_credentials.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/secret_sharing.rs
  rust-src/concordium_base/src/id/test.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/sigma_protocols/ps_sig_known.rs
  rust-src/concordium_base/src/web3id/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

verifiable presentations v1
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/proofs.rs
  rust-src/concordium_base/src/web3id/test.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  rust-src/concordium_base/src/web3id/did.rs
  rust-src/concordium_base/src/web3id/v1.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

doc
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
