Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Ar/cor 1970 identity credential attributes prover and verifier copied (#753)
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/mod.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

attributes
  rust-src/concordium_base/src/id/identity_attributes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog and cargo
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changing cargo.lock
  rust-src/Cargo.lock
Due: none

updating lock in rust-bin
  rust-bins/Cargo.lock
Due: none

adding lock updates
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
Due: cargo:test-idiss

add function to consume key value iterators in the random oracle
  rust-src/concordium_base/src/random_oracle/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixing release yaml & allowing on branch test
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

fix: script test deploy
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

fix: adding test lines into release yaml
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

fixing action script (extra tabulation)
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

changing the test trigger branch
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

attributes
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixing the defaults run to use bash
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

fixing the script to use the correct branch
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

adding correct branch name
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

visualizing tag versions
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

fix: cleanup before merge
  .github/workflows/release-concordium-base.yaml
Due: stack:build-and-test

define types, update commit and response functions
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig_pub.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

test
  rust-src/concordium_base/src/id/identity_attributes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/id/identity_attributes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add compute commit msg, rust fmt
  rust-src/concordium_base/src/random_oracle/mod.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig_pub.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add very basic with_valid_data
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig_pub.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix range check
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig_pub.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move tests
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/mod.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/concordium_base/src/web3id/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

web3id
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

COR-1941: move upward methods from sdk to base
  rust-src/concordium_base/src/common/upward.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

copied tests/comments
  rust-src/concordium_base/src/common/upward.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

remove serialize
  rust-src/concordium_base/src/id/identity_attributes.rs
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

adjustments
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

btreemap
  rust-src/concordium_base/src/id/identity_attributes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

btreemap
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
