Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Update changelogs
  rust-src/concordium_base/CHANGELOG.md
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move hash-to-curve to a separate module; document discrepancies between our previous custom implementation and the current arkworks implementation
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cleanup
  rust-src/concordium_base/src/id/constants.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add method for serializing credential deployment details
  rust-src/Cargo.lock
  rust-src/wallet_library/CHANGELOG.md
  rust-src/wallet_library/Cargo.toml
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add method for serializing credential deployment payload
  rust-src/wallet_library/CHANGELOG.md
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove usage of unwrap when building signature map
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix scalar_from_bytes: ensure that there is always right number of limbs (possibly filled with zeros); document restrictions on CAPACITY
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clippy
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix scalar_from_bytes: number of chunks was computed wrong
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve ergonomics of using the transaction signer.
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refactor to return hash directly instead of serialization
  rust-src/Cargo.lock
  rust-src/wallet_library/Cargo.toml
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix total_size_in_bits in scalar_from_bytes: now it's calculated from the number of chuncks, not from the imput size. Add more tests
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove redundant use of Result
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CHANGELOG
  rust-src/wallet_library/CHANGELOG.md
Due: none

Clarify behaviour of scalar_from_bytes for short and long input
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Optimize hashing by directly serializing into a hasher.
  rust-src/concordium_base/src/id/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Addressing comments
  haskell-src/Concordium/MerkleProofs.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Update bs58 and ed25519-zebra dependencies.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Downgrade clap.
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: none

Remove unused group dependency.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/aggregate_sig/ffi.rs
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/encrypted_transfers/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Prepare for release of
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  haskell-src/Concordium/MerkleProofs.hs
  haskell-tests/ConcordiumTests/MerkleProofs.hs
Due: stack:build-and-test

Extend the lifetime in generated code.
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

make impls public
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixes to block Merkle schema
  haskell-src/Concordium/MerkleProofs.hs
  haskell-tests/ConcordiumTests/MerkleProofs.hs
Due: stack:build-and-test

Fix proof parsing
  haskell-src/Concordium/MerkleProofs.hs
  haskell-tests/ConcordiumTests/MerkleProofs.hs
Due: stack:build-and-test

lts-22.9
  .github/workflows/build-test-sources.yaml
  stack.yaml
Due: stack:build-and-test

Extend lifetime in remaining places.
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: none

Address review comments
  haskell-src/Concordium/MerkleProofs.hs
Due: stack:build-and-test

Add function for creating web3Id proofs
  rust-src/Cargo.lock
  rust-src/wallet_library/CHANGELOG.md
  rust-src/wallet_library/Cargo.toml
  rust-src/wallet_library/src/lib.rs
  rust-src/wallet_library/src/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Include the protocol version in block hash Merkle proofs.
  haskell-src/Concordium/MerkleProofs.hs
  haskell-tests/ConcordiumTests/MerkleProofs.hs
Due: stack:build-and-test

Address feedback
  rust-src/wallet_library/resources/web3_id_request.json
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/test_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Appease fmt
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/test_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change function create_web3_id_proof to a method create_proof
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/test_helpers.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support querying contract modules.
  haskell-src/Concordium/Wasm.hs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Low-level optimisations.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/types.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
