Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

dealing with advisory updates for rust-bins
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-src/CHANGELOG.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

upgrading rustc in cargo doc to 1.83
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

upgraded rustdoc to 1.83 from 1.82
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

upgraded rust to 1.83
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

trying to see if build is working originally
  rust-bins/Cargo.lock
Due: none

fix one advisory alert for rust-src
  CHANGELOG.md
  rust-src/Cargo.lock
Due: none

cargo update ssl
  rust-bins/Cargo.lock
Due: none

fixing hashbrown advisory alert for rust-bins
  CHANGELOG.md
  rust-bins/Cargo.lock
Due: none

fixing mio and crossterm
  CHANGELOG.md
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

updating url to be able to get the newer idna version
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

amended changelog
  CHANGELOG.md
Due: none

reverting to see
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

reverting url to 2.1.1 to see
  CHANGELOG.md
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

upgrade to rust 1.83
  .github/workflows/build-test-sources.yaml
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

upgrade rust to 1.83
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Address review comments
  rust-src/concordium_base/src/common/cbor/serde.rs
  rust-src/concordium_base/src/elgamal/errors.rs
  rust-src/concordium_base/src/pedersen_commitment/errors.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Check in CI pipeline that disabling the serde_deprecated feature works
  .github/workflows/build-test-sources.yaml
  rust-src/concordium_base/src/common/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixing clippy alerts as per log and using 1.83 for now
  rust-src/concordium_base/src/common/serde_impls.rs
  rust-src/concordium_base/src/common/serialize.rs
  rust-src/concordium_base/src/encrypted_transfers/mod.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/constants.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/internal.rs
  rust-src/concordium_base/src/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removed blank line
  rust-src/concordium_base/src/id/account_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

indent lines
  rust-src/concordium_base/src/id/account_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/common/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused error files
  rust-src/concordium_base/src/elgamal/errors.rs
  rust-src/concordium_base/src/elgamal/mod.rs
  rust-src/concordium_base/src/pedersen_commitment/errors.rs
  rust-src/concordium_base/src/pedersen_commitment/mod.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

upgraded to 1.85
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

upgraded to 1.85 and dealing with the clippy feedbacks at 1.85
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/id/constants.rs
  rust-src/concordium_base/src/id/utils.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_id.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

indent
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

space
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

brackets
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

clippy feedbacks
  rust-bins/src/bin/pg_test_tool.rs
  rust-bins/src/bin/trace_account.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-bins/src/bin/trace_account.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removed brackets
  rust-bins/src/bin/trace_account.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

upgrading workflow to use 1.85
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

clippy
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixed clippy
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/output.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

clippy
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-transform/src/output.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

clippy
  rust-src/concordium_base/src/id/account_holder.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

clippy
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
