Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Fix rust-bins.
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/trace_account.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/bin/utils.rs
  rust-bins/src/lib.rs
  rust-src/Cargo.lock
  rust-src/Cargo.toml
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base_derive/src/lib.rs
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
  rust-src/keygen_bls/Cargo.toml
  rust-src/keygen_bls/src/lib.rs
  rust-src/~Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix identity provider service.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix CIS2 token Display implementation.
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix idiss.
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/src/cs_exports.rs
  idiss/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix mobile wallet library.
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/build.rs
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix Haskell dependencies.
  Setup.hs
  concordium-base.cabal
  package.yaml
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting of rust-bins.
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/trace_account.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix feature flag.
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Remove default features. Fixup Setup.hs build.
  .github/workflows/build-test-sources.yaml
  Setup.hs
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Display serde features by default on docs.rs.
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Display serde features by default on docs.rs.
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `tick_energy` method
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation for concordium_base_derive.
  rust-src/concordium_base_derive/Cargo.toml
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version of concordium_base_derive.
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add README for concordium_base_derive.
  rust-src/concordium_base_derive/Cargo.toml
  rust-src/concordium_base_derive/README.md
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve doc comments
  concordium-contracts-common/src/traits.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve doc comments
  smart-contracts/contracts-common/concordium-contracts-common/src/traits.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Derive Error
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump contracts-common version for release.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump contracts-common version for release.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/README.md
  rust-src/concordium_base/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  idiss/src/cs_exports.rs
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/elgamal_benchmarks.rs
  rust-src/concordium_base/benches/serialization_benches.rs
  rust-src/concordium_base/src/common/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix imports.
  concordium-base.cabal
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation of concordium-base.
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/README.md
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/constants.rs
  rust-src/concordium_base/src/id/mod.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/smart_contracts.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add metadata.
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

Fix typo.
  rust-src/concordium_base_derive/README.md
Due: none

Update lock files.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change new_unchecked as constant in EntrypointName
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Change new_unchecked as constant in EntrypointName
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix json deserialization of signed integers
  concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix json deserialization of signed integers
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Update changelog
  concordium-contracts-common/CHANGELOG.md
Due: none

Fix documentation typos.
  rust-src/concordium_base/README.md
  rust-src/concordium_base_derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version to 5.3.1
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version to 5.3.1
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move `ContractTraceElement` and supporting types from rust-sdk
  rust-src/concordium_base/src/cis2_types.rs
  rust-src/concordium_base/src/constants.rs
  rust-src/concordium_base/src/smart_contracts.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format and bump contracts-common.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base_derive/src/lib.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
