Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Bug fixes and test.
  concordium-consensus/testdata/contracts/v1/upgrading_1.wasm
  concordium-consensus/testdata/contracts/v1/upgrading_1.wat
Due: none

Added more efficient BP verification.
  rust-src/bulletproofs/benches/smp_bench.rs
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cleaned up verification.
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Small fixes.
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Streamlined verification.
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Unit test for failing to upgrade to version 0 module
  concordium-consensus/testdata/contracts/v1/upgrading-unsupported-version0.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-unsupported-version0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-unsupported-version1.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-unsupported-version1.wat
Due: none

Add unit test for upgrading twice in during the same invocation
  concordium-consensus/testdata/contracts/v1/upgrading-twice0.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-twice0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-twice1.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-twice1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-twice2.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-twice2.wat
Due: none

adapt return type of ultra verification
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add more tests and move naive verification to test
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

AccountV2 hashing and structure types.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/ProtocolVersion/JustForCPV1.hs
Due: stack:build-and-test

more optimizations
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add EnumEvent schema type
  concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add EnumEvent schema type
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Towards an update of BLS and pairing deps.
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/crypto_common/src/impls.rs
  rust-src/curve_arithmetic/src/bls12_381_instance.rs
  rust-src/curve_arithmetic/src/curve_arithmetic.rs
  rust-src/curve_arithmetic/src/lib.rs
  rust-src/curve_arithmetic/src/secret_value.rs
  rust-src/dodis_yampolskiy_prf/src/secret.rs
  rust-src/elgamal/src/elgamal.rs
  rust-src/elgamal/src/secret.rs
  rust-src/id/src/constants.rs
  rust-src/id/src/ffi.rs
  rust-src/keygen_bls/src/lib.rs
  rust-src/ps_sig/src/secret.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add unit test for upgrading a lot in the same transaction
  concordium-consensus/testdata/contracts/v1/upgrading-chained0.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-chained0.wat
Due: none

add proof snmp
  rust-src/bulletproofs/src/lib.rs
  rust-src/bulletproofs/src/set_non_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

adapt delta_xy comments
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

improve style (thanks to clippy)
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix typos mentioned in PR#236
  rust-src/bulletproofs/src/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

move ultra verification
  rust-src/bulletproofs/benches/smp_bench.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests
  concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

better style
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove EventSchema
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove EventSchema
  concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added tests for set membership.
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more unit tests for smart contract upgrading
  concordium-consensus/testdata/contracts/v1/upgrading-changing-entrypoints0.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-changing-entrypoints0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-changing-entrypoints1.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-changing-entrypoints1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-reject0.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-reject0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-reject1.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-reject1.wat
Due: none

Add unit test for contract state during upgrading
  concordium-consensus/testdata/contracts/v1/upgrading-persisting-state0.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-persisting-state0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-persisting-state1.wasm
  concordium-consensus/testdata/contracts/v1/upgrading-persisting-state1.wat
Due: none

Add serialization for Address.
  rust-src/crypto_common/src/types.rs
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use flag whether to support upgrade in chain integration
  haskell-src/Concordium/Types/ProtocolVersion.hs
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added optimized prover.
  rust-src/bulletproofs/benches/smp_bench.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused events.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Generators.hs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Better abstractions for invoke_ methods.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add address to the upgraded event for better API.
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Add more documentation of upgrading-*.wat testdata
  concordium-consensus/testdata/contracts/v1/upgrading-chained0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-changing-entrypoints0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-changing-entrypoints1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-persisting-state0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-persisting-state1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-reject0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-reject1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-self-invoke0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-self-invoke1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-twice0.wat
  concordium-consensus/testdata/contracts/v1/upgrading-twice1.wat
  concordium-consensus/testdata/contracts/v1/upgrading-twice2.wat
  concordium-consensus/testdata/contracts/v1/upgrading_0.wat
  concordium-consensus/testdata/contracts/v1/upgrading_1.wat
Due: none

Fix mismatching JSON serialization of Upgraded event
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

address comments
  rust-src/bulletproofs/benches/smp_bench.rs
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/lib.rs
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/bulletproofs/src/set_membership_proof.rs
  rust-src/bulletproofs/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix fmt
  rust-src/bulletproofs/src/inner_product_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add reexport
  rust-src/bulletproofs/src/range_proof.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
