Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Update smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

use constant
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/web3id/did.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

comments
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added thiserror errors to testhost and parallelized the test-running.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Removed MAX_NUM_LOGS check
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

format and remove parallel test execution
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Parallelized the running of tests using rayon.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

reverted cargo.toml to main
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: none

Try to fix CI again
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixing more pipeline
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Minor amendment
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update the cache version in github actions.
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

removed get_module_tests
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

ran clippy
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: none

Prepare p9.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P9.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/SeedState.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Typos.
  haskell-src/Concordium/Genesis/Data/P9.hs
Due: stack:build-and-test

Fixed changelog
  smart-contracts/wasm-chain-integration/CHANGELOG.md
Due: none

Update dependencies
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add CDDL schema for PLT transactions.
  cbor-schema/plt.cddl
Due: none

Typo.
  haskell-src/Concordium/Genesis/Data/P9.hs
Due: stack:build-and-test

Fix warnings.
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Address review comments.
  haskell-src/Concordium/Genesis/Data/P9.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Trigger workflows for plt branch.
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Separate the token list update transactions.
  cbor-schema/plt.cddl
Due: none

Use account structure version 1 for account version 5.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

plt: initial account level state
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Tokens.hs
  package.yaml
Due: stack:build-and-test

move Tokens.hs -> Queries/Tokens.hs
  concordium-base.cabal
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Initial account level state (#609)
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  package.yaml
Due: stack:build-and-test

plt: type level constraints for PLT support
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

plt: internal account level token state
  concordium-base.cabal
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Tokens.hs
Due: stack:build-and-test
