Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

remove PRFencryption and add comments
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

update plt.cddl
  cbor-schema/plt.cddl
Due: none

factorize TokenHolder/CoinInfo decoders
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

doc comment
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

TokenTransaction -> TokenUpdateTransaction
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

AccountAddress -> TokenHolder
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

cargo fmt
  rust-bins/src/bin/pg_test_tool.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

remove token-holder/governance left overs in plt.cddl
  cbor-schema/plt.cddl
Due: none

update tests
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Update Haskell code.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Reintroduce removed line.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Fix tests.
  haskell-tests/Generators.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Update cbor-schema/plt.cddl
  cbor-schema/plt.cddl
Due: none

Update haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

Update haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

make governance account field strict again
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

update comments
  cbor-schema/plt.cddl
Due: none

update error message.
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

update comment
  cbor-schema/plt.cddl
Due: none

Only Rust changes and bump grpc.
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update tests
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Only Rust changes and bump grpc. (#680)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rust-src: add governance account to module state
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

export encoding -> bytestring function
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

JSON serialization alignment between haskell and rust
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

parallel module build
  stack.yaml
Due: stack:build-and-test

fix coininfo -> coinInfo
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

rename tokenBaseCost -> tokenUpdateBaseCost
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

rename tokenTransaction* -> tokenUpdateTransaction*
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

Fix JSON serialization for reject reasons
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Extend FFI with lookup and insert functions for mutable state trie
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

ghc 9.6.7
  stack.yaml
Due: stack:build-and-test

ghc9.6.7
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

polish user interface
  rust-bins/src/bin/pg_test_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Minor error message change
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix authorization check for create PLT.
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test
