Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Add README
  idiss-csharp/README.md
Due: none

Add a bit of documentation.
  idiss-csharp/IdissLib/Class1.cs
Due: none

Add more documentation and address comments on code review.
  idiss-csharp/IdissLib/Class1.cs
  idiss-csharp/IdissLibTest/UnitTest1.cs
  idiss-csharp/README.md
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/example.js
  idiss/src/cs_exports.rs
  idiss/src/lib.rs
  idiss/src/nodejs_exports.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  idiss-csharp/IdissExample/Program.cs
  idiss-csharp/IdissLib/Class1.cs
  idiss-csharp/IdissLibTest/UnitTest1.cs
Due: none

Update idiss-csharp/IdissLib/Class1.cs
  idiss-csharp/IdissLib/Class1.cs
Due: none

Improve PS signature verification; add test to prevent regression.
  rust-src/ps_sig/src/public.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use dedicated function.
  rust-src/ps_sig/src/public.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting by cargo fmt.
  rust-src/ps_sig/src/public.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve PS signature verification; add test to prevent regression. (#91)
  rust-src/ps_sig/src/public.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments on code review.
  idiss-csharp/IdissLib/Idiss.cs
  idiss-csharp/IdissLib/JsonConverters.cs
  idiss-csharp/IdissLib/Types.cs
  idiss-csharp/IdissLibTest/IdissTests.cs
  idiss-csharp/IdissLibTest/UnitTest1.cs
Due: none

Address more comments from code review.
  idiss-csharp/IdissExample/Program.cs
  idiss-csharp/IdissLib/Exceptions.cs
  idiss-csharp/IdissLib/Idiss.cs
  idiss-csharp/IdissLib/Types.cs
  idiss-csharp/IdissLibTest/IdissTests.cs
  idiss-csharp/README.md
  idiss/src/cs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  idiss/src/cs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog.
  idiss/CHANGELOG.md
Due: cargo:test-idiss

Update idiss/CHANGELOG.md
  idiss/CHANGELOG.md
Due: cargo:test-idiss

Update idiss/README.md
  idiss/README.md
Due: cargo:test-idiss

Add comment in Cargo.toml.
  idiss/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix keygen, increase version, add test vectors and changelog.
  rust-src/keygen_bls/CHANGELOG.md
  rust-src/keygen_bls/Cargo.toml
  rust-src/keygen_bls/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update version of bls keygen in rust-bins.
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce protocol version 3 to support account aliases.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-bins/genesis/README.md
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Introduce account address equivalence classes.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Update changelog.
  CHANGELOG.md
Due: none

Add the canonical account address to account info response.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Documentation.
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Address comments from code review.
  rust-bins/docs/keygen.md
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests for account addreses equivalence classes.
  concordium-base.cabal
  haskell-src/Concordium/Types.hs
  haskell-src/Data/FixedByteString.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/AddressesSpec.hs
Due: stack:build-and-test

Documentation and fix typos.
  CHANGELOG.md
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Introduce constant for 29.
  haskell-src/Concordium/Types.hs
  haskell-tests/Types/AddressesSpec.hs
Due: stack:build-and-test

Elaborate on when to use --v1 flag.
  rust-bins/docs/keygen.md
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Commit to .lock file.
  rust-bins/Cargo.lock
Due: none

Rust-scr .lock file
  rust-src/Cargo.lock
Due: none

Fix keygen, increase version, add test vectors and changelog. (#92)
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/docs/keygen.md
  rust-bins/src/bin/keygen.rs
  rust-src/Cargo.lock
  rust-src/keygen_bls/CHANGELOG.md
  rust-src/keygen_bls/Cargo.toml
  rust-src/keygen_bls/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a version function to libiss for testing.
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/example.js
  idiss/src/nodejs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose the exact error.
  idiss/src/nodejs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add function to create aliases since it is needed both in tests and concordium-client.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Add examples.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Fix typo.
  haskell-tests/Types/AddressesSpec.hs
Due: stack:build-and-test

Add minor helper types and functions.
  rust-src/Cargo.lock
  rust-src/crypto_common/Cargo.toml
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve the JSON instances for attribute tags so they provide information in case of unrecognized tag.
  haskell-src/Concordium/ID/Types.hs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add protocol version 4 and new delegation transactions.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/ConcordiumTests/ID/Types.hs
  haskell-tests/Types/AmountSpec.hs
  haskell-tests/Types/Generators.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionGen.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test
