Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Fix unused imports.
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

update grpc api
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Move query types to Queries module.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Fix unused imports. (#321)
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
Due: stack:build-and-test

Change the threshold parameter to be a relative threshold instead of absolute.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

created test file
  rust-src/bulletproofs/benches/range_proof_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

added curve25519_dalek
  rust-src/bulletproofs/Cargo.toml
  rust-src/bulletproofs/benches/range_proof_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add convenience constructors
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add convenience constructors
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

update grpc api
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

PartsPerHundredThousands !
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Better documentation for the finalization committee parameters and allow maxfinalizers >= minFinalizers.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

In parameter_to_json check schema type before parsing
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Added new parameters to 'NextUpdateSequenceNumber' grpc2 query.
  haskell-src/Concordium/GRPC2.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Some convenience for accessing the finalization committee params behind an oparam.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

remove Display trait
  rust-src/curve_arithmetic/src/curve_arithmetic.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

cargo fmt
  rust-src/curve_arithmetic/src/curve_arithmetic.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Tweak isSupported for consensus parameters.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Removed comment out of place.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Move `AccountBalance` from `concordium-std`
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move `AccountBalance` from `concordium-std`
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
Due: stack:build-and-test

Remove `getGenesisConfigurationFlat` and `GenesisParametersV3`.
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
  haskell-src/Concordium/Genesis/Data/P6.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Introduce OFinalizationCommitteeParameters alias.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Remove unnecessary ConstraintKinds extension.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Revise seed state to support new consensus. Add hash-to-integer conversion.
  haskell-src/Concordium/Crypto/SHA256.hs
  haskell-src/Concordium/Types/SeedState.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Add Show instance for AccountIdentifier.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Add Show instance for BlockHashInput.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Remove Show instances.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Address comments
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Implement serialize for 4,5,6 tuples
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement serialize for 4,5,6 tuples
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Doc
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Extend default ID expirty to 2030.
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/html/attribute_form.html
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
