Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Import function that should have been imported.
  mobile_wallet/src/android.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Align smart contract formatting with base
  smart-contracts/rust-contracts/example-contracts/context-test/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/counter/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/erc20/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/escrow/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/fib/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/lockup/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/rate-limited/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-chain-integration/src/validation_tests.rs
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/artifact_input.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/types.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove old smart-contract project files and merge CI
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  .gitignore
  smart-contracts/.gitignore
  smart-contracts/.gitmodules
  smart-contracts/COPYRIGHT.txt
  smart-contracts/LICENSE-APACHE
  smart-contracts/LICENSE-MPL-2.0
  smart-contracts/clippy.sh
  smart-contracts/fmt.sh
  smart-contracts/rustfmt.toml
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Regenerate lock file for the mobile wallet.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
Due: cargo:test-idiss

Regenerate lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  smart-contracts/rustfmt.toml
  smart-contracts/wasm-test/Cargo.lock
Due: cargo:test-idiss

Add `cursor_position` method to `Seek` (#50)
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `cursor_position` method to `Seek` (#50)
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Provide some additional instances for various types.
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/lib.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix typo
  rust-src/id/src/sigma_protocols/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use bs58 instead of base58_check.
  concordium-contracts-common/Cargo.toml
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use bs58 instead of base58_check.
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update some Rust dependencies where possible.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
  rust-src/Cargo.lock
  rust-src/aggregate_sig/Cargo.toml
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/crypto_common/Cargo.toml
  rust-src/crypto_common/src/encryption.rs
  rust-src/curve_arithmetic/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/ecvrf/src/proof.rs
  rust-src/ecvrf/src/public.rs
  rust-src/ecvrf/src/secret.rs
  rust-src/eddsa_ed25519/Cargo.toml
  rust-src/eddsa_ed25519/src/dlog_ed25519.rs
  rust-src/id/Cargo.toml
  rust-src/key_derivation/src/lib.rs
  rust-src/keygen_bls/Cargo.toml
  rust-src/random_oracle/Cargo.toml
  rust-src/random_oracle/src/lib.rs
  rust-src/sha_2/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add regression test for the contract accounting bug.
  concordium-consensus/testdata/contracts/v1/self-balance-nested.wasm
  concordium-consensus/testdata/contracts/v1/self-balance-nested.wat
Due: none

More ergonomic policies (#49)
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More ergonomic policies (#49)
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add function for generating v2 schemas
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add v2 contract schemas (error schemas) (#52)
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add v2 contract schemas (error schemas) (#52)
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release version 4 of concordium-contracts-common.
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release version 4 of concordium-contracts-common.
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/Cargo.toml
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add package metadata.
  concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add package metadata.
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add identity provider index to derivation paths
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update key derivation usage
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/docs/user-cli.md
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/Cargo.lock
  rust-src/key_derivation/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update documentation
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CHANGELOG of mobile_wallet
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Run fmt
  mobile_wallet/src/lib.rs
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump versions of binaries
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update example output files.
  rust-bins/wallet-notes/files/create_credential-v1-output.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-v1-output.json
  rust-bins/wallet-notes/files/generate-recovery-request-output.json
Due: none

Fix a few typos.
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support structures for improved protocol update handling.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Update user-cli.md
  rust-bins/docs/user-cli.md
Due: none

Introduce "Regenesis" as a separate type from Genesis.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
Due: stack:build-and-test

Implement basic state migration for V1 state.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types/Migration.hs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update identity-provider-cli.md
  rust-bins/docs/identity-provider-cli.md
Due: none

Document recovery endpoint.
  identity-provider-service/README.md
Due: none

Mention HTTP status codes of responses.
  identity-provider-service/README.md
Due: none
