Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Remove P0 protocol version.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P0.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Update base image
  .gitlab-ci.yml
Due: none

Disable DataKinds as a default extension.
  concordium-base.cabal
  haskell-src/Concordium/SQL/AccountTransactionIndex.hs
  package.yaml
Due: stack:build-and-test

Remove cargo-git-fetch-with-cli
  Setup.hs
Due: stack:build-and-test

Testing error-code generation in Rust smart contracts.
  concordium-consensus/testdata/contracts/error_code/Cargo.toml
  concordium-consensus/testdata/contracts/error_code/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Adding missing Rust smart contract (wasm file).
  concordium-consensus/testdata/contracts/error_code/target/concordium/wasm32-unknown-unknown/release/error_code.wasm
Due: none

Output correct secret keys in genesis tool.
  rust-bins/src/bin/genesis_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove commented code.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Create ElectionDifficultyFraction
  haskell-src/Concordium/Types.hs
  haskell-tests/Types/RewardTypes.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Output private keys when generating testdata
  rust-bins/src/bin/generate_testdata.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Generating more cdi's for testing deployment on existing account
  rust-bins/src/bin/generate_testdata.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Added one more transaction reject reason
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Fixed typos.
  rust-bins/src/bin/generate_testdata.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Write for slices.
  smart-contracts/contracts-common/src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Write for slices.
  src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise benchmarks to a consistent template, and revise some costs for host functions based on it.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/code/host-functions.wasm
  smart-contracts/wasm-chain-integration/benches/code/host-functions.wat
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wasm
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Disable example.js test.
  .gitlab-ci.yml
Due: none

Add more benchmarks for individual transactions and revise costs.
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wasm
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add documentation for election difficulty types.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Add smart contracts host functions unit tests.
  concordium-consensus/testdata/contracts/action-tree-tests.wasm
  concordium-consensus/testdata/contracts/action-tree-tests.wat
  concordium-consensus/testdata/contracts/get-parameter-section-tests.wasm
  concordium-consensus/testdata/contracts/get-parameter-section-tests.wat
  concordium-consensus/testdata/contracts/get-parameter-size-tests.wasm
  concordium-consensus/testdata/contracts/get-parameter-size-tests.wat
  concordium-consensus/testdata/contracts/load-state-tests.wasm
  concordium-consensus/testdata/contracts/load-state-tests.wat
  concordium-consensus/testdata/contracts/log-event-tests.wasm
  concordium-consensus/testdata/contracts/log-event-tests.wat
  concordium-consensus/testdata/contracts/memory-tests.wasm
  concordium-consensus/testdata/contracts/memory-tests.wat
  concordium-consensus/testdata/contracts/only-in-init-tests.wasm
  concordium-consensus/testdata/contracts/only-in-init-tests.wat
  concordium-consensus/testdata/contracts/only-in-receive-tests.wasm
  concordium-consensus/testdata/contracts/only-in-receive-tests.wat
  concordium-consensus/testdata/contracts/resize-state-tests.wasm
  concordium-consensus/testdata/contracts/resize-state-tests.wat
  concordium-consensus/testdata/contracts/send-tests.wasm
  concordium-consensus/testdata/contracts/send-tests.wat
  concordium-consensus/testdata/contracts/simple-transfer-tests.wasm
  concordium-consensus/testdata/contracts/simple-transfer-tests.wat
  concordium-consensus/testdata/contracts/state-size-tests.wasm
  concordium-consensus/testdata/contracts/state-size-tests.wat
  concordium-consensus/testdata/contracts/write-state-tests.wasm
  concordium-consensus/testdata/contracts/write-state-tests.wat
Due: none

Implement ContractName and ReceiveName (+Owned versions)
  src/impls.rs
  src/schema.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement ContractName and ReceiveName (+Owned versions)
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/schema.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serialization of Contract and ReceiveName
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/schema_json.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add helper function for writing lengths
  smart-contracts/cargo-concordium/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clean up
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
