Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Expose key derivation for mobile wallet library
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-src/Cargo.lock
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add new functions to header file
  mobile_wallet/mobile_wallet.h
Due: none

Fix variable names
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use attribute tag u8 value in json
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update mobile_wallet changelog and bump version
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refactor according to review
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-src/Cargo.lock
  rust-src/ed25519_hd_key_derivation/Cargo.toml
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce protocol version P5 which is essentially P4.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-bins/genesis/README.md
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P5.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Patch hashing of outcomes to work around a bug in P4.
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Add documentation, correct bug in implementation when self-calls would be involved.
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Use consistent naming. We use "signKey" in the mobile wallet library.
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/README.md
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more type safety, add documentation.
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-src/Cargo.lock
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve documentation.
  rust-src/ed25519_hd_key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix potential overflow when calculating with leverage bounds.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Documentation.
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

Add more documentation.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
Due: stack:build-and-test

Auxiliary functionality to support avoiding to load the genesis data unless needed.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Extract protocol version from serialized genesis data.
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

Introduce GenesisConfiguration and corresponding serialization helpers.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
  haskell-src/Concordium/Genesis/Data/P3.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
Due: stack:build-and-test

Fix documentation of the JSON encoding of pending pool changes.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Introduce Raw encryption key to speed up loading.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Introduce CredentialRegistrationIDRaw to optimize its handling.
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Add documentation.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Added a byte representation type for CredentialRegistrationID
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Better Show instance for RawCredentialRegistrationID
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Add length requirement to EncryptedAmount
  rust-bins/Cargo.lock
  rust-src/encrypted_transfers/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use RawCredentialRegistrationID in AccountIdentifier
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Add regression test for the transfer amount even bug.
  concordium-consensus/testdata/contracts/v1/transfer.wasm
  concordium-consensus/testdata/contracts/v1/transfer.wat
Due: none

Ensure consistent naming of Raw* types.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Make the naming consistent.
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Make schema name valid
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add Leb128 integers and bytes to the contract schema
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add versioned schema module
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add versioned schema module
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add Leb128 integers and bytes to the contract schema
  Cargo.toml
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog with new schema additions
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog with new schema additions
  CHANGELOG.md
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
