Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Update changelog
  concordium-contracts-common/CHANGELOG.md
Due: none

Fix clippy warnings
  concordium-contracts-common/src/impls.rs
  concordium-contracts-common/src/traits.rs
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix clippy warnings
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/traits.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement `Sub` for Energy
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement `saturating_sub` for `Energy` and `InterpreterEnergy`
  rust-src/concordium_base/src/base.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement checked_sub for `Energy`
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add (Partial)Eq to `InvokeFailure`
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `From` instances between essentially duplicated types
  rust-src/concordium_base/src/hashes.rs
  rust-src/concordium_base/src/smart_contracts.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Derive `PartialEq` and `Eq` for `Logs`
  smart-contracts/wasm-chain-integration/src/v0/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/wasm-chain-integration/CHANGELOG.md
Due: none

A bit of documentation and make the inner hash field public.
  rust-src/concordium_base/src/hashes.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Regenerate lock files.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
Due: cargo:test-idiss

Remove unused dependencies and bump bumpalo version. (#309)
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/id/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix the rand dependency.
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/encrypted_transfers/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Haddock comments
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Review comments.
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Merge main.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Appease the almighty but always forgiving fourmolu.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add CI job for ensuring consistency between wat and wasm files
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

Add ignore file for wat/wasm checker and install diffutils
  .diff-wat-wasm.sh
  .github/workflows/build-test-smart-contracts.yaml
  smart-contracts/testdata/contracts/.diff-wat-wasm-ignore
Due: stack:build-and-test

Revise seed state to support new consensus. Add hash-to-integer conversion.
  haskell-src/Concordium/Crypto/SHA256.hs
  haskell-src/Concordium/Types/SeedState.hs
  haskell-src/Data/FixedByteString.hs
Due: stack:build-and-test

Add signature threshold to core genesis data.
  haskell-src/Concordium/Genesis/Data/BaseV1.hs
Due: stack:build-and-test

Invalidate cache
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Better comments, print ChainParameterVersion using toJSON recursively in ToJSON instance for EChainParametersAndKeys.
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  rust-src/Cargo.lock
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix openssl-src to .0 to support older Rust versions.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Handle comments in ignore file and add comments
  .diff-wat-wasm.sh
  smart-contracts/testdata/contracts/.diff-wat-wasm-ignore
Due: none

Remove diffutils
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

Simplify script and remove ignore file
  .diff-wat-wasm.sh
  smart-contracts/testdata/contracts/.diff-wat-wasm-ignore
Due: none

Added dots.
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Add CI job for checking consistency between wat and wasm files
  .diff-wat-wasm.sh
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Do not validate modules that are intentionally invalid
  .diff-wat-wasm.sh
Due: none

Clarify purpose
  smart-contracts/testdata/contracts/README.md
Due: none

Put CI job in right location
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Rework seed state with lenses.
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Replace `Parameter` with `OwnedParameter`
  rust-src/concordium_base/src/constants.rs
  rust-src/concordium_base/src/internal.rs
  rust-src/concordium_base/src/smart_contracts.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A small implementation note on the manually created lenses and extension usage.
  haskell-src/Concordium/Types/SeedState.hs
Due: stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
