Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Changes to GetBakerPoolStatus GRPC.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Remove deleted test.
  haskell-tests/Spec.hs
Due: stack:build-and-test

Update AccountInfo with cooldowns and available amount. Remove unused JSON parsing for AccountInfo.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Add company attributes
  idiss-csharp/IdissLib/IdissLib.csproj
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update concordium-base changelog and add company attr in haskell src
  haskell-src/Concordium/ID/Types.hs
  rust-src/concordium_base/CHANGELOG.md
Due: stack:build-and-test

Update GRPC API.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Fix ToProto instance for AccountInfo
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Deprecate encrypted transfers
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/encrypted_transfers/mod.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump mobile_wallet version
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

allow deprecated in ffi module
  rust-src/concordium_base/src/encrypted_transfers/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Deprecate baker stuff too
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

rustfmt
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Deprecate encrypted transfers (#537)
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/encrypted_transfers/ffi.rs
  rust-src/concordium_base/src/encrypted_transfers/mod.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Derive default on Amount
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Derive default on Amount (#538)
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix mobile wallet Android build script
  mobile_wallet/android/build-android.sh
Due: none

Add legal country to allowed attributes in wallet-library.
  rust-src/wallet_library/src/default_wallet_config.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update version and changelog.
  rust-src/Cargo.lock
  rust-src/wallet_library/CHANGELOG.md
  rust-src/wallet_library/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

NOD598: boilerplate tests for P8 update
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-tests/Generators.hs
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Types/ParametersSpec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

NOD598: Add the suspended flag to AccountInfo
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

NOD598: boilerplate for P8 protocol update
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P8.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/SeedState.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Added missing tests for protocol versions 5-7.
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Added github ticket for missing implementation for chain params migration p7->p8.
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Use `const NoChange` for `migrateStakePendingChange`.
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Updated docstring for AccountV4.
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Added error for pool migration p7->p8 and linked a github issue.
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Protocol version 8 boilerplate (#543)
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P8.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/SeedState.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Generators.hs
  haskell-tests/Genesis/ParametersSpec.hs
  haskell-tests/Types/ParametersSpec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionSummarySpec.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

`AccountIsSuspended` flag for `AccountInfo`
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Add conversion helper
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

`AccountIsSuspended` flag for `AccountInfo` (#546)
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Move function behind feature flag
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Merge pull request #547 from Concordium/add-conversion-from-bytes-to-account-address
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
