Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Minor improvements.
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Enable specifying of arguments to genesis tools via environment variables.
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/genesis_tool.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Provide docker image with all the tools to build genesis.
  scripts/genesis-tools.Dockerfile
Due: none

Consolidate constants in their own module.
  concordium-base.cabal
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Types/TransactionGen.hs
Due: stack:build-and-test

Revise how credentials are given in genesis.
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/ID/Types.hs
  rust-bins/src/bin/genesis_tool.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Skip github CI on draft PRs
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
Due: stack:build-and-test

Add utility functions
  haskell-src/Concordium/Utils.hs
  haskell-src/Concordium/Utils/Encryption.hs
Due: stack:build-and-test

Move Encryption.hs (+ tests) from Concordium-Client
  concordium-base.cabal
  haskell-src/Concordium/Utils/Encryption.hs
  haskell-tests/ConcordiumTests/Utils/Encryption.hs
  haskell-tests/Spec.hs
  package.yaml
Due: stack:build-and-test

Fix missing newline after password prompt
  haskell-src/Concordium/Utils/Encryption.hs
Due: stack:build-and-test

Add documentation.
  haskell-src/Concordium/Utils/Encryption.hs
Due: stack:build-and-test

Revise encryption and make the genesis tool capable of outputting encrypted baker credentials.
  haskell-src/Concordium/Utils/Encryption.hs
  rust-bins/Cargo.toml
  rust-bins/src/bin/genesis_tool.rs
  rust-src/crypto_common/Cargo.toml
  rust-src/crypto_common/src/encryption.rs
  rust-src/crypto_common/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove obsolete rejection.
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Set up licenses and update contact information.
  .github/workflows/build-test.yaml
  .github/workflows/rustfmt.yaml
  LICENSE
  LICENSE-APACHE
  MPFRTest/package.yaml
  README.md
  concordium-base.cabal
  identity-provider-service/Cargo.toml
  idiss/Cargo.toml
  mobile_wallet/Cargo.toml
  package.yaml
  rust-bins/Cargo.toml
  rust-src/aggregate_sig/Cargo.toml
  rust-src/bulletproofs/Cargo.toml
  rust-src/crypto_common/Cargo.toml
  rust-src/crypto_common_derive/Cargo.toml
  rust-src/curve_arithmetic/Cargo.toml
  rust-src/dodis_yampolskiy_prf/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/eddsa_ed25519/Cargo.toml
  rust-src/elgamal/Cargo.toml
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/ffi_helpers/Cargo.toml
  rust-src/id/Cargo.toml
  rust-src/keygen_bls/Cargo.toml
  rust-src/pedersen_scheme/Cargo.toml
  rust-src/ps_sig/Cargo.toml
  rust-src/random_oracle/Cargo.toml
  rust-src/sha_2/Cargo.toml
  rust-src/wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Delete obsolete gitlab ci specification.
  .gitlab-ci.yml
  README.md
Due: none

Delete documentation for tools that are no longer alive.
  rust-bins/demo-wallet-notes/README.md
  rust-bins/demo-wallet-notes/example_server_interactions/example_credential_request.json
  rust-bins/demo-wallet-notes/example_server_interactions/example_credential_response.json
  rust-bins/demo-wallet-notes/example_server_interactions/example_id_object_request.json
  rust-bins/demo-wallet-notes/example_server_interactions/example_id_object_response.json
  rust-bins/demo-wallet-notes/example_server_interactions/global.json
Due: none

Features for fuzzing support (#16)
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Features for fuzzing support (#16)
  Cargo.toml
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Licensing and cleanup.
  smart-contracts/.github/workflows/ci.yaml
  smart-contracts/LICENSE-APACHE
  smart-contracts/LICENSE-MPL-2.0
  smart-contracts/README.md
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove redundant gitlab CI configuration.
  smart-contracts/.gitlab-ci.yml
Due: none

Copyright notice.
  smart-contracts/COPYRIGHT.txt
Due: none

Add support for interpreter fuzzing.
  smart-contracts/.gitignore
  smart-contracts/README.md
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/fuzz/Cargo.toml
  smart-contracts/wasm-chain-integration/fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-chain-integration/fuzz/scripts/generate-coverage.py
  smart-contracts/wasm-chain-integration/fuzz/scripts/wrapper.py
  smart-contracts/wasm-chain-integration/src/fuzz.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
  smart-contracts/wasm-transform/Cargo.toml
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/types.rs
  smart-contracts/wasm-transform/src/utils.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cleanup redundant declarations.
  identity-provider-service/Cargo.toml
  idiss/Cargo.toml
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.toml
  rust-src/aggregate_sig/Cargo.toml
  rust-src/bulletproofs/Cargo.toml
  rust-src/crypto_common/Cargo.toml
  rust-src/crypto_common_derive/Cargo.toml
  rust-src/curve_arithmetic/Cargo.toml
  rust-src/dodis_yampolskiy_prf/Cargo.toml
  rust-src/ecvrf/Cargo.toml
  rust-src/eddsa_ed25519/Cargo.toml
  rust-src/elgamal/Cargo.toml
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/ffi_helpers/Cargo.toml
  rust-src/id/Cargo.toml
  rust-src/keygen_bls/Cargo.toml
  rust-src/pedersen_scheme/Cargo.toml
  rust-src/ps_sig/Cargo.toml
  rust-src/random_oracle/Cargo.toml
  rust-src/sha_2/Cargo.toml
  rust-src/wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expanded fuzzer section in README. Added fixed artifacts.
  smart-contracts/README.md
  smart-contracts/wasm-chain-integration/fuzz/fixed_artifacts/interpreter/1.wat
  smart-contracts/wasm-chain-integration/fuzz/fixed_artifacts/interpreter/2.wat
  smart-contracts/wasm-chain-integration/fuzz/fixed_artifacts/interpreter/3.wat
Due: none

Fixed dependencies on contracts-common, removed redundant license line.
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/fuzz/Cargo.toml
  smart-contracts/wasm-chain-integration/src/types.rs
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting.
  smart-contracts/wasm-chain-integration/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

BLS hash follows BLS12381G1_XMD:SHA-256_SSWU_RO_
  rust-src/curve_arithmetic/src/bls12_381_g1hash.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Relicense and update contact information.
  smart-contracts/contracts-common/Cargo.toml
  smart-contracts/contracts-common/LICENSE
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Relicense and update contact information.
  Cargo.toml
  LICENSE
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
