Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Add sign_message function to AccountKeys
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/id/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

[contracts-common] Fix documentation regarding generating error schema for init
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove block summary.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Implement Field/Curve traits for ed25519 (WIP)
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

curve25519 WIP
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add protocol version 7 and genesis data
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P7.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/SeedState.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Curve25519 Added
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

minor fixes
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add benches
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/range_proof_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add ed25519_ng implementation; add dalek's bulletproof benchmark
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_ng_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Genesis/Data/P7.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Definitions for supporting Merkle proofs.
  concordium-base.cabal
  haskell-src/Concordium/MerkleProofs.hs
Due: stack:build-and-test

msm benchmark
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/msm_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support validatorId in Rust credentials.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve the multiscalar multiplication precomputation step.
  rust-src/concordium_base/benches/multiexp_bench.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

Re-export ed25519_dalek crate
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add singelton function for account access structure
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add from trait accountKeys to accountPublicKeys
  rust-src/concordium_base/src/id/types.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Attempt to fix CI.
  .github/workflows/build-test-contracts-common.yaml
Due: stack:build-and-test

Update build-test-smart-contracts to avoid unmaintained actions.
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

Update remaining build to avoid using toolchain action.
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Add wasm targets.
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
Due: stack:build-and-test

Address clippy suggestions.
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use matrix to reduce duplication.
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Use different multiexp implementations: generic of BSL and special for ristretto; add benchmarks
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/msm_bench.rs
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_ng_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changeLog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Remove from_bytes method
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/id/types.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Comment on msm benchmark
  rust-src/concordium_base/benches/msm_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add callback to free array memory
  idiss-csharp/IdissLib/Idiss.cs
  idiss/Cargo.toml
  idiss/src/cs_exports.rs
  rust-src/concordium_base/src/ffi_helpers/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

change to existing dll
  idiss-csharp/IdissLib/Idiss.cs
Due: none

Bump versions and updated changelogs
  idiss-csharp/CHANGELOG.md
  idiss-csharp/IdissLib/IdissLib.csproj
  idiss/CHANGELOG.md
  idiss/Cargo.lock
  idiss/Cargo.toml
  rust-src/concordium_base/CHANGELOG.md
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix formatting
  rust-src/concordium_base/src/ffi_helpers/common.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

added missing json file for test
  idiss-csharp/data/valid_request_v1.json
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
