Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

fix
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

add pg test tool
  rust-bins/src/bin/pg_test_tool.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

plt txn energy cost
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

singleworkspace
  Cargo.toml
  rust-src/Cargo.lock
  rust-src/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ar/cor 1399 extend rust sdk to support token governance transactions (#659)
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_transaction.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix doc
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

single workspace
  .github/workflows/build-test-sources.yaml
  Cargo.toml
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-toolchain.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixdoc
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fixcommentss
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_reject_reason.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

use same ci triggers as on main
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

refactor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fmt
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

refactor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/composites.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Seperate ChainParametersVersion and AuthorizationsVersion.
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Add CreatePLT auth.
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

refactor
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

refactor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_amount.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

release base 8.0.0-alpha
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base_derive/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix
  rust-src/concordium_base/CHANGELOG.md
Due: none

update base dependency
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/keygen_bls/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

refactor
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Release base 8.0.0 (#663)
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base_derive/Cargo.toml
  rust-src/keygen_bls/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

refactor
  rust-src/concordium_base/src/common/cbor/decoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix clippy warnings
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add toJSON and fromJSON for token module state
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

movetest
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/composites.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

value
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

value
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

value
  rust-src/concordium_base/src/common/cbor/value.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

enumother
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/primitives.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

value
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

value
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/decoder.rs
  rust-src/concordium_base/src/common/cbor/encoder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_metadata_url.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

value
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

tagged
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
