Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Optimize call tracking.
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

`supportsContractInspectionQueries` version predicate
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add costs for new invoke operations
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

Documentation.
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Smart contract for testing contract inspection queries.
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wasm
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wat
Due: none

Optimize branches.
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Additional testing contracts
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wat
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module0.wasm
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module0.wat
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module1.wasm
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module1.wat
Due: none

Made `HashBytes::new()` a const function
  smart-contracts/contracts-common/concordium-contracts-common/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Updated changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Add method to check if request satisfies wallet restrictions for account statements
  rust-src/wallet_library/src/lib.rs
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Check attribute values + bump version
  rust-src/Cargo.lock
  rust-src/wallet_library/CHANGELOG.md
  rust-src/wallet_library/Cargo.toml
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Appease clippy
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rebuild wasm moduless.
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wasm
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module0.wasm
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module1.wasm
Due: none

Update smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Rename satisfies_wallet_restrictions to acceptable_request + change return type to include error
  rust-src/wallet_library/CHANGELOG.md
  rust-src/wallet_library/Cargo.toml
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce WalletConfig (tests not running)
  rust-src/wallet_library/src/proofs.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix clippy and tests
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wasm
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wat
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module0.wat
  smart-contracts/testdata/contracts/v1/upgrading-inspect-module1.wat
  smart-contracts/wasm-chain-integration/CHANGELOG.md
Due: none

Appease fmt + add lifetime
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move default config into separate file + some comments
  rust-src/wallet_library/src/default_wallet_config.rs
  rust-src/wallet_library/src/lib.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Regenerate wasm
  smart-contracts/testdata/contracts/v1/queries-contract-inspection.wasm
Due: none

Cleanup + comments
  rust-src/wallet_library/src/default_wallet_config.rs
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement AcceptableRequest for Web3Id Statements + address other comments
  rust-src/wallet_library/src/statement.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

contracts-common: Added `const fn` `get_alias_unchecked`
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose fields of events in CIS4.
  rust-src/concordium_base/src/cis2_types.rs
  rust-src/concordium_base/src/cis4_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  rust-src/concordium_base/CHANGELOG.md
Due: none

Towards a register based interpreter.
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/artifact_input.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add missing test
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serde::serialize and serde::deserialize traits for signature types
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump rust version
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-smart-contracts.yaml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/impls.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused serialization and related code.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Migration.hs
Due: stack:build-and-test

Set minimum rust version to 1.73
  .github/workflows/build-test-sources.yaml
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/cis2_types.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Try to fix chrono dependency
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  idiss/CHANGELOG.md
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/common/impls.rs
  rust-src/concordium_base/src/id/id_proof_types.rs
  rust-src/concordium_base/src/transactions.rs
  rust-src/concordium_base/src/web3id/mod.rs
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix comment.
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Debug.
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix LocalTee.
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Short circuit LocalSet in certain contexts.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

LocalTee short circuit.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test
