Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Fix id request input struct and rename function
  rust-src/wallet_library/src/identity.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Introduce type instead of tuple.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Standardize naming.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reduce duplication.
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Addressing comments.
  haskell-src/Concordium/MerkleProofs.hs
Due: stack:build-and-test

GRPC support for Merkle proofs.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Fix credential common input struct
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Only generate the required attribute randomness
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document that threshold and number of keys is always 1
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Adding tests for ed25519
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

removing unnecessary tests
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests for into_repr() and scalar_from_bytes()
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix curve25519 tests
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add comments to curve25519 tests
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix BLS Fr serialisation; add tests for the arkworks BLS implementation
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/msm_bench.rs
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/constants.rs
  rust-src/concordium_base/src/web3id/mod.rs
  rust-src/key_derivation/src/lib.rs
  rust-src/keygen_bls/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add FromStr and Display impls for PRF keys
  rust-src/concordium_base/src/dodis_yampolskiy_prf/secret.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update CHANGELOG.md
  rust-src/concordium_base/CHANGELOG.md
Due: none

Undo unnecessary format change
  rust-src/concordium_base/CHANGELOG.md
Due: none

Omit emitting secret key in debug and display.
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/dodis_yampolskiy_prf/secret.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update the rest of the code to work with v2 of de25519-dalek; remove public key from parameters where it's suficient to pass a secret key (e.g. signing)
  haskell-src/Concordium/Crypto/Ed25519Signature.hs
  identity-provider-service/src/bin/main.rs
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/src/lib.rs
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/concordium_base/src/eddsa_ed25519/ffi.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/constants.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/test.rs
  rust-src/ed25519_hd_key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix comments
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove ff::BitIterator, use pow_vartime implementation from newer version of ff crate
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add a comment about double; remove commented out line
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use Scalar::from_bits() even though it is depricated; bump ed25519 version in wallet_library
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/bulletproofs.rs
  rust-src/concordium_base/src/ecvrf/mod.rs
  rust-src/concordium_base/src/ecvrf/public.rs
  rust-src/concordium_base/src/ecvrf/secret.rs
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/wallet_library/Cargo.toml
  rust-src/wallet_library/src/credential.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Addressing comments
  haskell-src/Concordium/MerkleProofs.hs
Due: stack:build-and-test

Cleanup and documentation
  rust-src/concordium_base/benches/bulletproofs.rs
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/field_adapters.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting
  identity-provider-service/src/bin/main.rs
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/keygen_bls/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More formatting
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More formatting
  idiss/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments. Add simple test.
  concordium-base.cabal
  haskell-src/Concordium/MerkleProofs.hs
  haskell-tests/ConcordiumTests/MerkleProofs.hs
  haskell-tests/Spec.hs
Due: stack:build-and-test

Address comments.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

First draft for verifying merkle proofs in Rust
  rust-src/concordium_base/src/lib.rs
  rust-src/concordium_base/src/merkle_proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixes after clippy
  README.md
  rust-src/concordium_base/src/curve_arithmetic/arkworks_instances.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/ecvrf/public.rs
  rust-src/concordium_base/src/ecvrf/secret.rs
  rust-src/concordium_base/src/eddsa_ed25519/dlog_ed25519.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More clippy
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_arkworks.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
