Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Optionally disable id ffi.
  rust-src/ecvrf/src/ecvrf.rs
  rust-src/ecvrf/src/secret.rs
  rust-src/id/Cargo.toml
  rust-src/id/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix typos found during code review.
  rust-src/crypto_common/src/lib.rs
  rust-src/crypto_common/src/serialize.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove the automatic migration function.
  haskell-src/Concordium/SQL/AccountTransactionIndex.hs
Due: stack:build-and-test

Addressing comments. Move AccountReleaseSchedule back to global state.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Accounts/Releases.hs
Due: stack:build-and-test

Move BakerStatus back to concordium-node
  haskell-src/Concordium/Types/Instance.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add three new transaction types and extend Event with memo. Parameterize decodePayload by protocol version.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Use multiexp in commitment_to_share
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/id/Cargo.toml
  rust-src/id/benches/commitment_to_share.rs
  rust-src/id/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use multiexp for aggregate dlog commit point: 70% faster.
  rust-src/Cargo.lock
  rust-src/id/Cargo.toml
  rust-src/id/benches/aggr_dlog_commit_point.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Logger.hs
  haskell-src/Concordium/Utils/Serialization.hs
Due: stack:build-and-test

Use strict bytestrings for regenesis state.
  haskell-src/Concordium/Genesis/Data/P1.hs
Due: stack:build-and-test

Introduce `ProtocolUpdateStatus`
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Cover protocol version 2 in BasicGenesisData.
  haskell-src/Concordium/Genesis/Data.hs
Due: stack:build-and-test

Add deserialization of P2 genesis.
  concordium-base.cabal
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
Due: stack:build-and-test

Add JSON instances for protocol version.
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Support transfers with memo in mobile libraries.
  mobile_wallet/src/lib.rs
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Jenkins: Migrate to Docker Hub
  identity-provider-service.Jenkinsfile
Due: none

Fix typo and add example json files for transfers with memo.
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/create_encrypted_transfer_with_memo-input.json
  rust-bins/wallet-notes/files/create_encrypted_transfer_with_memo-output.json
  rust-bins/wallet-notes/files/create_transfer_with_memo-input.json
  rust-bins/wallet-notes/files/create_transfer_with_memo-output.json
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  identity-provider-service.Jenkinsfile
Due: none

Jenkins: Migrate to Docker Hub (#66)
  identity-provider-service.Jenkinsfile
Due: none

Identity provider service: Fix Docker build
  identity-provider-service.Jenkinsfile
  scripts/identity-provider-service.Dockerfile
Due: none

Identity provider service: Fix Docker build (#68)
  identity-provider-service.Jenkinsfile
  scripts/identity-provider-service.Dockerfile
Due: none

Update haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Addressing comment on PR.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Fix payload serialization test.
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Addressing some comments on PR.
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Corrected comment.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

impl Serial and Deserial for arrays using const generics
  src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

impl Serial and Deserial for arrays using const generics
  smart-contracts/contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use const generics for array SchemaType
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use const generics for array SchemaType
  src/impls.rs
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Update changelog
  CHANGELOG.md
Due: none

Introduce initial genesis state for P2 genesis.
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
Due: stack:build-and-test

Revise P2 initial genesis to be analogous to P1.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
Due: stack:build-and-test

Add documentation.
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Unify JSON and binary serialization functions for protocol version.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Apply suggestions from code review
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
Due: stack:build-and-test

Update genesis tool to be able to output genesis for P2 protocol.
  CHANGELOG.md
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Data/P2.hs
Due: stack:build-and-test

Add basic documentation of the genesis tool and supported versions.
  haskell-bins/genesis/README.md
Due: none

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
