Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Support new schema version in cargo-concordium
  smart-contracts/cargo-concordium/CHANGELOG.md
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/cargo-concordium/src/schema_json.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce new functions for identity creation without initial account creation. Add posibility for deterministically generated keys and randomness.
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/lib.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types - Kopi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add Leb128 deserial unit tests
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add Leb128 deserial unit tests
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use V1 for the first versioned schema
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use V1 for the first versioned schema
  CHANGELOG.md
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Delete types - Kopi.rs
  rust-src/id/src/types - Kopi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove space in name to make it valid
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove SQL schemas.
  concordium-base.cabal
  haskell-src/Concordium/SQL/AccountTransactionIndex.hs
  haskell-src/Concordium/SQL/Helpers.hs
  package.yaml
Due: stack:build-and-test

Generalize instance a little bit.
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Safely preallocate for schema bytelist
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Safely preallocate for schema bytelist
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add unit test for leb128 serializing and update concordium_contracts_common
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/cargo-concordium/src/schema_json.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update mobile_wallet/src/lib.rs
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/id/src/types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clearify help text for schema V2 in cargo concordium
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused apt install.
  scripts/genesis-tools.Dockerfile
Due: none

Add schema type doc comments
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add schema type doc comments
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Extend changelog entry about new schema types
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Extend changelog entry about new schema types
  CHANGELOG.md
Due: none

Add more comments to schema versions
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more comments to schema versions
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Minor renaming of schema related functions
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Rename schema-v2 argument to schema-unversioned in cargo concordium
  smart-contracts/cargo-concordium/src/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support versioned schema for v0 smart contracts
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add v0 schema modules to the versioned schema module
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add v0 schema modules to the versioned schema module
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use common regex for hex strings that ensures even len
  rust-src/crypto_common/src/helpers.rs
  rust-src/crypto_common/src/types.rs
  rust-src/elgamal/src/cipher.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Merge main
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
Due: none

Fix cargo concordium outputting schema without version info
  smart-contracts/cargo-concordium/src/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add different schema versions to testdata
  smart-contracts/testdata/schemas/cis1-wccd-embedded-schema-v0-unversioned.wasm
  smart-contracts/testdata/schemas/cis1-wccd-embedded-schema-v0-versioned.wasm
  smart-contracts/testdata/schemas/cis1-wccd-schema-v0-unversioned.bin
  smart-contracts/testdata/schemas/cis1-wccd-schema-v0-versioned.bin
  smart-contracts/testdata/schemas/cis2-wccd-embedded-schema-v1-versioned.wasm
  smart-contracts/testdata/schemas/cis2-wccd-schema-v1-unversioned.bin
  smart-contracts/testdata/schemas/cis2-wccd-schema-v1-versioned.bin
Due: none

Add comment for the branching of schema parsing
  smart-contracts/cargo-concordium/src/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments on PR.
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/src/bin/identity_provider_cli-v1.rs
  rust-bins/src/lib.rs
  rust-bins/wallet-notes/example.c
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Restructure pre-identity object types. Add mobile wallet lib example files. Update mobile wallet lib documentation.
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-bins/src/bin/identity_provider_cli-v1.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/files/create_credential-v1-input.json
  rust-bins/wallet-notes/files/create_credential-v1-output.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-v1-input.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-v1-output.json
  rust-src/id/src/account_holder.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cleanup.
  rust-src/id/src/account_holder.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Delete identity_provider_cli-v1.rs
  rust-bins/src/bin/identity_provider_cli-v1.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update mobile wallet lib changelog.
  mobile_wallet/CHANGELOG.md
Due: none
