Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Record length separately for clarity.
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Derive jsonschema for Version
  rust-src/crypto_common/src/version.rs
  rust-src/id/src/constants.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

JsonSchema for GlobalContext
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add JsonSchema for AccountInfo
  rust-src/Cargo.lock
  rust-src/crypto_common/src/types.rs
  rust-src/elgamal/Cargo.toml
  rust-src/elgamal/src/cipher.rs
  rust-src/encrypted_transfers/Cargo.toml
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/secret_sharing.rs
  rust-src/id/src/types.rs
  rust-src/pedersen_scheme/Cargo.toml
  rust-src/pedersen_scheme/src/commitment.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add more documentation describing the overall approach.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Mark state as changed.
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve documentation and naming. Remove redundant code.
  concordium-consensus/testdata/contracts/v1/checkpointing.wasm
  concordium-consensus/testdata/contracts/v1/checkpointing.wat
Due: none

Revise cargo-concordium changelog.
  smart-contracts/cargo-concordium/CHANGELOG.md
Due: none

Fix typos.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix ArInfo schema
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix links to example files.
  rust-bins/wallet-notes/README.md
Due: none

Update rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/README.md
Due: none

Towards the implementation of cryptographic primitives in the host.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Benchmarks of cryptographic primitives.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/code/v1/host-functions.wasm
  smart-contracts/wasm-chain-integration/benches/code/v1/host-functions.wat
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Add deserialization of ImportFunc.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tests for the new host functions.
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/test-data/code/v1/crypto-primitives-tests.wasm
  smart-contracts/wasm-chain-integration/test-data/code/v1/crypto-primitives-tests.wat
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise costs for consistency.
  smart-contracts/wasm-chain-integration/src/constants.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Integrate cryptographic primitives into the node (#298)
  concordium-consensus/testdata/contracts/v1/all-new-host-functions.wasm
  concordium-consensus/testdata/contracts/v1/all-new-host-functions.wat
Due: none

Add version to mobile wallet libraries build scripts.
  mobile_wallet/scripts/android.Jenkinsfile
  mobile_wallet/scripts/ios.Jenkinsfile
Due: none

Add info logging to gradle.
  mobile_wallet/scripts/android.Jenkinsfile
Due: none

Add helper functions to the Amount type.
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Upgrades the resolver version to lts-19.6.
  README.md
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Crypto/ByteStringHelpers.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/InvokeContract.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-src/Concordium/Utils.hs
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Generators.hs
  stack.yaml
Due: stack:build-and-test

Rename field name from GTU to CCD.
  rust-bins/src/bin/trace_account.rs
  rust-src/crypto_common/src/types.rs
  rust-src/encrypted_transfers/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Updates the ghc version in build-test.yaml
  .github/workflows/build-test.yaml
Due: stack:build-and-test

Fixes after PR comments
  stack.yaml
Due: stack:build-and-test

Added several Arbitrary instances
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Arbitrary PartsPerHundredThousands generates bounded values
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Changed Arbitrary MintRate to generate mint rate values under 1
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Add Rust library for ed25519 hd key derivation
  rust-src/Cargo.lock
  rust-src/Cargo.toml
  rust-src/ed25519_hd_key_derivation/Cargo.toml
  rust-src/ed25519_hd_key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Applied suggested style change to Arbitrary MintDistribution
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Verify public keys in test vectors as well
  rust-src/ed25519_hd_key_derivation/Cargo.toml
  rust-src/ed25519_hd_key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add key derivation library
  rust-src/Cargo.lock
  rust-src/Cargo.toml
  rust-src/key_derivation/Cargo.toml
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove leftover assignments.
  rust-src/id/src/account_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose account address field so it can be constructed from a byte array.
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reflect the release in the changelog.
  CHANGELOG.md
Due: none

Reflect the release in the changelog.
  smart-contracts/contracts-common/CHANGELOG.md
Due: none
