Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Minor correction.
  mobile_wallet/CHANGELOG.md
Due: none

Update version.
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More cleanup.
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Derive a few more Clone and Debug. Fix benches.
  rust-src/id/benches/compute_message.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/id/benches/compute_message.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A little bit of cleanup.
  mobile_wallet/src/lib.rs
  rust-bins/src/bin/client.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Updates to identity and account creation flows (#168)
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/create_credential-v1-input.json
  rust-bins/wallet-notes/files/create_credential-v1-output.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-v1-input.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-v1-output.json
  rust-src/id/benches/compute_message.rs
  rust-src/id/benches/verify_cdi.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address clippy suggestions in newer rust versions.
  identity-provider-service/src/bin/main.rs
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/bin/trace_account.rs
  rust-src/aggregate_sig/src/ffi.rs
  rust-src/bulletproofs/src/inner_product_proof.rs
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/crypto_common/src/serialize.rs
  rust-src/crypto_common/src/version.rs
  rust-src/curve_arithmetic/src/bls12_381_instance.rs
  rust-src/ecvrf/src/ecvrf.rs
  rust-src/ecvrf/src/proof.rs
  rust-src/ecvrf/src/secret.rs
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/eddsa_ed25519/src/dlog_ed25519.rs
  rust-src/eddsa_ed25519/src/eddsa_ed25519.rs
  rust-src/elgamal/src/cipher.rs
  rust-src/elgamal/src/public.rs
  rust-src/elgamal/src/secret.rs
  rust-src/encrypted_transfers/src/ffi.rs
  rust-src/encrypted_transfers/src/proofs/dlogaggequal.rs
  rust-src/encrypted_transfers/src/proofs/dlogeq.rs
  rust-src/encrypted_transfers/src/proofs/generate_proofs.rs
  rust-src/encrypted_transfers/src/types.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/anonymity_revoker.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/id_prover.rs
  rust-src/id/src/id_verifier.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/secret_sharing.rs
  rust-src/id/src/sigma_protocols/aggregate_dlog.rs
  rust-src/id/src/sigma_protocols/com_lin.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
  rust-src/ps_sig/src/public.rs
  rust-src/ps_sig/src/secret.rs
  rust-src/ps_sig/src/signature.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump some dependencies to resolve security advisories.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/identity_verifier.rs
  idiss/Cargo.lock
  idiss/src/lib.rs
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/anonymity_revocation.rs
  rust-bins/src/bin/utils.rs
  rust-bins/src/lib.rs
  rust-src/Cargo.lock
  rust-src/aggregate_sig/Cargo.toml
  rust-src/id/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Re-export for use in the SDK.
  rust-src/id/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A bit of cleanup.
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused failure mode.
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Add core functions for proving and verifying knowledge of idCredSec.
  rust-src/id/src/account_holder.rs
  rust-src/id/src/identity_provider.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add test for getting embedded schemas
  smart-contracts/testdata/schemas/cis1-wccd-embedded-schema-v0-unversioned.wasm
  smart-contracts/testdata/schemas/cis1-wccd-embedded-schema-v0-versioned.wasm.v0
  smart-contracts/testdata/schemas/cis1-wccd-schema-v0-unversioned.bin
  smart-contracts/testdata/schemas/cis2-wccd-embedded-schema-v1-unversioned.wasm.v1
  smart-contracts/testdata/schemas/cis2-wccd-embedded-schema-v1-versioned.wasm.v1
  smart-contracts/wasm-chain-integration/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add new endpoints for identity creation in the version 1 flow. Add recovery endpoint.
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/html/attribute_form.html
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Handle all rejection types.
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format and clippy.
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Some cleanup and update readme.
  identity-provider-service/README.md
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  rust-src/id/src/account_holder.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments from code review.
  identity-provider-service/README.md
  identity-provider-service/src/bin/identity_verifier.rs
  identity-provider-service/src/bin/main.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Return json with retrieval url instead of identity object when recovery request is valid.
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add valid version 1 request.
  identity-provider-service/data/valid_request_v1.json
Due: none

Add version 1 identity creation flow to idiss lib and to the C# idiss wrapper.
  idiss-csharp/IdissExample/Program.cs
  idiss-csharp/IdissLib/Idiss.cs
  idiss-csharp/IdissLib/Types.cs
  idiss-csharp/IdissLibTest/IdissTests.cs
  idiss/src/cs_exports.rs
  idiss/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Provide some additional instances for various types.
  rust-src/bulletproofs/src/range_proof.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/lib.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Seek for Cursor
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement Seek for Cursor
  CHANGELOG.md
  src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add ID recovery to C# wrapper and update NodeJS wrapper. Increase version of idiss lib. Update READMEs and CHANGELOGs.
  idiss-csharp/.gitignore
  idiss-csharp/CHANGELOG.md
  idiss-csharp/IdissExample/Program.cs
  idiss-csharp/IdissLib/Idiss.cs
  idiss-csharp/IdissLib/IdissLib.csproj
  idiss-csharp/IdissLib/Types.cs
  idiss-csharp/IdissLibTest/IdissTests.cs
  idiss-csharp/README.md
  idiss-csharp/data3.zip
  idiss/CHANGELOG.md
  idiss/Cargo.toml
  idiss/README.md
  idiss/src/lib.rs
  idiss/src/nodejs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused variable.
  idiss/src/nodejs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add unit tests for Cursor seek implementation
  src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add unit tests for Cursor seek implementation
  smart-contracts/contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Delete .gitignore
  idiss-csharp/.gitignore
Due: none

Delete data3.zip
  idiss-csharp/data3.zip
Due: none

Introduce HasSize trait and make seek for cursor more general
  smart-contracts/contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce HasSize trait and make seek for cursor more general
  CHANGELOG.md
  src/impls.rs
  src/traits.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix the nodejs implementation, add nodejs documentation.
  idiss/Cargo.lock
  idiss/README.md
  idiss/example.js
  idiss/src/nodejs_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add missing id recovery request example files.
  identity-provider-service/data/id_recovery_request.json
  idiss-csharp/data/id_recovery_request.json
Due: none

Document new functions in README.
  idiss/README.md
Due: cargo:test-idiss

Update readme.
  idiss/README.md
Due: cargo:test-idiss
