Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Improve documentation.
  smart-contracts/README.md
  smart-contracts/wasm-transform/README.md
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/output.rs
  smart-contracts/wasm-transform/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add arbitrary instance for AttributeValue for use in fuzzing.
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add arbitrary instance for AttributeValue for use in fuzzing.
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move fuzzing out of the chain-integration crate.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/fuzz/Cargo.toml
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-fuzz/Cargo.toml
  smart-contracts/wasm-fuzz/fixed_artifacts/interpreter/1.wat
  smart-contracts/wasm-fuzz/fixed_artifacts/interpreter/2.wat
  smart-contracts/wasm-fuzz/fixed_artifacts/interpreter/3.wat
  smart-contracts/wasm-fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-fuzz/scripts/generate-coverage.py
  smart-contracts/wasm-fuzz/scripts/wrapper.py
  smart-contracts/wasm-fuzz/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make documentation reflect reality.
  smart-contracts/README.md
Due: none

More exported functions and a feature guard for account aliases
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Extra feature guard for delegation.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Additional documentation
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Format
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Add implementation drafts for FFI methods for creating IpInfo and ArInfo from bytestring input. [no ci]
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Unused imports, rename function as pr. naming convention. [no ci]
  haskell-src/Concordium/ID/IdentityProvider.hs
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reject ID requests on duplicate id_cred_pub.
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add functions for creating GlobalContext from string and byte arrays parameters. [no ci]
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/Parameters.hs
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Better FFI method names.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Rename uses of the wasm-chain-integration crate, add module documentation.
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-fuzz/fixed_artifacts/interpreter/1.wat
  smart-contracts/wasm-fuzz/fixed_artifacts/interpreter/2.wat
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove remaining dependency on ffi_helpers.
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Combine slow and fast verification of aggregated signatures.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
Due: stack:build-and-test

Formatting of rust src.
  rust-src/aggregate_sig/src/aggregate_sig.rs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation and a bit refactoring.
  haskell-src/Concordium/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
Due: stack:build-and-test

Remove commented out line.
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Docs and fixes.
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  stack.yaml
Due: stack:build-and-test

Address review comments.
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

State preconditions in comments, add output length parameter and set output length, refactor function bodies.
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Deallocate byte arrays.
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Comments.
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Typos [no ci]
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Comments. [no ci]
  haskell-src/Concordium/ID/AnonymityRevoker.hs
  haskell-src/Concordium/ID/IdentityProvider.hs
  haskell-src/Concordium/ID/Parameters.hs
Due: stack:build-and-test

Doc
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove output length from functions. [no ci]
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Doc and fix fun. signature for verifyAggregateHybrid
  haskell-src/Concordium/Crypto/BlsSignature.hs
  rust-src/aggregate_sig/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting
  haskell-src/Concordium/Crypto/BlsSignature.hs
Due: stack:build-and-test

Add failing test [no ci]
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix BlsSignature test
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
Due: stack:build-and-test

Revert "Add failing test [no ci]"
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add links in comments.
  rust-src/id/src/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Module exports.
  haskell-src/Concordium/GRPC2.hs
Due: stack:build-and-test

Some benchmarking
  rust-src/aggregate_sig/benches/bench.rs
  rust-src/aggregate_sig/src/aggregate_sig.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
