Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Update changelog
  concordium-contracts-common/CHANGELOG.md
Due: none

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Update the changelog
  .github/workflows/build-test.yaml
  .gitmodules
  CHANGELOG.md
  idiss/src/lib.rs
  rust-src/Cargo.lock
  rust-src/id/src/chain.rs
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump idp version to 0.3.0
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address some comments from code review and update documentation.
  rust-bins/docs/id-client.md
  rust-bins/docs/identity-provider-cli.md
  rust-bins/docs/user-cli.md
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Impl string formatting and parsing for ContractAddress and Address
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Impl string formatting and parsing for ContractAddress and Address
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move parsing of address to impl-serde
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move parsing of address to impl-serde
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve doc comments for some of the error types
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve doc comments for some of the error types
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comment
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply suggestions from code review
  CHANGELOG.md
Due: none

Address more comments from code review.
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update user cli documentation.
  rust-bins/docs/user-cli.md
Due: none

Update concordium-contracts-common and add address-new-type for serde impl
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move out cargo concordium
  smart-contracts/.github/workflows/ci.yaml
  smart-contracts/README.md
  smart-contracts/cargo-concordium/CHANGELOG.md
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/bench-artifacts/call-simple.wasm
  smart-contracts/cargo-concordium/bench-artifacts/call-simple.wat
  smart-contracts/cargo-concordium/benches/artifacts/counter.wasm
  smart-contracts/cargo-concordium/benches/wasm.rs
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/macos-cargo-concordium.Jenkinsfile
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/cargo-concordium/src/schema_json.rs
  smart-contracts/cargo-concordium/windows-cargo-concordium.Jenkinsfile
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose identity recovery function in mobile libs.
  mobile_wallet/android/mobile_wallet_lib/src/main/java/com/concordium/mobile_wallet_lib/wallet.kt
  mobile_wallet/mobile_wallet.h
  mobile_wallet/src/android.rs
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-bins/docs/id-client.md
  rust-bins/docs/id-client.md
Due: none

Update rust-bins/docs/identity-provider-cli.md
  rust-bins/docs/identity-provider-cli.md
Due: none

Update rust-src/key_derivation/src/lib.rs
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-bins/src/bin/client.rs
  rust-bins/src/bin/client.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address more comments and bump version.
  rust-bins/docs/user-cli.md
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Inform user whether a recovery request is generated for Mainnet or Testnet.
  rust-bins/src/bin/user_cli.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix CI
  .github/workflows/build-test-smart-contracts.yaml
  .github/workflows/build-test-sources.yaml
  README.md
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix smart-contracts licenses
  smart-contracts/rustfmt.toml
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format rust-src.
  rust-src/id/src/sigma_protocols/com_mult.rs
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update readme, changelog and bump version of mobile wallet lib.
  mobile_wallet/CHANGELOG.md
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/wallet-notes/README.md
  rust-bins/wallet-notes/example.c
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Bump version.
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format.
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add new input and output example files for the identity recovery generation function.
  rust-bins/wallet-notes/files/generate-recovery-request-input.json
  rust-bins/wallet-notes/files/generate-recovery-request-output.json
Due: none

Fix incorrect doc comment.
  mobile_wallet/src/android.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-bins cargo.lock
  rust-bins/Cargo.lock
Due: none
