Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

init:
  stage: print-env
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  script:
  - rustc --version && cargo --version
  ...

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

stack:build:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

stack:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  cache:
    paths:
    - /root/.stack
    - .stack-work
    - /root/.cargo/registry
    - rust-src/target
    - rust-bins/target
    - idiss/target
  ...

Fix benchmarks.
  haskell-bench/VerifyCredentialPerf.hs
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/ID/Account.hs
Due: init, stack:build, stack:test

Replace inconsistent use of panic with a graceful failure.
  smart-contracts/cargo-concordium/src/main.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Fix Haskell test compilation. The integration tests are still not passing.
  haskell-tests/ConcordiumTests/Crypto/FFIVerify.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionGen.hs
Due: init, stack:build, stack:test

Add serialization test for UpdateCredentials.
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionGen.hs
Due: init, stack:build, stack:test

Adding error code field to Reject instance of Init- and ReceiveResults.
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Using u8 reason types instead of u32.
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Serializing error codes in Receive/InitErrors.
  smart-contracts/wasm-chain-integration/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Adding error code to contract reject reasons.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Wasm.hs
Due: init, stack:build, stack:test

Regenerate testdata.
  haskell-tests/ConcordiumTests/Crypto/FFIVerify.hs
  rust-bins/src/bin/generate_testdata.rs
  testdata/cdi.bin
  testdata/cdi.json
  testdata/icdi.bin
  testdata/icdi.json
  testdata/testdata.bin
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Update integration test data to be compatible.
  testdata/cdi-coms.bin
Due: none

Appease clippy.
  rust-src/id/src/ffi.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Handle Strings in SchemaType
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/cargo-concordium/src/schema_json.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Using i32 for reject reasons instead of u8.
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Using i32 for reject reasons instead of u8.
  concordium-consensus/testdata/contracts/reject-reasons.wat
Due: none

Using I32 to store smart-contract error codes. Testing.
  concordium-consensus/testdata/contracts/reject-reasons.wat
Due: none

Adding missing reject-reasons.wasm test file.
  concordium-consensus/testdata/contracts/reject-reasons.wasm
Due: none

Limit length of contract and function names
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/src/constants.rs
  smart-contracts/wasm-transform/src/parse.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Introduce `TransactionSignature` and update wallet libraries to produce correct signatures.
  rust-bins/src/bin/genesis_tool.rs
  rust-src/crypto_common/src/types.rs
  rust-src/id/src/account_holder.rs
  rust-src/id/src/chain.rs
  rust-src/id/src/ffi.rs
  rust-src/id/src/identity_provider.rs
  rust-src/id/src/test.rs
  rust-src/id/src/types.rs
  rust-src/id/src/utils.rs
  rust-src/wallet/src/lib.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Limit size of all names.
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/src/constants.rs
  smart-contracts/wasm-transform/src/parse.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Validate name sizes in init and receive
  haskell-src/Concordium/Wasm.hs
Due: init, stack:build, stack:test

Propagate changes to rust-bins.
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/generate_testdata.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-src/id/src/secret_sharing.rs
  rust-src/id/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Consistent output of credentials and their keys in tools.
  CHANGELOG.md
  rust-bins/src/bin/client.rs
  rust-bins/src/bin/genesis_tool.rs
  rust-src/id/benches/verify_cdi.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Regenerate testdata for the identity provider service.
  identity-provider-service/data/anonymity_revokers.json
  identity-provider-service/data/fail_validation_request.json
  identity-provider-service/data/global.json
  identity-provider-service/data/identity_provider.json
  identity-provider-service/data/valid_request.json
  identity-provider-service/src/bin/main.rs
  rust-bins/src/bin/client.rs
  rust-src/id/src/types.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Add script for generating test data for the identity provider service.
  identity-provider-service/README.md
  identity-provider-service/generate-testdata.sh
  rust-bins/src/bin/client.rs
Due: init, lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build, stack:test

Update wallet example files.
  rust-bins/wallet-notes/CHANGES.md
  rust-bins/wallet-notes/check-wallet.sh
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/create_credential-input.json
  rust-bins/wallet-notes/files/create_credential-output.json
  rust-bins/wallet-notes/files/create_encrypted_transfer-input.json
  rust-bins/wallet-notes/files/create_encrypted_transfer-output.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-input.json
  rust-bins/wallet-notes/files/create_id_request_and_private_data-output.json
  rust-bins/wallet-notes/files/create_pub_to_sec_transfer-input.json
  rust-bins/wallet-notes/files/create_pub_to_sec_transfer-output.json
  rust-bins/wallet-notes/files/create_sec_to_pub_transfer-input.json
  rust-bins/wallet-notes/files/create_sec_to_pub_transfer-output.json
  rust-bins/wallet-notes/files/create_transfer-input.json
  rust-bins/wallet-notes/files/create_transfer-output.json
  rust-bins/wallet-notes/files/generate-accounts-input.json
  rust-bins/wallet-notes/files/generate-accounts-output.json
Due: none

Validate that the genesis account has a credential with index 0.
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Types/Execution.hs
Due: init, stack:build, stack:test

Path conditions:
  init: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, rust-bins/wallet-notes/files/global.json, rust-bins/wallet-notes/id-request.json, idiss/*
  stack:build: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
  stack:test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
