Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Merge github actions from contracts-common and remove gitignore
  .github/workflows/build-test-smart-contracts.yaml
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/.gitignore
Due: stack:build-and-test

Remove redundant line.
  fourmolu.yaml
Due: stack:build-and-test

Remove duplicate files, update paths and create new CI job
  .github/workflows/build-test-contracts-common.yaml
  .gitmodules
  rust-src/concordium_base/Cargo.toml
  smart-contracts/contracts-common/.gitignore
  smart-contracts/contracts-common/LICENSE
  smart-contracts/contracts-common/README.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/contracts-common/rustfmt.toml
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-fuzz/Cargo.toml
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use correct working dir in CI job
  .github/workflows/build-test-contracts-common.yaml
Due: stack:build-and-test

mobile_wallet: Use conventional casing for transaction types
  mobile_wallet/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

New dry run operations.
  haskell-src/Concordium/Crypto/SignatureScheme.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Support return values for transactions in dry-run.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Fix identity-provider-service url
  identity-provider-service/CHANGELOG.md
  identity-provider-service/Cargo.lock
  identity-provider-service/Cargo.toml
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix cargo doc warnings and add lints
  .github/workflows/build-test-contracts-common.yaml
  .github/workflows/build-test-sources.yaml
  rust-bins/src/bin/keygen-genesis.rs
  rust-bins/src/bin/keygen.rs
  rust-bins/src/lib.rs
  rust-src/ed25519_hd_key_derivation/src/lib.rs
  rust-src/key_derivation/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add period
  rust-bins/src/bin/keygen.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Undo quotation changes
  .github/workflows/build-test-contracts-common.yaml
Due: stack:build-and-test

Energy quotas
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Update base64 dependency to remove duplicate versions.
  identity-provider-service/Cargo.lock
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  mobile_wallet/src/lib.rs
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/common/encryption.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update time dependency to address security advisory.
  idiss/Cargo.lock
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/trace_account.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-test/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix display when multiple contract in module
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix format issue
  smart-contracts/contracts-common/concordium-contracts-common/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add all features flag to contract common CI
  .github/workflows/build-test-contracts-common.yaml
Due: stack:build-and-test

Update CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Remove CI comment in change log
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

undo changes
  rust-src/bulletproofs/Cargo.toml
  rust-src/bulletproofs/benches/range_proof_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

range proof bench over dalek curve
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/benches/range_proof_bench.rs
  rust-src/concordium_base/benches/range_proof_dalek_bench.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add custom traits Field and PrimeField with a blanket implementation for ff::Field and concrete implementations for Fr and Fq
  rust-src/concordium_base/src/aggregate_sig/mod.rs
  rust-src/concordium_base/src/bulletproofs/inner_product_proof.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_non_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/utils.rs
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
  rust-src/concordium_base/src/curve_arithmetic/secret_value.rs
  rust-src/concordium_base/src/dodis_yampolskiy_prf/secret.rs
  rust-src/concordium_base/src/elgamal/mod.rs
  rust-src/concordium_base/src/elgamal/secret.rs
  rust-src/concordium_base/src/id/account_holder.rs
  rust-src/concordium_base/src/id/id_verifier.rs
  rust-src/concordium_base/src/id/identity_provider.rs
  rust-src/concordium_base/src/id/secret_sharing.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/id/utils.rs
  rust-src/concordium_base/src/pedersen_commitment/randomness.rs
  rust-src/concordium_base/src/ps_sig/secret.rs
  rust-src/concordium_base/src/sigma_protocols/aggregate_dlog.rs
  rust-src/concordium_base/src/sigma_protocols/com_enc_eq.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq_different_groups.rs
  rust-src/concordium_base/src/sigma_protocols/com_eq_sig.rs
  rust-src/concordium_base/src/sigma_protocols/com_ineq.rs
  rust-src/concordium_base/src/sigma_protocols/com_lin.rs
  rust-src/concordium_base/src/sigma_protocols/com_mult.rs
  rust-src/concordium_base/src/sigma_protocols/dlog.rs
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/enc_trans.rs
  rust-src/concordium_base/src/sigma_protocols/vcom_eq.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Do not use PrimeField where Field is enough
  rust-src/concordium_base/src/bulletproofs/inner_product_proof.rs
  rust-src/concordium_base/src/bulletproofs/range_proof.rs
  rust-src/concordium_base/src/bulletproofs/set_membership_proof.rs
  rust-src/concordium_base/src/bulletproofs/utils.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
  rust-src/concordium_base/src/curve_arithmetic/secret_value.rs
  rust-src/concordium_base/src/id/types.rs
  rust-src/concordium_base/src/id/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix changelog consistency.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Fix bespoke serialization of policies for SCs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make timestamps methods const
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
Due: none

Add curve25519 implementation stub
  rust-src/concordium_base/src/curve_arithmetic/bls12_381_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/ed25519_instance.rs
  rust-src/concordium_base/src/curve_arithmetic/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Replaced usage og traits in suggestions and docs with concrete types
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/attribute.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add getting event schema from module schema
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Avoid using dummy hex contract and instead build module
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix formatting
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix comments
  smart-contracts/contracts-common/concordium-contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `parse` helper method
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/smart_contracts.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
