Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Documentation.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  smart-contracts/wasm-transform/CHANGELOG.md
Due: none

Adjust handling pre-cooldown.
  haskell-src/Concordium/Types/Accounts/CooldownQueue.hs
Due: stack:build-and-test

Move cooldown queue out of base.
  concordium-base.cabal
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Accounts/CooldownQueue.hs
Due: stack:build-and-test

Move Cooldown types to node. Revise supportsDelegation return type to Bool.
  concordium-base.cabal
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Types/Cooldown.hs
Due: stack:build-and-test

Add toJSON and fromJSON to BareBlockItemType
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Remove bareblockItem to and from JSON implementation
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Add toJson for bareblockItem
  haskell-src/Concordium/Types/Transactions.hs
  stack.yaml
Due: stack:build-and-test

Make web3id credentialsinputs deserializable to support web-sdk web3id verification
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Derive serde::Serialize and serde::Deserialize for PublicKeyEd25519
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add tag to serialization of credential proof to be able to properly discriminate when using
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revert "Add tag to serialization of credential proof to be able to properly discriminate when using"
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix serde rename
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

FMT
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add SignTransaction type
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

[mobile_wallet] update serde to fix failing build
  mobile_wallet/Cargo.lock
Due: none

Extend fromJSON and toJSON to all payload types
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Fix web3 id attribute serialization discrepancy
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use deriveJSON
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Add fromJSON and toJSON for wasmModule
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Add fromJSON and toJSON for BakerKeysWithProofs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Clean up timestamp conversion + add unit test
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

CI fixes
  haskell-src/Concordium/Cost.hs
  haskell-src/Concordium/Wasm.hs
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

Expose ed25519 type to be used for creating s
  rust-src/concordium_base/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

FMT
  rust-src/concordium_base/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use RFC 3339 timestamp format
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Fix small typos
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Clean up based on PR feedback
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Disable encrypted transfers in P7.
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Add tests
  concordium-base.cabal
  haskell-tests/Spec.hs
  haskell-tests/Types/PayloadSpec.hs
Due: stack:build-and-test

Improve toJSON and fromJSON WasmModule instance
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/PayloadSpec.hs
  stack.yaml
Due: stack:build-and-test

Add test for SignedTransaction
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/PayloadSpec.hs
Due: stack:build-and-test

Add manual implementation of toJSON and fromJSON for payload
  haskell-src/Concordium/Types/Execution.hs
Due: stack:build-and-test

Enable tests again
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Spec.hs
Due: stack:build-and-test

Addres comments
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-tests/Types/PayloadSpec.hs
Due: stack:build-and-test

Address comments
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Transactions.hs
Due: stack:build-and-test

Reinstate tests.
  haskell-tests/Spec.hs
Due: stack:build-and-test

Address comments
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test
