Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Bump versions for releases.
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  idiss/Cargo.toml
  mobile_wallet/Cargo.lock
  mobile_wallet/Cargo.toml
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/Cargo.toml
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/Cargo.toml
  smart-contracts/wasm-chain-integration/CHANGELOG.md
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-test/Cargo.lock
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Expose ability to check legacy Artifacts through FFI.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-transform/Cargo.toml
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/artifact_input.rs
  smart-contracts/wasm-transform/src/artifact_output.rs
  smart-contracts/wasm-transform/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clippy.
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting.
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Reuse locations correctly.
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Simplify jumps, and insert additional invariant checks.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation.
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Changelog.
  smart-contracts/wasm-transform/CHANGELOG.md
Due: none

Preparation for introducing two different cost assignments.
  smart-contracts/wasm-transform/src/lib.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
  smart-contracts/wasm-transform/src/utils.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce V1 config.
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-transform/src/lib.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise costs a bit based on benchmarks.
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Work on cooldown queue.
  haskell-src/Concordium/Types/Accounts.hs
  haskell-src/Concordium/Types/Accounts/CooldownQueue.hs
Due: stack:build-and-test

Support Rust 1.73 on Windows.
  README.md
  Setup.hs
  idiss/README.md
Due: cargo:test-idiss, stack:build-and-test

Add auxiliary type to manage cost semantics versions.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Revise FFI to support reducing costs in p7.
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Revise costs further.
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation and some simplifications.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More documentation about versions.
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add forgotten benchmark file.
  smart-contracts/wasm-transform/benches/validation-time.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update benchmark.
  smart-contracts/wasm-transform/benches/validation-time.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Downgrade criterion to make it possible to compile with 1.73.
  smart-contracts/wasm-transform/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add FFI helper.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Parametrize module lookup cost by protocol version.
  haskell-src/Concordium/Cost.hs
Due: stack:build-and-test

Fix v0 costs.
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add types for CIS3
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/cis3_types.rs
  rust-src/concordium_base/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Cooldown queue serialization.
  Setup.hs
  haskell-src/Concordium/Types/Accounts/CooldownQueue.hs
Due: stack:build-and-test

Derive when possible.
  rust-src/concordium_base/src/cis3_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add serialization for supportsquerypermitparams.
  rust-src/concordium_base/src/cis3_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support Linux and Mac in Idiss-csharp
  idiss-csharp/IdissLib/Idiss.cs
  idiss-csharp/IdissLib/IdissLib.csproj
  idiss-csharp/IdissLib/Types.cs
Due: none

Update IdissLib changelog
  .gitignore
  idiss-csharp/CHANGELOG.md
  idiss-csharp/IdissLib/IdissLib.csproj
Due: none

Update readme of IdissLib
  idiss-csharp/CHANGELOG.md
  idiss-csharp/IdissExample/IdissExample.csproj
  idiss-csharp/IdissLibTest/IdissLibTest.csproj
  idiss-csharp/README.md
Due: none

Add new host function for verifying proofs.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Convert statements.
  rust-src/concordium_base/src/base.rs
  rust-src/concordium_base/src/web3id/mod.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add verify presentation.
  rust-src/concordium_base/src/web3id/mod.rs
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fixes.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation, use better tag for artifactversion.
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/artifact_input.rs
  smart-contracts/wasm-transform/src/artifact_output.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clarify the code for constructing host function stack.
  smart-contracts/wasm-transform/src/machine.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
