Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Print an error message when receive invocation fails.
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Typo.
  haskell-src/Concordium/Genesis/Data/P4.hs
Due: stack:build-and-test

Support for V1 contract state.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Add configure delegation function to mobile wallet library.
  mobile_wallet/src/lib.rs
  rust-bins/wallet-notes/example.c
  rust-bins/wallet-notes/files/2-create_configure_delegation_transaction-input.json
  rust-bins/wallet-notes/files/2-create_configure_delegation_transaction-output.json
  rust-bins/wallet-notes/files/create_configure_delegation_transaction-input.json
  rust-bins/wallet-notes/files/create_configure_delegation_transaction-output.json
  rust-src/crypto_common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Correct the changelog
  smart-contracts/contracts-common/CHANGELOG.md
Due: none

Correct the changelog
  CHANGELOG.md
Due: none

Functions for checking public credentials wrt. hash
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Fix JSON serialization of account staking info
  haskell-src/Concordium/Types/Accounts.hs
Due: stack:build-and-test

Use the new state implementation.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce rust trie implementation.
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/foreign.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix type of create entry.
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix bug in freeze.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Auxliary function.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Transition the counter test to the new state implementation.
  concordium-consensus/testdata/contracts/v1/call-counter.wasm
  concordium-consensus/testdata/contracts/v1/call-counter.wat
Due: none

Collect the size of the trie while freezing it.
  smart-contracts/wasm-chain-integration/benches/trie_benches.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

A basic test for size computation.
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Better naming.
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Tree serialization and accompanying tests.
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation and some renaming per code review.
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Wasm.hs
  haskell-tests/Types/TransactionSummarySpec.hs
Due: stack:build-and-test

Address review comments.
  src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments.
  smart-contracts/contracts-common/src/schema.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update submodule and resolve resulting issues.
  smart-contracts/cargo-concordium/src/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce constants.
  haskell-src/Concordium/Constants.hs
  haskell-src/Concordium/Types/InvokeContract.hs
Due: stack:build-and-test

Fix doc string.
  haskell-src/Concordium/Types/InvokeContract.hs
Due: stack:build-and-test

Make validation compatible with how it is in the rest of the codebase.
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make validation compatible with how it is in the rest of the codebase.
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation and minor fixes.
  smart-contracts/cargo-concordium/src/build.rs
  smart-contracts/cargo-concordium/src/context.rs
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog.
  smart-contracts/cargo-concordium/CHANGELOG.md
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix wording of the comment.
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

.
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

More informative FFI response for V1 init, consistent with receive/resume.
  smart-contracts/cargo-concordium/src/main.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation, code style, and other minor fixes.
  concordium-consensus/testdata/contracts/README.md
  concordium-consensus/testdata/contracts/v1/call-counter.wat
  concordium-consensus/testdata/contracts/v1/self-balance.wat
Due: none

Helper functions for dealing with Wasm names.
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Expose return value even in case of failure.
  haskell-src/Concordium/Types/InvokeContract.hs
Due: stack:build-and-test

..
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

.
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/tests.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

comment
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add constructor helper that serializes the parameter
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
