Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

Fix serialization
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Serilization of TokenAccountState
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Allow both revealing attribute and using it in bullet proofs
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Allow both revealing attribute and using it in bullet proofs
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add authorizations query model
  cddl/cis-7.cddl
Due: none

Simplify auths model
  cddl/cis-7.cddl
Due: none

Revise to agreed format
  cddl/cis-7.cddl
Due: none

Align role revocation with design
  cddl/cis-7.cddl
Due: none

CDDL specification for lock operations.
  cddl/locks.cddl
Due: none

Lock operations.
  cddl/locks.cddl
Due: none

adding tests
  haskell-tests/Generators.hs
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

fixing tests to allign with Rust version
  haskell-tests/Generators.hs
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Fix serialization (#888)
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

Align role names with design doc
  cddl/cis-7.cddl
Due: none

Remove fallback defs for dynamic token module impls
  cddl/cis-7.cddl
Due: none

Re-use metadata url
  cddl/cis-7.cddl
Due: none

Extend CDDL with RBAC (#887)
  cddl/cis-7.cddl
Due: none

Remove additional data from CBOR types, where it is never used
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

changelog
  rust-src/concordium_base/CHANGELOG.md
Due: none

change fixture to example
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Allow both revealing attribute and using it in bullet proofs (#889)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/web3id/v1/proofs.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add support for multiple role assignments in single op (cddl)
  cddl/cis-7.cddl
Due: none

Apply suggestion from @allanbrondum
  cddl/cis-7.cddl
Due: none

Add additional fields back in for metadata url
  cddl/cis-7.cddl
Due: none

Removed the cbor auths query details
  cddl/cis-7.cddl
Due: none

Refactor.
  cddl/locks.cddl
Due: none

pvread
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add token authorizations type
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
Due: stack:build-and-test

feat: initial work for PLT rbac support
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: update changelog and add unit tests. Resolving smaller review comments
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: remove todo comments
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: clippy warning
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: resolve ci build
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove additional data from CBOR types, where it is never used (#894)
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_initialization_parameters.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_module_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

added TODO comment on energy cost for assign revoke roles, so that its clear its temporary until revisited
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: revert to use serde deprecated features
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fix: formatting
  rust-src/concordium_base/src/protocol_level_tokens/token_event.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
