Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lint:fmt:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

lint:clippy:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:build-bench:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-id-service:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

cargo:test-idiss:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

stack:build-and-test:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    LD_LIBRARY_PATH: ${CI_PROJECT_DIR}/rust-src/target/release:$LD_LIBRARY_PATH
    RUSTFLAGS: -Dwarnings
  before_script:
  - if [ -d .stack ]; then echo "restore stack folder"; if [ -d $HOME/.stack ]; then rm -rf $HOME/.stack; fi; mv .stack $HOME/; fi
  ...

PartialEq for CreatePlt.
  rust-src/concordium_base/src/updates.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

feat(idiss): add selectable Go native and Wasm backends
  idiss-go/README.md
  idiss-go/go.mod
  idiss-go/go.sum
  idiss-go/idiss/api.go
  idiss-go/idiss/integration_test.go
  idiss-go/internal/backend/backend_conflict.go
  idiss-go/internal/backend/backend_native.go
  idiss-go/internal/backend/backend_stub.go
  idiss-go/internal/backend/backend_wazero.go
  idiss-go/internal/backend/doc.go
  idiss-go/internal/native/native_stub.go
  idiss-go/internal/wasm/api.go
  idiss-go/internal/wasm/doc.go
  idiss-go/internal/wasm/memory.go
  idiss-go/internal/wasm/runtime.go
  idiss/Cargo.lock
  idiss/Cargo.toml
  idiss/README.md
  idiss/build.rs
  idiss/src/lib.rs
  idiss/src/wasm_exports.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format
  rust-src/concordium_base/src/protocol_level_locks/lock_id.rs
  rust-src/concordium_base/src/protocol_level_locks/mod.rs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Restructure meta_operations.
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/mod.rs
  rust-src/concordium_base/src/transactions.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clippy
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix
  haskell-tests/Types/PayloadSerializationSpec.hs
Due: stack:build-and-test

Revise lock ID.
  cddl/locks.cddl
Due: none

Merge locks CDDL into cis-7 schema.
  cddl/cis-7.cddl
  cddl/locks.cddl
Due: none

Feature-gate serde implementation on LockId.
  rust-src/concordium_base/src/protocol_level_locks/lock_id.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Default handling for cbor fields - specifically `LockConfig::keep_alive`.
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller_simple_v0.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

MetaUpdatePayload decoding should disallow unknown fields.
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add lock query info types + cbor flatten functionality to derive macros
  haskell-src/Concordium/Types/Queries/Tokens.hs
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/protocol_level_locks/mod.rs
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add haskell types for lock info
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Common.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/CHANGELOG.md
Due: stack:build-and-test

Ensure cddl .default decl. for keepAlive field is handled according to dcbor spec
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller_simple_v0.rs
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add test case.
  rust-src/concordium_base/src/protocol_level_locks/lock_controller_simple_v0.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

lock info cbor type naming
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Additional test.
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Format
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

doc
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ar/psr 84 use smart contract trie for key value store (#923)
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Roll back cbor flatten attr macro
  rust-src/concordium_base/src/common/cbor.rs
  rust-src/concordium_base/src/common/cbor/value.rs
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
  rust-src/concordium_base_derive/src/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix rust 1.94 clippy warnings
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/api.rs
  smart-contracts/wasm-chain-integration/src/v1/trie/low_level.rs
  smart-contracts/wasm-transform/src/artifact.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused sigma protocols
  rust-src/concordium_base/src/sigma_protocols/dlogaggequal.rs
  rust-src/concordium_base/src/sigma_protocols/dlogeq.rs
  rust-src/concordium_base/src/sigma_protocols/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add json for lock id haskell type
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
Due: stack:build-and-test

..
  rust-src/concordium_base/src/protocol_level_locks/queries.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Doc.
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix hyperlink
  rust-src/concordium_base/src/common/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move haskell locks implementation into its own modules to align with the rust side.
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Common.hs
  haskell-src/Concordium/Types/Locks.hs
  haskell-src/Concordium/Types/Locks/CBOR.hs
  haskell-src/Concordium/Types/ProtocolLevelTokens/CBOR.hs
  haskell-src/Concordium/Types/Queries/Locks.hs
  haskell-src/Concordium/Types/Queries/Tokens.hs
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Define lock meta-update operations.
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller_simple_v0.rs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
  rust-src/concordium_base/src/protocol_level_tokens/token_holder.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix test build
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Comprehensive tests of added lock types
  haskell-src/Concordium/Types/Locks/CBOR.hs
  haskell-tests/Types/CBOR.hs
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

..
  haskell-src/Concordium/Types/Locks/CBOR.hs
Due: stack:build-and-test

fmt
  haskell-tests/Types/CBOR.hs
Due: stack:build-and-test

Fix test warning
  haskell-tests/Types/TokensSpec.hs
Due: stack:build-and-test

Format
  rust-src/concordium_base/src/protocol_level_locks/lock_controller_simple_v0.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unnecessary serde. Add constructors. Update changelog.
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_locks/lock_config.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller.rs
  rust-src/concordium_base/src/protocol_level_locks/lock_controller_simple_v0.rs
  rust-src/concordium_base/src/protocol_level_tokens/meta_operations.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Extend token account state cbor with locks state
  rust-src/concordium_base/CHANGELOG.md
  rust-src/concordium_base/src/protocol_level_tokens/token_module_account_state.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Refactor RawCbor.
  haskell-src/Concordium/Crypto/ByteStringHelpers.hs
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/CBOR.hs
  rust-src/concordium_base/src/protocol_level_tokens/cbor.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs
