Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Update changelog
  concordium-contracts-common-derive/CHANGELOG.md
Due: none

Address review comments
  .github/workflows/linter.yml
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  smart-contracts/contracts-common/.github/workflows/linter.yml
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add To/FromJSON instance for nextupdatesequencenumbers.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Denominator non zero check for timeoutparamters when deserializing.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Make slot number, slot duration and election difficulty optional. Introduce (optional) current timeout duration, current round, current epoch, and trigger block time.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Address more review comments
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address more review comments
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add transparent attribute for hiding newtype wrappers in derived SchemaType
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add SchemaType documentation
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix typos in derive macro documentation
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix typos in derive macro documentation
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address review comments
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  concordium-contracts-common-derive/CHANGELOG.md
  concordium-contracts-common-derive/src/derive.rs
  concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add SchemaType documentation
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add transparent attribute for hiding newtype wrappers in derived SchemaType
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Produce proper error for field attributes when deriving deserial
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Produce proper error for field attributes when deriving deserial
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update changelog
  smart-contracts/contracts-common/concordium-contracts-common-derive/CHANGELOG.md
Due: none

Introduce type for parsing variant attributes
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce type for parsing variant attributes
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support tag attribute for deriving serialization
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support tag attribute for deriving serialization
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Report state changes in a separate variable.
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Force character encoding of the form to be utf8.
  identity-provider-service/html/attribute_form.html
Due: none

Support tag attribute when deriving SchemaType
  concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support tag attribute when deriving SchemaType
  smart-contracts/contracts-common/concordium-contracts-common-derive/src/derive.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Address comments from code review and update dependency to grpc-api.
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Move Round type to base. Address more review comments. Update dependency to grpc-api.
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Block.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Add OwnedCommitmentInputs
  identity-provider-service/Cargo.lock
  idiss/Cargo.lock
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-src/Cargo.lock
  rust-src/concordium_base/Cargo.toml
  rust-src/concordium_base/src/web3id/mod.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add extra test for nested call without state modifications.
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
Due: none

Revise checkpointing tests.
  smart-contracts/testdata/contracts/v1/checkpointing-2.wasm
  smart-contracts/testdata/contracts/v1/checkpointing-2.wat
Due: none
