Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Check length in new for Contract- and ReceiveName
  smart-contracts/contracts-common/src/constants.rs
  smart-contracts/contracts-common/src/impls.rs
  smart-contracts/contracts-common/src/lib.rs
  smart-contracts/contracts-common/src/schema.rs
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Check length in new for Contract- and ReceiveName
  src/constants.rs
  src/impls.rs
  src/lib.rs
  src/schema.rs
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Some documentation and refinements of host function costs.
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/code/loop-energy.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Introduce initialCredentialIndex. Better clarity and enforcement of invariants around genesis data.
  haskell-src/Concordium/Genesis/Account.hs
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/ID/Types.hs
Due: stack:build-and-test

Add some documentation and update the cost of resize_state.
  smart-contracts/wasm-chain-integration/benches/code/host-functions.wasm
  smart-contracts/wasm-chain-integration/benches/code/host-functions.wat
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/src/constants.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Improve accuracy of errors and document func
  smart-contracts/cargo-concordium/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add conversion from borrowed to owned.
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add conversion from borrowed to owned.
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Implement lower limit for registering a Baker
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/Common/Amount.hs
  haskell-src/Concordium/Genesis/Data.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Switch to main branch for dependency
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Formatting
  smart-contracts/cargo-concordium/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Make Jenkins reuse node
  smart-contracts/cargo-concordium/linux-cargo-concordium.Jenkinsfile
Due: none

Fix serialization of Contract- and ReceiveName
  smart-contracts/contracts-common/src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix serialization of Contract- and ReceiveName
  src/impls.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Apply 1 suggestion(s) to 1 file(s)
  haskell-src/Concordium/Types.hs
Due: stack:build-and-test

Bring up to date with dependencies.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/cargo-concordium/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/simple-game/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/simple-game/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.toml
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/src/lib.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Document and check invariants on genesis parameters.
  haskell-src/Concordium/Genesis/Data/P1.hs
  haskell-src/Concordium/Genesis/Parameters.hs
Due: stack:build-and-test

Clean up LANGUAGE pragmas.
  haskell-src/Concordium/Common/Version.hs
  haskell-src/Concordium/Crypto/BlockSignature.hs
  haskell-src/Concordium/Crypto/DummyData.hs
  haskell-src/Concordium/Crypto/Ed25519Signature.hs
  haskell-src/Concordium/Crypto/Proofs.hs
  haskell-src/Concordium/Crypto/SignatureScheme.hs
  haskell-src/Concordium/ID/Account.hs
  haskell-src/Concordium/ID/DummyData.hs
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Execution.hs
  haskell-src/Concordium/Types/HashableTo.hs
  haskell-src/Data/Base58Encoding/TH.hs
  haskell-tests/ConcordiumTests/Crypto/BlsSignature.hs
  haskell-tests/ConcordiumTests/ID/Types.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  haskell-tests/Types/TransactionGen.hs
Due: stack:build-and-test

Slightly improved error messages.
  smart-contracts/cargo-concordium/src/schema_json.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use the Rust naming convention "new_unchecked".
  src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Use the Rust naming convention "new_unchecked".
  smart-contracts/contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update concordium-common/std dependencies to rename unchecked_new to new_unchecked.
  smart-contracts/cargo-concordium/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/context-test/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/counter/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/erc20/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/escrow/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/every-example/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/fib/src/lib.rs
  smart-contracts/rust-contracts/example-contracts/lockup/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/rate-limited/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/Cargo.lock
  smart-contracts/rust-contracts/example-contracts/use-all-host-functions/src/lib.rs
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix typos in documentation.
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Ensure bounds correctly.
  smart-contracts/wasm-chain-integration/src/lib.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Propagate log events changes to the scheduler tests.
  concordium-consensus/testdata/contracts/log-event-tests.wasm
  concordium-consensus/testdata/contracts/log-event-tests.wat
Due: none

Unify checks for valid names.
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/types.rs
  smart-contracts/wasm-transform/src/validate.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Fix naming of Bakerstakethresholdpayload
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Add more logging to request handling.
  identity-provider-service/src/bin/main.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Allow key parsing from string, defaulting to ed25519 signature scheme.
  identity-provider-service/data/valid_request.json
  rust-src/id/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Support for transaction cost revision.
  .gitignore
  haskell-src/Concordium/ID/Types.hs
  haskell-src/Concordium/Types/Transactions.hs
  haskell-src/Concordium/Wasm.hs
Due: stack:build-and-test

Support registering data on chain
  concordium-base.cabal
  haskell-src/Concordium/Types/Execution.hs
  haskell-tests/Spec.hs
  haskell-tests/Types/Execution/RegisteredDataSpec.hs
Due: stack:build-and-test
