Repository Concordium/concordium-base: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Path conditions:
  lint:fmt: any of: **/*.rs
  lint:clippy: any of: **/Cargo.toml, **/*.rs
  cargo:build-bench: any of: **/Cargo.toml, **/*.rs
  cargo:test: any of: **/Cargo.toml, **/*.rs
  cargo:test-id-service: any of: **/Cargo.toml, **/*.rs
  cargo:test-idiss: any of: **/Cargo.toml, **/*.rs, identity-provider-service/data/global.json, identity-provider-service/data/valid_request.json, identity-provider-service/data/anonymity_revokers.json, identity-provider-service/data/identity_provider.pub.json, idiss/*
  stack:build-and-test: any of: **/Cargo.toml, **/*.rs, **/*.yaml, **/*.hs

Upgrade compiler tooling and libraries. (#283)
  .github/workflows/build-test-sources.yaml
  haskell-src/Concordium/Common/Version.hs
  haskell-src/Concordium/Crypto/EncryptedTransfers.hs
  haskell-src/Concordium/Types/ProtocolVersion/TH.hs
  haskell-src/Concordium/Utils.hs
  haskell-src/Concordium/Utils/Serialization/Put.hs
  haskell-src/Data/FixedByteString.hs
  haskell-tests/Types/AddressesSpec.hs
  haskell-tests/Types/PayloadSerializationSpec.hs
  stack.yaml
Due: stack:build-and-test

Remove finalization proof gas rewards in chain parameters version 2.
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Update some dependencies to handle deprecated versions and security advisories.
  mobile_wallet/Cargo.lock
  rust-bins/Cargo.lock
  rust-bins/Cargo.toml
  rust-bins/src/bin/identity_provider_cli.rs
  rust-bins/src/bin/trace_account.rs
  rust-bins/src/bin/user_cli.rs
  rust-bins/src/lib.rs
  rust-src/Cargo.lock
  rust-src/aggregate_sig/Cargo.toml
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add supportsAccountAliases helper
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Add lenses for consensus parameters and introduce IsParameterType.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Add helper function.
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Some instances
  haskell-src/Concordium/Common/Time.hs
  haskell-src/Concordium/Types.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

instances
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Parameters
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Parameters
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

fixes
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

formatting
  haskell-src/Concordium/Common/Time.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Parameters.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Genesis/Data/P4.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
Due: stack:build-and-test

Add helper to display amount in a more readable format.
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Parameters.
  haskell-bins/genesis/Genesis.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Add helper to display token amount with decimals.
  rust-src/concordium_base/src/cis2_types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Parameters
  haskell-src/Concordium/Types/Queries.hs
Due: stack:build-and-test

Build with stack 2.9.1. Update cabal file.
  concordium-base.cabal
Due: none

Parameters
  haskell-bins/generate-update-keys/Main.hs
  haskell-src/Concordium/Genesis/Data/Base.hs
  haskell-src/Concordium/Genesis/Parameters.hs
  haskell-src/Concordium/Types/Migration.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Add implementation for std::hash::Hash for HashBytes
  rust-src/concordium_base/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Move grpc2 types to base.
  .github/workflows/build-test-sources.yaml
  .gitmodules
  Setup.hs
  concordium-base.cabal
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Queries.hs
  package.yaml
Due: stack:build-and-test

Fix CI.
  .github/workflows/build-test-sources.yaml
Due: stack:build-and-test

Fix compilation of concordium-base.
  rust-src/concordium_base/src/base.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Explicit Eq impl for HashBytes
  rust-src/concordium_base/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Update rust-src/concordium_base/src/hashes.rs
  rust-src/concordium_base/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

fit fmt error
  rust-src/concordium_base/src/hashes.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add `protoc` to requirements for building concordium-base.
  README.md
Due: none

Parameters and formatting
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/Queries.hs
  haskell-src/Concordium/Types/UpdateQueues.hs
  haskell-src/Concordium/Types/Updates.hs
  haskell-tests/Generators.hs
  haskell-tests/Types/UpdatesSpec.hs
Due: stack:build-and-test

Fix deserialization of chain update payloads for new protocol version
  haskell-src/Concordium/Types/Updates.hs
Due: stack:build-and-test

Add display implementations.
  smart-contracts/contracts-common/concordium-contracts-common/CHANGELOG.md
  smart-contracts/contracts-common/concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Add display implementations.
  concordium-contracts-common/CHANGELOG.md
  concordium-contracts-common/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Clean up tests in wasm-transform.
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
  smart-contracts/wasm-transform/src/parse.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Prepare wasm-transform for publishing.
  rust-bins/Cargo.lock
  smart-contracts/README.md
  smart-contracts/wasm-chain-integration/Cargo.lock
  smart-contracts/wasm-chain-integration/Cargo.toml
  smart-contracts/wasm-chain-integration/benches/v1-host-functions.rs
  smart-contracts/wasm-chain-integration/benches/wasm.rs
  smart-contracts/wasm-chain-integration/fuzz/fuzz_targets/interpreter.rs
  smart-contracts/wasm-chain-integration/src/lib.rs
  smart-contracts/wasm-chain-integration/src/resumption.rs
  smart-contracts/wasm-chain-integration/src/utils.rs
  smart-contracts/wasm-chain-integration/src/v0/ffi.rs
  smart-contracts/wasm-chain-integration/src/v0/mod.rs
  smart-contracts/wasm-chain-integration/src/v0/types.rs
  smart-contracts/wasm-chain-integration/src/v1/crypto_primitives_tests.rs
  smart-contracts/wasm-chain-integration/src/v1/ffi.rs
  smart-contracts/wasm-chain-integration/src/v1/mod.rs
  smart-contracts/wasm-chain-integration/src/v1/types.rs
  smart-contracts/wasm-chain-integration/src/validation_tests.rs
  smart-contracts/wasm-test/Cargo.lock
  smart-contracts/wasm-test/Cargo.toml
  smart-contracts/wasm-test/src/main.rs
  smart-contracts/wasm-transform/CHANGELOG.md
  smart-contracts/wasm-transform/Cargo.toml
  smart-contracts/wasm-transform/Changelog.md
  smart-contracts/wasm-transform/README.md
  smart-contracts/wasm-transform/src/artifact.rs
  smart-contracts/wasm-transform/src/lib.rs
  smart-contracts/wasm-transform/src/machine.rs
  smart-contracts/wasm-transform/src/metering_transformation.rs
  smart-contracts/wasm-transform/src/metering_transformation_test.rs
  smart-contracts/wasm-transform/src/output.rs
  smart-contracts/wasm-transform/src/parse.rs
  smart-contracts/wasm-transform/src/types.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Remove unused code.
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test

Documentation.
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

Formatting
  haskell-src/Concordium/Types/Parameters.hs
Due: stack:build-and-test

fix doc and add missing grpcv2 payload conversions
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Parameters.hs
  smart-contracts/wasm-chain-integration/Cargo.lock
Due: stack:build-and-test

Fix UpdateQueues
  haskell-src/Concordium/Types/UpdateQueues.hs
Due: stack:build-and-test

Add display implementation for contract parameters.
  rust-src/concordium_base/src/smart_contracts.rs
Due: lint:fmt, lint:clippy, cargo:build-bench, cargo:test, cargo:test-id-service, cargo:test-idiss, stack:build-and-test

Documentation
  haskell-src/Concordium/GRPC2.hs
  haskell-src/Concordium/Types/Parameters.hs
  haskell-src/Concordium/Types/ProtocolVersion.hs
Due: stack:build-and-test
